.content_aranceles_consulares_wrapper
    .img_wrapper
        margin-bottom: 70px
        > span:last-child
            overflow-y: scroll
            width: 100%
            table
                font-size: 17px
                width: 100%
                tr
                    white-space: nowrap
                    border-bottom: 1px dashed #595757
                    &:first-child
                        border-bottom: 1px solid #595757
                    &.text_bold
                        color: #595757
                    &.bg
                        background-color: #DADADA
                        border-top: 1px solid #595757
                        border-bottom: 1px solid #595757
                    th
                        // font-weight: bold
                        padding: 0 30px
                        color: #595757
                        &:last-child
                            text-align: right
                    td 
                        padding: 1px 30px
                        &:first-child
                            text-align: center
                        &:last-child
                            text-align: right
    .body
        font-size: 17px
        h2
            color: #595757
            font-size: 17px
            font-weight: bold
            margin-bottom: 25px
        ol
            list-style: decimal
            padding-left: 18px
            li
                display: list-item
        