include mixin/cover-banner
include mixin/head

doctype html
html.page-direccion
  +head('Address')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/direccion_banner.jpg', '480px')
      .content.container.my-5
        h1 Address
        .d-flex
          strong.mr-2 Address:
          p 7th. Floor No. 9-1 Lane 62 Tien Mu West Rd. Taipei, Taiwan

        .d-flex
          strong.mr-2 Tel:
          p  (02) 2873-6310 2873-6311 
        .d-flex
          strong.mr-2 FAX:
          p (02) 2873-6312 
        .d-flex
          strong.mr-2 Email:
          p embapartaiwan@embapartwroc.com.tw 
        .d-flex
          strong.mr-2 EMERGENCY TELEPHONE NUMBER:
          p (+886) 928-391-360 

        p(style="color:#B80D23") * This number is only for emergencies.

        br
        h5 PUBLIC TRANSPORT
        p 1.Nearest metro station: Shipai, Danshui Line (red).
        p 2.Taxi or bus can be taken from the Shipai station (approx 10 mins.)
        p 3.To take bus: Leaving the MRT station turn right, in front of KFC there are bus stops. The buses that arrive are:

        p(style="color:#B80D23") Red 12
        p(style="color:#B80D23") Red 19
        p 645
        p Get off at the Zhengxing Hospital Estation stop (one stop after the Veteran Hospital).

       
      include components/google_map          
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
