include mixin/cover-banner
include mixin/head

doctype html
html.page-direccion
  +head
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/direccion_banner.jpg', '480px')
      .content.container.my-5
        h1 DIRECCION
        .d-flex
          strong.mr-2 Dirección:
          p 7th. Floor No. 9-1 Lane 62 Tien Mu West Rd. Taipei, Taiwan 
        .d-flex
          strong.mr-2 Teléfono:
          p (02) 2873-6310 2873-6311 
        .d-flex
          strong.mr-2 FAX:
          p (02) 2873-6312 
        .d-flex
          strong.mr-2 Correo electrónico:
          p embapartaiwan@embapartwroc.com.tw 
        .d-flex
          strong.mr-2 Teléfono de emergencia:
          p (+886) 0928-391-360 
        p(style="color:#B80D23") *Este número es sólo para casos de emergencia. 
        br
        h5 TRANSPORTE PÚBLICO
        p 1. Estación de Metro más cercana: Shipai, Línea Danshui (roja). 
        p 2. Se puede tomar taxi o bus al salir de la estación Shipai (aprox. 10 mins.) 
        p 3. Para tomar bus: Saliendo de la estación MRT girar hacia la derecha, delante de KFC hay paradas de buses. 
        p Los buses que llegan son: 
        p(style="color:#B80D23") Red 12 (紅12) 
        p(style="color:#B80D23") Red 19 (紅19)
        p 645
        p 902
        p Se baja en la parada Zhengxing Park (una parada después del Hospital Veterano). Qixian Mainsion
      include components/google_map          
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
