include mixin/cover-banner
include mixin/head

doctype html
html.page-direccion
  +head('DIRECCION')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/direccion_banner.jpg', '480px')
      .content.container.my-5
        h1 聯絡地址
        .d-flex
          strong.mr-2 地址：
          p 台北市天母西路62巷9-1號7樓
        .d-flex
          strong.mr-2 電話：
          p  (02) 2873-6310 2873-6311 
        .d-flex
          strong.mr-2 傳真：
          p (02) 2873-6312 
        .d-flex
          strong.mr-2 電子郵件：
          p embapartaiwan@embapartwroc.com.tw 
        .d-flex
          strong.mr-2 緊急電話:
          p (+886) 0928-391-360 
        p(style="color:#B80D23") *急難救助電話專供緊急求助之用(如車禍、搶劫、有關生命安危緊急情況等)，非急難重大事件，請勿撥打；
          br
          | 一般護照、簽證等事項，請於上班時間以辦公室電話查詢。

        br
        h5 公共交通
        p 1.最近捷運站：石牌，淡水線 (紅)
        p 2.出捷運站可轉搭公車或搭乘計程車 (約十分鐘車程)  
        p 3.轉公車：出捷運站右轉，於肯德基前的公車站牌搭乘：紅12, 紅19, 645
        p 4.於振興公園 (榮總下一站) 或齊賢華廈下車
       
      include components/google_map          
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
