include mixin/cover-banner
include mixin/head

doctype html
html
  +head('HEAD OF MISSION')
  body.page-mission
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/embassy_mision_banner.png', '343px')
      .content.container.my-5
        h1.mb-3 HEAD OF MISSION
        h4 AMBASSADOR
        h4 MARCIAL BOBADILLA GUILLÉN
        
        .row
          .image.col-auto.mb-5
            img(src='./images/mission.png', alt='')
          .wrap.col
            .wrap.mb-5
              h4 PERSONAL INFORMATION
              .row.mt-3
                div.col-2
                  p Surnames：
                div.col
                  p Bobadilla Guillén
              .row.mt-2
                div.col-2
                  p Name：
                div.col
                  p Marcial
              .row.mt-2
                div.col-2
                  p Birthdate:
                div.col
                  p August 23, 1951
              .row.mt-2
                div.col-2
                  p Wife:
                div.col
                  p Norma Días de Bobadilla
              .row.mt-2
                div.col-2
                  p Son:
                div.col
                  p Luis Enrique Bobadilla Días       
                  
            .wrap.mb-5
                h4 EDUCATION
                div.wrap
                p 1976 Faculty of Law and Social Sciences National University of Asunción (UNA) Obtained Title: Attorney 
                
        h4 DIPLOMATIC CAREER
        div.p-3.mb-3
          ul.timeline
            li.d-block.ml-0.pb-5
              h4 2013
              p Ambassador Extraordinary and Plenipotentiary of the Republic of Paraguay in the Republic of China (Taiwan). - 2013 to date.
            li.d-block.ml-0.pb-5
              h4 2012
              p Director General of Special Affairs. Ministry of Foreing Affairs. National contact point to: Inter-American Drug Abuse Control Commission (CICAD), Inter-American Committee against Terrorism (CICTE), UNODC - United Nations Office on Drugs and Crime.
            li.d-block.ml-0.pb-5
              h4 2008 - 2011
              p Ambassador Extraordinary and Plenipotentiary of the Republic of Paraguay to the Federation of Russia. Also concurrent with the following countries: Armenia, Azerbaijan, Belarus, Kazakhstan and Uzbekistan.
            li.d-block.ml-0.pb-5
              h4 2008 - 2009
              p Dean of the Group of Countries of Latin America and of the Caribbean Sea GRULAC in Moscow. 
            li.d-block.ml-0.pb-5
              h4 2004 - 2005
              p Deputy Minister for Administration and Technical Issues - Ministry of Foreing Affairs. 
            li.d-block.ml-0.pb-5
              h4 2003
              p Director General of Cabinet - Ministry of Foreing Affairs. 
            li.d-block.ml-0.pb-5
              h4 2003
              p Minister of the Embassy of Paraguay to the United States, Chargé d’Affaires.
            li.d-block.ml-0.pb-5
              h4 1999
              p Minister of the Embassy of Paraguay to Germany.
            li.d-block.ml-0.pb-5
              h4 1997
              p Minister Chargé d’Affaires of the Republic of Paraguay to the Federation of Russia 
            li.d-block.ml-0.pb-5
              h4 1993 - 1997
              p Minister Chargé d’Affaires of the Republic of Paraguay to the Federation of Russia 
            li.d-block.ml-0.pb-5
              h4 1991- 1993
              p Interim Representative. Interim Representative. Chargé d'affaires a.i. of the Permanent Mission of Paraguay to the Organization of American States OAS. 
            li.d-block.ml-0.pb-5
              h4 1988 – 1990
              p Alternate Representative of Paraguay to the Organization of American States OAS. 
            li.d-block.ml-0.pb-5
              h4 1986
              p First Secretary of the Embassy of Paraguay to the United States.
            li.d-block.ml-0.pb-5
              h4 1980
              p Second Secretary of the Embassy of Paraguay to the United States.
            li.d-block.ml-0.pb-5
              h4 1979
              p Official Embassy of Paraguay in the United States of America.
                
              
        h4.mb-4 LANGUAGES
        ul
          li.pb-3 Spanish
          li.pb-3 Guaraní
          li.pb-3 English
          li.pb-3 Portuguese 
          li.pb-3 Russian (Basic)

        
      include components/footer
      //- include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
