include mixin/cover-banner
include mixin/head

doctype html
html
  +head('JEFE DE MISION')
  body.page-mission
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/embassy_mision_banner.png', '343px')
      .content.container.my-5
        h1.mb-3 館長
        h4 簡歷
        h4 柏馬紹
          br
          | (MARCIAL BOBADILLA GUILLÉN)
        
        .row
          .image.col-auto.mb-5
            img(src='./images/mission.png', alt='')
          .wrap.col
            .wrap.mb-5
              h4 個人資料
              .row.mt-3
                div.col-2
                  p 姓：
                div.col
                  p 柏 (Bobadilla Guillén)
              .row.mt-2
                div.col-2
                  p 名：
                div.col
                  p 馬紹 (Marcial)
              .row.mt-2
                div.col-2
                  p 生日：
                div.col
                  p 1951年8月23日
              .row.mt-2
                div.col-2
                  p 配偶：
                div.col
                  p 迪諾瑪 (Norma Días de Bobadilla)
              .row.mt-2
                div.col-2
                  p 兒子：
                div.col
                  p 柏路易 (Luis Enrique Bobadilla Días)
                  
            .wrap.mb-5
                h4 學歷
                div.wrap
                p 1976 國立亞松森大學法律暨社會科學學院，考取證照：律師
                
        h4 外交經歷
        div.p-3.mb-3
          ul.timeline
            li.d-block.ml-0.pb-5
              h4 2013
              p 巴拉圭共和國駐中華民國 (台灣)大使館特命全權大使 - 2013 迄今。
            li.d-block.ml-0.pb-5
              h4 2012
              p 巴拉圭外交部特別事務司司長。國家對以下單位之聯絡窗口：美洲反恐怖主義委員會（CICTE-OAS），美洲藥物濫用管制委員會（CICAD-OAS），聯合國毒品和犯罪問題辦公室（UNODC）, 以針對打擊恐怖主義、安全、打擊毒品販運、洗錢、販運武器、打擊腐敗及組織犯罪等問題。
            li.d-block.ml-0.pb-5
              h4 2008 - 2011
              p 巴拉圭駐俄羅斯聯邦特命全權大使。於亞美尼亞共和國, 亞塞拜然, 白俄羅斯, 哈薩克共和國及烏茲別克有同等權利。
            li.d-block.ml-0.pb-5
              h4 2008 - 2009
              p 拉丁美洲及加勒比海國家駐莫斯科使節團團長。
            li.d-block.ml-0.pb-5
              h4 2004 - 2005
              p 巴拉圭外交部行政暨技術事務次長。
            li.d-block.ml-0.pb-5
              h4 2003
              p 巴拉圭外交部機要事務司司長. 升大使。
            li.d-block.ml-0.pb-5
              h4 2003
              p 巴拉圭駐美國公使代辦。
            li.d-block.ml-0.pb-5
              h4 1999
              p 巴拉圭駐德國公使。
            li.d-block.ml-0.pb-5
              h4 1997
              p 巴拉圭駐俄羅斯聯邦公使代辦。
              p 巴拉圭外交部政治組組長。
           
            li.d-block.ml-0.pb-5
              h4 1991- 1993
              p 巴拉圭駐美洲國家組織臨時常駐代表。代表巴拉圭政府接受美洲人權法院的管轄權。
            li.d-block.ml-0.pb-5
              h4 1988 – 1990
              p 巴拉圭駐美洲國家組織輪流代表。 
            li.d-block.ml-0.pb-5
              h4 1986
              p 巴拉圭駐美國一等秘書。
            li.d-block.ml-0.pb-5
              h4 1980
              p 巴拉圭駐美國二等秘書。
            li.d-block.ml-0.pb-5
              h4 1979
              p 巴拉圭駐美國委任科員。
                
              
        h4.mb-4 語言
        ul
          li.pb-3 西班牙語
          li.pb-3 瓜拉尼語
          li.pb-3 英語
          li.pb-3 葡萄牙語
          li.pb-3 俄語 (基礎)


        
      include components/footer
      //- include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
