include mixin/cover-banner
include mixin/head

doctype html
html
  +head('DIPLOMATIC AND ADMINISTRATIVE OFFICERS')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/staff_banner.jpg', '480px')
      .content.container.my-5
        h1 DIPLOMATIC AND ADMINISTRATIVE OFFICERS
        h5 Members of Diplomatic and Administrative Staff

        p HE. Marcial Bobadilla Guillén .............. Ambassador 
        p Mr. Carlos Vidal Pintos .............. Counselor
        p Cnel. DEM. Atanasio Bogado González ... Defense Attaché
        p Ms. Zaide Macarena Barboza López ........... Commercial Attaché

        br

        h5 Secretaries

        p Ms. Hsu, Ching-Huei
        p Ms. Jenq, Sheau-Pyng
        p Ms. Lin, Yi-Yin
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
