include mixin/cover-banner
include mixin/head

doctype html
html
  +head('OPEN TO THE PUBLIC')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/service_time_banner.jpg', '480px')        
      .content.container.my-5
        h1 OPEN TO THE PUBLIC
        p The Embassy's opening hours to the public are:
        p from Monday to Friday from 9:00 a.m. to 12:00 p.m. and from 1:00 p.m. to 4:00 p.m.
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
