include mixin/cover-banner
include mixin/head

doctype html
html
  +head('FUNCIONARIOS DIPLOMATICOS Y ADMINISTRATIVOS')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/staff_banner.jpg', '480px')
      .content.container.my-5
        h1 人員組織
        h5 外交官員及行政人員 
        p 柏馬紹 先生 .............. 大使 
        p 彬文勇 先生 .............. 參事
        p 雷卡諾 先生 .............. 一等秘書
        p 博安修 上校 .............. 國防武官
        p 巴玉蓮 小姐 .............. 商務專員
        p 
        h5 行政祕書 
        p 徐菁蕙 小姐
        p 鄭曉萍 小姐
        p 林羿吟 小姐
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
