include mixin/cover-banner
include mixin/head

doctype html
html
  +head('ATENCIÓN AL PÚBLICO')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/service_time_banner.jpg', '480px')        
      .content.container.my-5
        h1 開放時間
        p 對外開放時間(12:00 – 13:00為中午休息時間)：
        p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;送件時間為周一至周五，09:00 – 11:30
        p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;取件時間為周一至周五，13:30 – 16:00
        p ※所有認證文件均需三個工作天〈不包含送件當天〉
        p ※簽證至少需要五個工作天以上〈不包含送件當天〉
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
