include mixin/cover-banner
include mixin/head

doctype html
html
  +head('文化')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/cultura_banner.png', '480px')
      .content.container.my-5
        h1 文化
        h5 概況
        p 巴拉圭因其獨有的特性更顯現出當地的特別之處。歐洲殖民時帶入的西班牙文化及當地原有的瓜拉尼文化，此兩方面交出的文化結晶，不僅僅只是顯現於其外，更反應在該國的靈魂深處。
        p 巴拉圭也是南美唯一使用西班牙語及瓜拉尼語為其官方語言的國家。雖然殖民時期強勢輸入的文化及該語言可視為一個可探討的現象，但其瓜拉尼語及文化卻仍深殖該國並延續至今。
        p 這兩個文化的融合和鞏固可以歸功到瓜拉尼把他們的女兒以及姐妹們交給殖民者，使得政治關係變成了家族關係，同時也形了一個更堅固及長久的關係。
        p 在此聯姻所產下的小孩，其地位為西班牙人之子，同時也是這多元又複雜的巴拉圭社會以及文化的潤滑劑和主力，同時也是文化發展的推手。
        p 在巴拉圭之所有文化表現上得以看見這兩個文化的共存，形成一個非常獨特的情況。
        p 雖然瓜拉尼不具自己的有文字，但是仍然傳承了許多，來至於哥倫布前遙遠過的去觀念和民間傳統。但傳承了一系列的藥草知識和傳統醫學，烹飪，手工藝品，民間常識，格言，和民間故事，其中以原文述說更別有味道。
        h5 音樂和舞蹈
        p 在其文化表現上，巴拉圭的音樂最為特別，同時也不外乎兩個文化的融合。耶穌教會在巴拉圭時的文獻證實了原住民對於樂器彈奏的擅長。
        p 如曾經一位作家所言巴拉圭人具有音樂天份，而這項天份同時對於其創作能力有相當大的助益。如：何希亞松森佛雷斯(José Asunción Flores)、恩捕卡歐以及卡阿迪 (Mburica’ó y Kaaty )、耶爾米尼歐西梅內斯(Herminio Jiménez)的阿爾多巴拉那以及我森林裡歌 (Alto Paraná y Canto de mi Selva)、馬烏里希歐卡爾多左歐坎柏(Mauricio Cardozo Ocampo)的鳥兒之鐘 (Pájaro Campana)、底梅迪歐爾提斯(Demetrio Ortiz)的依巴拉卡依之回憶(Recuerdo de Yparacaí)、 迪格挪價西亞(Digno García)的瀑布(Cascada )、佛羅丁西梅內斯(Florentín Giménez)等，均為其天份之實證。同時另有其他作曲家如：Agustín Barboza, Emigdio Ayala,Baéz, Juan Moreno Gonzáles, Emilio Biggi, Juan Max Boether, Remberto Giménez, Prudencio Giménez, Emiliano R. Fernádez。
        p 巴拉圭人常以音樂來傳遞感情。其開朗之個性得以從巴拉圭的波爾卡(Polca)節奏體驗，其憂傷與懷舊得以從瓜拉尼亞(Guaranía)聽取，此外，其遺憾及感嘆均表現在purahei jah’ó的悲歌(Canto triste)裡，以上音樂為1985年由何希亞松森佛雷斯所創作的曲風。
        p 用來彈奏巴拉圭的傳統音樂有：豎琴(Arpa)於17世紀由耶穌會教士所引進，該琴由８條弦所組成。其著名的演奏家為：Félix Pérez Cardozo, Digno García, Luís Bordón, Nicolás Caballero。另外吉他，伴隨殖民者來到當地，其著名的演奏者同時也是著名的作曲家有：Agustín Pio Barrios-Mangoré，另外其追隨者有：Sila Godoy, Felipe Sosa, Berta Rojas,等等。
        p 另一方面與音樂相當密切的為舞蹈，巴拉圭有兩個主要的舞蹈風格，一個來自於歐洲如：Londón Karape, Golndriana, Cielito, Autóctona等等。同時Galoperas和Botella 也相當具有國際知名度。在巴拉圭的舞蹈中包含了其傳統華麗的服飾有：aho apoi 和el ñanduti。
        h5 文學
        p 巴拉圭大量的文學出品必須追溯到十九世紀Carlos Antonio Lopez 執政時期，受到歐洲學者的影響，重新賦予了其文化的生命力。
        p 在那時期有El Semanario 及 El Paraguayo Independiente 二個報社，使得巴拉圭浪漫主義的先驅能刊登他們的文學作品。在巴拉圭三聯之戰（Guerra de la Triple Alianza）後有許多著名的作家如：Cecilio Báez, Manuel Domínguez, Juan E. O´Leary。另外，還有現代主義代表作家如：Herib Campos Cervera, Eloy Fariña Núñez, Alejandro Guanes, Natalicio González, Manuel Ortiz Guerrero。詩人Elvio Romero，小說家Gabriel Casaccia及1989年贏得西班牙塞萬堤斯文學獎的Augusto Roa Bastos，這些人的傑出貢獻使得巴拉圭的文學更為豐富。此外，還有許多傑出的文學作家如：José María Sanjurjo, José Luis Appleyard, Ramiro Domínguez, Rubén Bareiro Saguier, Josefina Pla。
        h5 造型藝術
        p 關於造型藝術，很多巴拉圭藝術作品的根源都是來自於宗教，其中一個例子就是，許多肖像作品混合了西班牙巴洛克風格及印第安藝術，而這些作品都源自於天主教方濟會代表團或是基督教的印第安人部落。 </br>繪畫作品代表有：Pablo Alborno, Juan Samundio, Roberto Holden Jara, Ignacio Núñez Soler, Pablo Delgado Rodas, Guillermo Da Re, Guido Boggiani, 而現代作品代表作家有：Carlos Colombino, Ricardo Migliorissi, Félix Toranzos。
        h5 手工藝
        p 如同其它文化的呈現，手工藝作品也是多元化的，印第安人很擅長於竹編、羽毛、陶瓷器、編織作品如：ahopoi和ñanduti。而西班牙文的貢獻在於煉鐵技術、金銀、珠寶手工藝、木雕、皮革作品及刺繡花邊。
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
