include mixin/cover-banner
include mixin/head

doctype html
html
  +head('Cultural')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/cultura_banner.png', '480px')
      .content.container.my-5
        h1 Cultural
        
        p Paraguay’s local characteristics are manifested due to its unique features; the product created by the Spanish culture brought in by Europe during the colonial period and the existing local Guarani culture is not only manifested on the outside, but also reflected deep within the soul of the country.  

        p Paraguay is also the only country in South America that uses both Spanish and Guarani as its official languages; although the culture and language aggressively brought in during the colonial period are deemed as a phenomenon that can be explored, the Guarani language and culture are still deeply rooted in the country and continued to this day. 
        p The integration and consolidation of these two cultures can be attributed to the Guarani people giving their daughters and sister to the colonizers, which transformed the political relationship into a family relationship, forming a stronger and longer tie at the same time. 
        p Children who are born under this marriage are regarded as children of the Spanish, the lubricant and main force of this multivariate and complex Paraguay society and culture, and the driving force of cultural development. 

        p The coexistence of these two cultures can be seen on all cultural manifestations of Paraguay, which has formed an especially unique situation. 
        p Although the Guarani people do not have their own words, they have inherited many ideas and folk traditions from the ancient time before Columbus, and a series of herb knowledge and traditional medicine, culinary, handicrafts, common folk knowledge, mottos, and folklores, with the original narration being the most intriguing
        h5 Music and dance 
        p Paraguay’s music is the most unique section of its cultural manifestation along with the integration of the two cultures; Society of Jesus’s literatures in Paraguay have proved that the aborigines are experts at playing musical instruments. 
        p A writer once said that the Paraguayans are musical talents, and this talent is also immensely beneficial to their creative ability, for example José Asunción Flores, Mburica’ó and Kaaty, Herminio Jiménez’s Alto Paraná y Canto de mi Selva, Mauricio Cardozo Ocampo’s Pájaro Campana, Demetrio Ortiz’s Recuerdo de Yparacaí, Digno García’s Cascada, and Florentín Giménez, are all evidence of this talent; other composers include Agustín Barboza, Emigdio Ayala,Baéz, Juan Moreno Gonzáles, Emilio Biggi, Juan Max Boether, Remberto Giménez, Prudencio Giménez, and Emiliano R. Fernádez. 
        p Paraguayans often express their emotions through music as their cheerful personality can be experienced from Paraguay’s Polca rhythm, their sadness and nostalgic can be heard from Guaranía, and regret and exclamation expressed in purahei jah’ó’s sad song Canto triste; the above music was the genre created by José Asunción Flores in 1985. 
        p Musical instruments used to play traditional Paraguayan music include Arpa, an instrument formed with 8 strings that was introduced by the missionaries of the Society of Jesus during the 17th century, with its famous performers including Félix Pérez Cardozo, Digno García, Luís Bordón, and Nicolás Caballero, and guitar, which came to the country along with the colonizers, with its famous performer who was also a renowned composer being Agustín Pio Barrios-Mangoré, and followers including Sila Godoy, Felipe Sosa, and Berta Rojas. 

        p Another aspect that is closely related with music is dance; Paraguay has two major dance styles, one that came from Europe including Londón Karape, Golndriana, and Autóctona, and another being the internationally renowned Galoperas and Botella. Traditional and flamboyant apparels included in Paraguayn dances include aho apoi and el ñanduti.

        h5 Literature
        p The significant quantity of Paraguayan literature must be traced back to the reign of Carlos Antonio Lopez during the 19th century when literature was influenced by European scholars and was reassigned with the vitality of its culture.  
        p The two newspaper offices at the time being El Semanario and El Paraguayo Independiente allowed romanticism pioneers in Paraguay to publish their literature works; there were many renowned writers after the War of the Triple Alliance including Cecilio Báez, Manuel Domínguez, and Juan E. O´Leary, representative modernist writers including Herib Campos Cervera, Eloy Fariña Núñez, Alejandro Guanes, Natalicio González, and Manuel Ortiz Guerrero, along with poet Elvio Romero, novelist Gabriel Casaccia, and Augusto Roa Bastos who won the Miguel de Cervantes Prize in 1989. The outstanding contributions of these figures have enriched the literature sector of Paraguay; in addition, there are also many exceptional literary writers including José María Sanjurjo, José Luis Appleyard, Ramiro Domínguez, Rubén Bareiro Saguier, and Josefina Pla. 
        h5 Plastic art
        p Regarding plastic arts, the root of many Paraguayan artworks came from religion, with one example being the many portraits have blended in the styles of Baroque and Indian art, and these artworks are all derived from Catholic Franciscan delegations or Christian Native Indian tribes.
        p Representative portraits include: Pablo Alborno, Juan Samundio, Roberto Holden Jara, Ignacio Núñez Soler, Pablo Delgado Rodas, Guillermo Da Re, and Guido Boggiani; representative contemporary artists include: Carlos Colombino, Ricardo Migliorissi, and Félix Toranzos.

        h5 Handicrafts 
        p In line with other cultural manifestations, Paraguayan handicrafts are also diversified; the Native Indians are skilled at bamboo, feathers, ceramics, and weaved products including ahipoi and ñanduti; the contributions of the Spanish being iron making technology, gold and silver, jewelry crafts, wood carvings, leatherworks, and embroidered laces.
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
