include mixin/cover-banner
include mixin/head

doctype html
html
  +head('經濟')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/economia_banner.png', '480px')
      .content.container.my-5
        h1 經濟    
        p 巴拉圭最主要的經濟活動為農業，然而其工商有顯明的成長，另外在近年來畜牧業也有很好的表現。其主要生產的產品為黃豆，棉花，蔗糖，玉米，麥，煙草，水果，蔬菜，牛／豬肉，牛奶，木材。然而國內其他產業也同時具有很好的表現如，玻璃，水泥，朔膠，煉鐵廠，農業工業，尤其是蔗糖種植方面，肉類食品處理，飲料工業，紡織業，木料業，天然水果汁工業，植物油及香料油醃製業，以及皮革業。
        p 對於經濟發展具有很大助益的事項為雙國籍發電廠，伊泰普水壩發電廠(Itaipú)，亞塞瑞塔壩發電廠(Yacyretá)，均位於巴拉那河上。伊泰普發電廠為與巴西合作，具有14,000百萬瓦特，且電產量年平均為90,620百萬千瓦小時，亞塞瑞塔電廠，具有3,200百萬瓦特，電產量年平均為19,000百萬千瓦小時。2007年巴拉圭連同其境內的發電廠總共生產了70,000瓦小時， 其國內 99.9%均來自於水力發電。
        p 另一項值得一提的為，在巴拉圭境內柏油路共有4,300公里之多。未來當巴拉圭與巴拿馬間之正在興建的道路完工時，當地必定會更有生氣，連結兩國的道路為橫大西洋及太平洋，被命名為海洋生態走道，及以巴拉圭－巴拿馬水路計劃。
        p 這項工程為巴拉圭，阿根廷，玻利維亞，巴西以及烏拉圭所共同參與，其主要目的為改善巴拉圭河以及巴拿馬河可航行的3,400公里，從巴西的卡西爾雷斯(Cárceres)，到烏拉圭的巴爾米拉(Nueva Palmira)，經由河道川清理，挖深及以其狀況之維護，未來將容許更多高載重量的船隻在此航行，同時，也將有效地降低水路運費成本。
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
