include mixin/cover-banner
include mixin/head

doctype html
html
  +head('經濟')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/economia_banner.png', '480px')
      .content.container.my-5
        h1 POLITICAL ORGANIZATION
        p Paraguay has a representative participatory and pluralistic democratic government, founded on the recognition of human dignity. From the age of 18 citizens have the right and obligation to exercise their power through Public suffrage.
        p According to the National Constitution promulgated on June 20, 1992, the three branches of government are the Executive, Legislative and Judicial. The Government exercises these powers through an independent system of balance, coordination and mutual control.
        p The Executive Power is exercised by the President of the Republic, who is elected by popular vote for a one term period of five years. He delegates the direction and management of public affairs along with his cabinet of ministers. Today the Constitutional President of the Paraguay is Mr. Mario Abdo Benitez. 
        p The Legislature is bicameral, the Senate is composed of 45 members and the Chamber of Deputies consists of 80 members, elected by popular vote for a term of five years.
        p The highest organ of the judiciary is the Supreme Court composed of nine judges appointed on the proposal of the Council of the Magistracy.
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
