include mixin/cover-banner
include mixin/head

doctype html
html
  +head('地理')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/geografia_banner.jpg', '480px')        
      .content.container.my-5
        
        h1 簡介
        
        p 
          strong 國名：
          | 巴拉圭共和國
        p
          strong 首都：
          | 亞松森
        p 
          strong 獨立紀念日：
          | 1811年5月14日及15日，國慶日５月14日及１５日。
        p
          strong 國旗：
          | 為長方形，由三條橫條所構成，由上往下分別為紅，白，藍，中，其正面的中央放置一個盾牌，一顆黃色以及藍底為棕櫚以及橄欖葉環
          | 繞的星形，其星形上方寫著，巴拉圭共和國，其反面為財政部的圖章以及一頭獅子上方寫著，和平及公義。 
        p 
          strong 官方語言：
          | 西班牙文以及瓜拉尼文
        p 
          strong 憲法：
          | 制定於1992年6月20 日。
        p 
         strong 國 歌：
         | 巴拉圭國歌
        
        h1 地理
      
        p 巴拉圭位於南美洲的中心位置，為內陸國家，鄰國有阿根廷、巴西及玻利維亞。
        
        p 領土範圍在南緯線19o18’和27o36’度之間及格林威治以東經線54o19’和62o39’度之間，且有南回歸線經過。在此線以北為熱帶地區域以南為溫帶性區域，本地之氣候為亞熱帶，冬天平均溫度為攝氏17度，夏天平均為攝氏30度，此外恰可地區(Zona del Chaco)高溫可達攝氏40度。雨季為3月到12月間。
        
        p 巴拉圭全國面積為406,752平方公里，根據2016年底國家普查及統計人口總數為6,775,706人。 

        p 境內有兩條主河灌溉，巴拉圭河及巴拉那河，其中有無數支流。巴拉圭河發源於巴西馬德格樂斯(Mato Grosso)州，於七湖海拔600公尺以上之地勢，從北走向南，河床寬度平均為500公尺，河的長度從發源地至巴拉那河匯合處為2600公里，其中2300公里適於航行。巴拉那河發源地在巴西格亞斯州 (Goiás)，從發源地到於普拉達河滙合處總長為4500公里。尚且經過高地，水量豐沛，河寬在60至1500公尺之間。河的深處在某些區域深處150公尺。在其大部分的區段均可以容納高載重量之船隻航行。
        
        p 由於地勢的關係，巴拉圭河將巴拉圭領土畫分為兩半：東半部及西半部。東半部多林地，且有三個主要的山脈：阿曼敗(Amambay)，馬拉卡茹(Mbaracayú)，卡瓜蘇 (Caaguazú)。其最高峰為850公尺之高的聖拉菲爾(San Rafael)。西半部為廣闊的平原，除了河畔地區，草原，沼澤以及山丘地區外，其天然生態較為稀少。 

        P 巴拉圭有17個行政區且在其下尚有其個別的行政區域。首都為亞松森市，位於巴拉圭河的左岸，其地勢為海拔77公尺，面積為177平方公里，人口數為627,239人。平均溫度在攝氏24.2度，平均雨量為1,335毫米。其他主要的城市為康塞普西翁(Concepción)，恩卡納西翁(Encarnación)，東方市(Ciudad del Este)，奧維多上校鎮(Coronel Oviedo), 佩德羅胡安卡瓦列羅 (Pedro Juan Caballero)及薩爾托德爾瓜(Salto de Guairá).

      .container.my-3
          img.img-fluid(src="./images/geografia_bottom.png", alt="")
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
