include mixin/cover-banner
include mixin/head

doctype html
html
  +head('地理')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/geografia_banner.jpg', '480px')        
      .content.container.my-5
        
        h1 REPUBLIC OF PARAGUAY
        
        p 
          strong Name：
          | Republic of Paraguay
        p
          strong Capital：
          | Asuncion
        p 
          strong Independence Day: 
          | May 14 and 15, 1811
        p
          strong National Flag:
          | An horizontal triband of red, white and blue, with the National Emblem centered on the white band. The emblem on the obverse side is the national coat of arms of Paraguay: a yellow five-pointed star surrounded by a green wreath of palm and olive leaves tied with ribbons of the color of the stripes, and capped by the words REPUBLICA DEL PARAGUAY ("Republic of Paraguay" in Spanish). The emblem on the reverse side is the seal of the treasury: a yellow lion below a red Phrygian cap on the top of a pole (symbolizing courage) and the words Paz y Justicia ("Peace and Justice")
        p 
          strong Official languages:
          | Spanish and Guaraní
        p 
          strong Nacional Constitution:
          | Promulgate on June 20, 1992
        p 
         strong Demonym:
         a(href="https://www.youtube.com/watch?v=tDU4s0dMlKA" style="color:#DF5514;" target="_blank") Paraguayan 
        
        h1 GEOGRAPHICAL
      
        p Paraguay is a landlocked country located in the maritime center of South America surrounded by three countries: Argentina, Brazil and Bolivia. Its territory stretches between parallels 19º 18' and 27° 36' south latitude and the meridian 54º 19' and 62° 39' West Greenwich. The Bethlehem district has a latitude height of 23° 27' and the Tropic of Capricorn line passes thru it. North of this line is the Torrid Zone and to the south is the temperate zone, being its climate sub-tropical with an average temperature of 17 ºC in winter and 30 oC in summer, except in the Chaco, where the temperature sometimes exceeds 40 °C. The rainy seasons are from December to March.
        
        p Paraguay’s land area is 406,752 km2 and its total population, at the end of 2016, according to estimates from the National Statistics and Census Bureau was 6.775.706 inhabitants.
        
        p Paraguay has two major rivers, the Paraguay and Parana, each with numerous tributaries. The Paraguay River, has its source in the State of Mato Grosso, Brazil in a place known as Sete Lagoas, and flows from the north to the south over 600 meters above sea level, with an average width of 500 meters and a total length of 2600 kilometers to its intersection with the Rio Parana , of which 2,300 kilometers are navigable. The Parana River starts in the state of Goias, Brazil and has a total length from its source to its mouth at the Rio de la Plata of 4,500 kilometers. It flows between high cliffs, and its width varies from 60 meters to 1500 meters. In some places it has a depth of 150 meters. Much of its length is navigable by large ships.

        p In response to the highlighted land differences, the Paraguay River divides the territory into two regions: the East and West. In the first, there exists woody vegetation with a chain of three mountain ranges, Amambay, Mbaracayu and Caaguazú. The highest peak of this system is the San Rafael Mountain at 850 meters. The western region is characterized by a high plateau with poorer vegetation, except on the Paraguay River bank which has grasslands and wetlands and a few small isolated hills.
        
        p Paraguay is divided into 17 departments which in turn are subdivided into districts. The capital is Asuncion, located on the left bank of the Paraguay River, whose height is 77 meters above sea level, covering an area of 177 km2 and a population of 627,239 inhabitants. The average temperature is 24 ºC and has an annual rainfall of 1.335mm. Other major cities are Concepcion, Encarnacion, Ciudad del Este, and Coronel Oviedo.

      .container.my-3
          img.img-fluid(src="./images/geografia_bottom.png", alt="")
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
