include mixin/cover-banner

doctype html
html
  include components/head
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/geografia_banner.jpg', '480px')        
      .content.container.my-5
        h1 GEOGRAFIA
      
        p El Paraguay es un país sin litoral marítimo, ubicado en el centro de América del Sur y rodeado por Argentina, Brasil y Bolivia. Su territorio se extiende entre los paralelos 19º18’ y 27º36’ de latitud Sur y los meridianos 54º19’ y 62º39’ Oeste de Greenwich. Por el distrito de Belén, a la altura del paralelo 23º27’, pasa la línea del Trópico de Capricornio. En el Norte de esta línea se encuentra la zona tórrida y al Sur la zona templada, siendo su clima sub-tropical con temperatura media de 17º en invierno y 30º en enero, salvo en el Chaco, donde la temperatura en los días de calor supera los 40º. La principal temporada de lluvias se extiende de diciembre a marzo.
        
        p La superficie territorial del Paraguay es de 406.752 km2 y su población total, a finales del año 2016, según estimación de la Dirección Nacional de Estadística y Censo era de 6.775.706 habitantes.
        
        p Su territorio está regado por dos grandes ríos, el Paraguay y el Paraná, cada uno de ellos con numerosos afluentes. El río Paraguay, lo cruza de norte a sur, nace en el Estado de Mato Grosso, Brasil, en el lugar denominado Sete Lagoas, a más de 600 metros sobre el nivel del mar, corre de Norte a Sur, su anchura media es de 500 metros y su extensión total hasta su confluencia con el Río Paraná es de 2.600 kilómetros, siendo navegable 2.300 kilómetros. El río Paraná nace en el Estado de Goias, Brasil y su extensión total desde su nacimiento hasta su desembocadura en el Río de la Plata es de 4.500 kilómetros. Corre entre altos barrancos, es caudaloso y su anchura máxima varía entre 60 y 1500 metros. Su profundidad en algunos lugares es de 150 metros. En gran parte de su extensión es navegable por buques de gran calado.

        p Atendiendo a las diferencias en cuanto al relieve del suelo, el río Paraguay divide el territorio en dos regiones: la Oriental y la Occidental. En la primera, con una vegetación boscosa existe un sistema de tres cadenas de cordilleras, Amambay, Mbaracayú y Caaguazú. El pico más elevado de todo este sistema es el cerro San Rafael de 850 metros. La Región Occidentales una gran planicie caracterizada por tener pocos cerros, todos de baja altura y aislados y una vegetación más pobre, salvo en el litoral del río Paraguay donde se nota la presencia de pastizales y pantanos.
        
        p El Paraguay está dividido en 17 Departamentos, los que a su vez se subdividen en Distritos. La Capital es la ciudad de Asunción, ubicada en la margen izquierda del Río Paraguay, cuya altura es de 77 metros sobre el nivel del mar, con una superficie de 177 km2 y una población estimada de 627.239 habitantes. La temperatura media es de 24º2 y el promedio de lluvia de 1.335mm. Otras ciudades importantes son Concepción, Encarnación, Ciudad del Este, Coronel Oviedo, Pedro Juan Caballero y Salto del Guairá.

      .container.my-3
          img.img-fluid(src="/images/geografia_bottom_img.jpg", alt="")
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
