include mixin/cover-banner
include mixin/head

doctype html
html
  +head('HISTORIA')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/geografia_banner.jpg', '480px')        
      .content.container.my-5
        h1 HISTORIA
        .historia_contents
            ul.list
                li.ml-0.list-item
                    .d-lg-flex.justify-content-center
                        .col.img
                            img(src='./images/historia-1.jpg')
                        .col.content
                            .bg
                                h2.title 1541
                                .sub-title.font-weight-bold.py-2 Elevada a la categoría de ciudad al establecerse el Cabildo
                                .body Los originales habitantes del Paraguay fueron, principalmente, los guaraníes, quienes legaron la rica lengua que hoy es uno de los idiomas oficiales del país así como vastos conocimientos zoológicos y botánicos, especialmente, de plantas medicinales y cultivos agrícolas. En 1524 el actual territorio del Paraguay fue explorado por Alejo García y en 1528, el navegante Sebastián Gaboto remontó los ríos Paraná y Paraguay. En el actual emplazamiento de la Capital del Paraguay, Juan de Zalazar y Espinoza en 1537 fundó el fuerte Nuestra Señora de la Asunción, elevada a la categoría de ciudad al establecerse el Cabildo en 1541.
                li.ml-0.list-item
                    .d-lg-flex.justify-content-center
                        .col.img
                            img(src='./images/historia-2.jpg')
                        .col.content
                            .bg
                                h2.title 1609 -1767
                                .sub-title.font-weight-bold.py-2 Obras arquitectónicas y artísticas
                                .body Durante la colonia, Asunción fue el eje de la conquista de donde partieron los fundadores de Santa Fe, Corrientes, Concepción del Bermejo, Santa Cruz de la Sierra, Santiago de Jeréz y Ciudad Real y el refundador de la ciudad de Buenos Aires, Juan de Garay. Juntamente con los conquistadores arribaron los religiosos católicos cuyo objetivo fue la acción evangelizadora y la conversión de los pueblos indígenas al cristianismo. Es importante indicar dos interesantes experiencias: la de los sacerdotes franciscanos que en el siglo XVI fundaron sobre las antiguas tavas guaraníes los pueblos o misiones franciscanas de Altos, Itá, Yaguarón, Ypané, Atyrá, Guarambaré, Caazapá, Yuty y la de los jesuitas que entre los años 1609 hasta su expulsión en 1767, fundaron 30 poblados conocidos como “Reducciones de la Provincia del Paraguay”, de los que, a consecuencia de la acción de la naturaleza y el abandono, quedan las ruinas de ocho asentamientos en territorio paraguayo que son una valiosa muestra tanto de la organización urbanística y social como de la calidad de sus obras arquitectónicas y artísticas.
                li.ml-0.list-item
                    .d-lg-flex.justify-content-center
                        .col.img
                            img(src='./images/historia-3.jpg'  width="409")
                        .col.content
                            .bg
                                h2.title 1811 - 1865~1870 (La Guerra de la Triple Alianza)
                                //- .sub-title.font-weight-bold.py-2 Obras arquitectónicas y artísticas
                                .body Lograda su independencia de la Corona de España en 1811, el Paraguay bajo la férrea dictadura de Gaspar Rodríguez de Francia y el constructivo gobierno de Carlos Antonio López logró mantener su soberanía y alcanzó un importante desarrollo económico y cultural. El Presidente Carlos Antonio López fallece en el año 1862 y su hijo Francisco Solano López asume la conducción del país. </br> Si bien el padre había encomendado encarecidamente al exaltado joven a resolver los conflictos por la vía política y con “la pluma”, el novel Presidente ya entre los años 1865-1870 lanzó al Paraguay a la Guerra de la Triple Alianza, integrada por Brasil, Argentina y Uruguay. Esta contienda militar se convirtió en una lucha sangrienta que jamás haya tenido lugar en suelo americano. </br> El otrora gigantesco ejército paraguayo se redujo a unos 480 soldados, entre los últimos muertos se encontraba también el mismo Presidente, quien había comandado las tropas. </br> De los 1.377.000 habitantes que había tenido el Paraguay, en esa época, sobrevivieron solamente 6.000 hombres y unas 220.000 mujeres y niños. El país más próspero de América Latina en ese entonces, se había desangrado durante el Gobierno del Mariscal Francisco Solano López. </br> La contienda guerrera dejó diezmada su población, mutilado su territorio y destruido todas sus fuentes industriales. 
                li.ml-0.list-item
                    .d-lg-flex.justify-content-center
                        .col.img
                            img(src='./images/historia-4.jpg' width="409")
                        .col.content
                            .bg
                                h2.title 1932 - 1935(La Guerra del Chaco)
                                //- .sub-title.font-weight-bold.py-2 También con negativas consecuencias para su economía.
                                .body 
                                    .mb-4 La Guerra del Chaco fue uno de los mayores conflictos del siglo XX dentro de Latinoamérica. Librada entre Bolivia y Paraguay de 1932 a 1935, supuso una disputa territorial precursora de los conflictos que posteriormente llevarían a la Segunda Guerra Mundial.
                                    .sub-title.font-weight-bold.py-2 Origen
                                    .mb-4 El Chaco, más concretamente el Chaco Boreal de 650.000 kilómetros cuadrados, situado justo en medio de la frontera entre Bolivia y Paraguay, era un territorio inhóspito, seco y polvoriento, cargado de una abundante vegetación compuesta por palmeras, matorrales, zarzas y cactus, cuya única fauna eran arañas y serpientes venenosas, así como mosquitos transmisores de enfermedades. Respecto al suelo la posibilidad de cultivo era imposible, exactamente igual que la logística y las comunicaciones debido a la escasez de agua potable y a unas temperaturas de más de 50º C grados en verano. Sin embargo la riqueza del Chaco no estaba en su superficie, sino en el subsuelo por los enormes yacimientos de gas natural y también por las bolsas de petróleo que llevaron a despertar un gran interés por parte de bolivianos y paraguayos.</br> El detonante del conflicto sucedió de manera accidental el 25 de Abril de 1932, cuando un avión boliviano descubrió por casualidad la Laguna Pitiantuta, la cual se encontraba situada dentro de una frontera entre Bolivia y Paraguay que jamás había sido definida tras la descomposición del Imperio Español. Dos meses más tarde, el 15 de Junio, una fuerza militar boliviana, queriendo aprovechar las reservas acuíferas de la laguna, rodeó sus orillas y ocupó el Fortín Carlos López que era propiedad del Ejército Paraguayo. Por supuesto desde Asunción tomaron la acción como una afrenta, por lo que el 16 de Julio una columna paraguaya recuperó el Fortín Carlos López sin apenas encontrar resistencia. Esta acción fue considerada como un “causus belli” en Bolivia, así que transcurridas 72 horas del suceso, el Presidente Daniel Salamanca salió al balcón del Palacio Quemado de La Paz, exhortando a las masas a alzarse en armas contra Paraguay.
                                    
                li.ml-0.list-item
                    .d-lg-flex.justify-content-center
                        .col.img
                          img(src='./images/historia-5.jpg' width="409")
                        .col.content
                          .bg
                            .title.sub-title.font-weight-bold.py-2 Ejército Boliviano
                            .body
                              .mb-4 Bolivia era un país poco preparado para una guerra y menos aún para llevar a cabo una invasión. La nación únicamente podía afrontar una contienda de corta duración porque dependía económicamente del exterior, ya que el 90% de sus productos básicos y alimentos se adquirían en el extranjero debido a que la mayor parte de la población campesina había abandonado la agricultura para trabajar en la minería. Lo mismo sucedía con el petróleo que se compraba en pocas cantidades a Argentina y otras materias primas procedentes de Europa y Estados Unidos.
                              .sub-title.font-weight-bold.py-2 Ejército Paraguayo
                              .mb-4 Paraguay no estaba en una situación tan precaria a diferencia de Bolivia. Liderado el Gobierno del país por el Presidente Eusebio Ayala y estando el Ejército Paraguayo al frente del general José Félix Estigarribia, el trabajo de políticos y militares se centró exclusivamente en buscar la manera de defenderse de la agresión boliviana. Para ello las fuerzas armadas paraguayas encontraron el modo de compensar su inferior numérica aprovechando la orografía del terreno y atrincherándose en un inmenso frente de trincheras que se extendía desde la frontera del Brasil hasta la Argentina, protegiendo especialmente el margen del Río Paraguay para privar de agua al enemigo. Respecto a nivel interno, el Ejército Paraguayo contaba con una oficialidad competente que había estudiados en academias militares del extranjero y además gozaba de asesores procedentes de Francia. </br> El Ejército Paraguayo desplegó a 120.000 soldados.

                li.ml-0.list-item
                    .d-lg-flex.justify-content-center
                        .col.img
                          img(src='./images/historia-6.jpg' width="409")
                        .col.content
                          .bg
                            .title.sub-title.font-weight-bold.py-2 Algunas de las batallas más importantes
                            .body
                              .mb-4 Boquerón, Nanawa, Campo Jordán, Campo Aceval y Alihuatá, Campo Vía, Frotín Saavedra y Fortín Muñoz entre otras. </br> Preocupados el resto de países de Latinoamérica por la escalada bélica cada vez mayor en la Guerra del Chaco, la comunidad internacional convocó a la Comisión de Neutrales compuesta por varias naciones de la región, entre estas Argentina, Chile y Brasil, las cuales consiguieron una tregua de veinte días que fue ratificada por Bolivia y Paraguay desde 19 de Diciembre de 1933 hasta el 6 de Enero de 1934. Sin embargo la clara ventaja táctica y militar que estaban consiguiendo los paraguayos sobre sus enemigos, sumado además que ellos habían sido los agredidos y por el momento los bolivianos no parecían querer renunciar a los territorios exigidos, llevó a los primeros a romper el armisticio y proseguir con las operaciones. </br> A comienzos de Enero de 1934, el Ejército Paraguayo reanudó su avance en el Chaco Boreal y conquistó el Fortín Platanillo, el Fortín Loa, el Fortín Esteros y el Fortín Jayucubás. Al mes siguiente, en Febrero, los paraguayos ocuparon la zona de La China y el día 11 rompieron el frente sobre una brecha de 300 metros en Magariños, donde penetraron 7 kilómetros en territorio enemigo provocando a los bolivianos 60 bajas a costa de 37 propias. Poco después, el 20 de Marzo, las tropas paraguayas rodearon y aniquilaron a dos batallones bolivianos en Cañada Tarija a los que causaron 1.000 muertos y prisioneros; mientras que el día 28, despejaron y capturaron el Fortín Garrapatal. </br> Derrotado el Ejército Paraguayo en la Batalla de la Cañada Strongest y vencido el Ejército Boliviano en anteriores encuentros, durante el verano de 1934 las operaciones se estancaron en el Chaco. Desde entonces, ninguno de los dos bandos, ya fuesen los bolivianos o paraguayos, tendrían capacidad suficiente para llevar a cabo más ofensivas y por ello el conflicto se convirtió en una “guerra de desgaste” que se libró entre líneas de trincheras situadas sobre la selva de matorrales y el desierto. </br> A mediados de 1935 casi la totalidad del Chaco estaba en manos del Ejército Paraguayo, que por aquel entonces se situaba a escasos kilómetros de Ravelo y sus pozos petrolíferos. Bolivia ya no podía de ninguna manera revertir el curso de la guerra y menos aún salvar la nación de ser invadida por Paraguay si continuaba en liza. Por dicha razón y el encontrarse el país luchando exclusivamente por su propia supervivencia, el Presidente Tejada Sorzano autorizó a sus diplomáticos buscar una salida negociada al conflicto. Para ello el Gobierno Boliviano envió a territorio neutral de Buenos Aires al coronel Ángel Rodríguez, quien negoció personalmente con los representantes paraguayos y los mediadores argentinos la paz. </br> Oficialmente el 18 de Julio de 1935, los generales de ambos ejércitos, José Félix Estigarribia y Enrique Peñaranda, se reunieron en Puesto Merino y firmaron la paz entre Paraguay y Bolivia. La Guerra del Chaco había terminado con un trágico saldo de 90.000 muertos. Bolivia sufrió un total de 85.000 bajas entre 60.000 muertos y 25.000 prisioneros, además de un coste monetario de 228 millones de dólares. </br> Paraguay sufrió un total de 32.500 bajas entre 30.000 muertos y 2.500 prisioneros, además de un coste monetario de 128 millones de dólares. </br> Respecto al Chaco Boreal, Bolivia consiguió mantener 1/3 del territorio, incluyendo las zonas gasísticas; mientras que Paraguay como vencedor de la guerra, se anexionó las restantes 2/3 partes y por tanto aumentó notablemente su territorio. </br>

      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
