include mixin/cover-banner
include mixin/head

doctype html
html
  +head('HISTORY')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/geografia_banner.jpg', '480px')        
      .content.container.my-5
        h1 HISTORY
        .historia_contents
            ul.list
                li.ml-0.list-item
                    .d-lg-flex.justify-content-center
                        .col.img
                            img(src='./images/historia-1.jpg')
                        .col.content
                            .bg
                                h2.title 1541
                                .sub-title.font-weight-bold.py-2 Upgraded into a city after the establishment of the Cabildo
                                .body The original inhabitants of Paraguay were mainly the Guarani people, who have inherited a rich language, which has become the official language of the country; in addition, they also have a vast knowledge in animals and plants, especially in medicinal plants and crops. Alejo García explored the existing territory of Paraguay in 1524 and adventurer Sebastián Gaboto sailed along the rivers of Panama and Paraguay in 1528. Juan de Zalazar y Espinoza established the substantial Nuestra Señora de la Asunción in 1537 at the current location of Paraguay’s capital city, and the specific location was upgraded into a city after the establishment of the Cabildo.
                li.ml-0.list-item
                    .d-lg-flex.justify-content-center
                        .col.img
                            img(src='./images/historia-2.jpg')
                        .col.content
                            .bg
                                h2.title 1609 -1767
                                .sub-title.font-weight-bold.py-2 Architecture and artworks
                                .body Asunción was the core of conquest during the colonial period and the point of departure for the creators of Santa Fe, Corrientes, Concepción del Bermejo, Santa Crus de la Sierra, Santiago de Jerez, Ciudad Real, and the re-creator of Buenos Aires, Juan de Garay. Catholic believers and conquerors arrived at the port together with the goal of evangelizing and converting the aborigines into Christian believers. There are two pieces of interesting history worth mentioning: the first is that two Franciscan missionaries established Franciscan villages or missions in the ancient Guarani tribe including Altos, Itá, Yaguarón, Ypané, Atyrá, Guarambaré, Caazapá, and Yuty; the second is that the period from 1609 to 1767 when they were expelled, Christian believers have established 30 so-called the “Aboriginal Villages for Paraguay Provinces that have Converted to Christianity”. Due to natural and abandonment factors, the eight remains in the territory of Paraguay have become the valuable template of city and social organization and the quality of architecture and artworks.
                li.ml-0.list-item
                    .d-lg-flex.justify-content-center
                        .col.img
                            img(src='./images/historia-3.jpg' width="409")
                        .col.content
                            .bg
                                h2.title 1811 - 1865~1870 (War of the Triple Alliance)
                                //- .sub-title.font-weight-bold.py-2 Obras arquitectónicas y artísticas
                                .body 
                                    p As the Kingdom of Spain became independent in 1811, Paraguay defended its sovereignty and acquired important economic and cultural development under Gaspar Rodríguez de Francia‘s iron-fisted dictatorship and the constructive governance of Carlos Antonio López. President Carlos Antonio López passed away in 1862 and his son Francisco Solano López continued to lead the country as the new president. 
                                    P Although this fanatical young man was repeatedly instructed by his father to solve conflicts through politics means and “pens”, the novice president drove Paraguay into the War of the Triple Alliance between Brazil, Argentina, and the Uruguay alliance from 1865 to 1870; this military competition became the unprecedented gory struggle on the land of the Americas. 
                                    P The once enormous Paraguay army was left with approximately 480 soldiers in the end, and the president himself, who once commanded an unit, was also found among the dead. 
                                    P Only 6000 males and 220,000 females and children from the population of 1.377 million in Paraguay have survived during that period. 
                                    P Paraguay, once the most prosperous country in the Americas, was already damaged severely when marshal Francisco Solano López took office; the mighty wars have led to significant amount of deaths, territorial fragmentation, and have destroyed all industrial sources.
                li.ml-0.list-item
                    .d-lg-flex.justify-content-center
                        .col.img
                            img(src='./images/historia-4.jpg')
                        .col.content
                            .bg
                                h2.title 1932 - 1935 (Chaco War)
                                //- .sub-title.font-weight-bold.py-2 También con negativas consecuencias para su economía.
                                .body 
                                    .mb-4 The Chaco War was one of the major conflicts in Latin America during the 20th century; the war unfolded between Bolivia and Paraguay from 1932 to 1935, which was considered to be the indication at bringing the territorial conflicts during the second world war. 
                                    .sub-title.font-weight-bold.py-2 Origin
                                    .mb-4 El Chaco, more specifically, is referred to the 650,000 km² Chaco Boreal located in the middle of the border between Bolivia and Paraguay, which is a desolate, dry, and dusty land that is covered with rich vegetation formed with palm trees, bushes, and cactuses, with the only animals being spiders and venomous snakes along with diseases spreading mosquitoes. As for the possibility of soil planting, it is just as impossible as the logistics and traffic problems like the shortage of drinking water and the summer temperature exceeding 50℃; however, the actual wealth of El Chaco does not come from the things on the surface of the land, but the substantial natural gas minerals and crude oil that are hidden underground, which triggered great interest from Bolivians and Paraguayans. 
                                      br
                                      | The ignition of the conflict was purely accidental. On 25th April 1932, a Bolivian plan accidentally discovered Laguna Pitiantuta that is situated on the border between Bolivia and Paraguay, which is an area that was never defined since the crumble of the Kingdom of Spain. Two months later, which was the 15th of June, a Bolivian troop looking to utilize the resources in the lake has surrounded its shore and occupied Fortín Carlos López that was owned by the Paraguayan army, which obviously offended Asunción; therefore, on the 16th of July, a Paraguayan brigade regained Fortín Carlos López with almost no resistance. This operation was deemed as the “justification for war” by Bolivia, hence president Daniel Salamanca walked out to the balcony of Palacio Quemado at La Paz 72 hours after the incident and urged the general public to pick up their weapons and fight Paraguay. 
                                    .sub-title.font-weight-bold.py-2 Bolivian army
                                    .mb-4 Bolivia was a country rarely prepare for wars, let alone initiating invasions; the country was only capable of dealing with temporary conflicts since its economy relied heavily on foreign countries as the majority of agricultural population have given up on cultivation and shifted to mining, hence 90% of its staple products and food came from foreign countries, and it was the same situation for petroleum, which they purchased from Argentina, along with raw materials from Europe and America. 
                                    .sub-title.font-weight-bold.py-2 Paraguayan Army
                                    .mb-4 The situation of Paraguay was not as unstable as Bolivia. The government is led by president Eusebio Ayala and the Paraguayan army commanded by general José Félix Estigarribia with the only focus of political figures and military personnel being the discovery of ways to prevent invasion from Bolivia; therefore, the Paraguayan armed forces found a way by utilizing the terrain to entrench in the Brazilian border and stretched to the major frontline trenches of Argentina, and especially protected the edge of Paraguay River to prevent enemies from retrieving water in order to compensate for the disadvantage of the number of soldiers. As for the internal situation, the Paraguayan army was consisted of a competent officer corps and consultants from France. 
                                      br
                                      | The Paraguayan army deployed 120,000 soldiers at the time. 
                                    .sub-title.font-weight-bold.py-2 Significant battles
                                    .mb-4
                                      P Including the Battle of Boquerón, Battle of Nanawa, Battle of Campo Jordán, Battle of Campo Aceval and Alihuatá, Battle of Campo Via pocket, Battle of Frotín Saavedra, and Battle of Fortín Muñoz. 
                                      P
                                      P As other countries in Latin America were concerned about the increased intensity of the Chaco War, the international community convened a central committee formed with various countries in that specific area including Argentina, Chile, and Brazil, and reached to an armistice agreement of 20 days from 19th December 1933 to 6th January 1934 that both Bolivia and Paraguay approved; however, the superior tactics and military advantage of Paraguay with the attacks sustained from before along with Bolivia’s unwillingness of giving up the extorted territories, led to the former breaking the armistice agreement and continued its operation. 
                                      P
                                      P At the beginning of January 1934, the Paraguayan army continued to advance into Chaco Boreal and conquered Fortín Platanillo, Fortín Loa, Fortín Esteros, and Fortín Jayucubás. Within the next month, which was February, the Paraguayan occupied La China, and broke through a 300m gap at the frontline of Magariños, penetrating 7km into the enemy territory, which resulted in casualties of 60 Bolivians and 37 Paraguayans. Not long after, on the 20th of March, the Paraguayan army surrounded and annihilated two Bolivian military camps at Cañada Tarija, resulting in thousands of deaths and captives; the Paraguayan army then cleared out and occupied Fortín Garrapatal on the 28th. 
                                      P
                                      P The Paraguayan army was defeated during the Battle of Cañada Strongest, and the Bolivian army was defeated repeatedly from the previous confrontations. During the summer in 1934, the operation in Chaco remained stagnant and since then neither the Bolivians nor the Paraguayans had enough combat capabilities to launch further attacks, hence the conflict turned into attrition warfare between the jungle and the desert trenches. 
                                      P
                                      P By the middle of 1935, the Paraguayan army had occupied almost the entire Chaco area, and only a few kilometers before they reached Ravelo and its oil wells; Bolivia was no longer capable of turning the tide and should Paraguay continued to invade, the country would be beyond saving. Based on this reason, the country had to fight for its own survival, and President Tejada Sorzano authorized his diplomats to solve the conflict through negotiations and for this reason, the Bolivian government sent Colonel Ángel Rodríguez to the neutral territory of Buenos Aires and assigned him to conduct peace negotiations with Paraguayan representatives and Argentinian mediators. 
                                        br
                                        | On 18th July 1935, general of the two armies, José Félix Estigarribia and Enrique Peñaranda, officially met and signed the peace agreement between Paraguay and Bolivia. Chaco War ended in a tragic 90,000 death toll where Bolivia had 85,000 casualties, of which 60,000 were dead and 25,000 were captives; in addition, a total expense of USD $228 million was spent. 
                                      P Paraguay had 32,500 casualties, of which 30,000 were dead and 2500 were captives; in addition, a total expense of 128 million dollars was spent. 

                                        br
                                        | Regarding Chaco Boreal, Bolivia was able to hold on to 1/3 of the territory including the natural gas mining area; as the conqueror of the war, Paraguay devoured the remaining 2/3, which significantly increased its territories. 
                li.ml-0.list-item
                    .d-lg-flex.justify-content-center
                        .col.img
                            img(src='./images/historia-5.jpg')
                        .col.content
                            .bg
                                h2.title 
                                .sub-title.font-weight-bold.py-2 Major challenges of continuous and sustainable development
                                .body The long-term dictatorship of General Alfredo Stroessner was replaced by representative democracy in 1989, which allowed Paraguay to gradually integrate into the increasingly globalized world, and respond to the major challenges of continuous and sustainable development.  
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
