include mixin/cover-banner
include mixin/head

doctype html
html
  +head('歷史')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/geografia_banner.jpg', '480px')        
      .content.container.my-5
        h1 歷史
        .historia_contents
            ul.list
                li.ml-0.list-item
                    .d-lg-flex.justify-content-center
                        .col.img
                            img(src='./images/historia-1.jpg')
                        .col.content
                            .bg
                                h2.title 1541
                                .sub-title.font-weight-bold.py-2 建立市政廳（Cabildo）後升格為城市
                                .body 巴拉圭的原始居民主要是瓜拉尼人，他們不僅承襲豐富的語言，這個語言如今已是該國的官方語言之一，還有廣泛的動植物知識，特別是藥用植物和農作物的知識。1524年，Alejo García探索了巴拉圭現今的領土，1528年，航海家Sebastián Gaboto順著巴拿馬及巴拉圭的河流而上。在當前巴拉圭首都的位置，Juan de Zalazar y Espinoza於1537年建立了堅實的亞松森城（Nuestra Señora de la Asunción），並在1541年市政廳（Cabildo）成立時升格為城市。
                li.ml-0.list-item
                    .d-lg-flex.justify-content-center
                        .col.img
                            img(src='./images/historia-2.jpg')
                        .col.content
                            .bg
                                h2.title 1609 -1767
                                .sub-title.font-weight-bold.py-2 建築和藝術作品
                                .body 在殖民時期，亞松森（Asunción）是征服的核心，聖塔菲市（Santa Fe），科連特斯市（Corrientes）、 康賽斯昂德波莫荷市（Concepción del Bermejo）、 聖克魯斯市（Santa Cruz de la Sierra）、 聖地牙哥德赫雷斯市（Santiago de Jerez）及雷阿爾城市（Ciudad Real）的創建者們，和布宜諾斯艾利斯（Buenos Aires）的再造者Juan de Garay皆從這個城市啟程。天主教信徒與征服者一起抵達港口，其目的是傳遞福音並將原住民部落轉變為基督徒。有兩件有趣的經歷值得一提：十六世紀時，兩位方濟傳教士在古老瓜拉尼人部落建立了阿爾托斯（Altos）、伊塔（Itá）、亞瓜龍（Yaguarón）、伊帕內（Ypané）、阿蒂拉（Atyrá）、瓜蘭巴雷（Guarambaré）、卡薩帕（Caazapá）、尤蒂（Yuty）的方濟村落或使團；從1609年到他們1767年被驅逐期間，基督徒成立了三十個被稱為“巴拉圭省皈依基督教的原住民之村”，由於自然與廢棄因素，在巴拉圭領土內所遺留下的八個遺跡，是城市和社會組織以及建築與藝術作品質量的寶貴範本。
                li.ml-0.list-item
                    .d-lg-flex.justify-content-center
                        .col.img
                            img(src='./images/historia-3.jpg' width="409")
                        .col.content
                            .bg
                                h2.title 1811 - 1865~1870(三聯之戰)
                                //- .sub-title.font-weight-bold.py-2 Obras arquitectónicas y artísticas
                                .body 
                                    p 1811年自西班牙王國取得獨立，在Gaspar Rodríguez de Francia的鐵腕獨裁，以及Carlos Antonio López有建設性的政府統治下，巴拉圭維護了自己的主權，並取得重要的經濟及文化發展。總統Carlos Antonio López於1862年去世，他的兒子Francisco Solano López接續領導國家。
                                    P 儘管父親再三囑咐這位狂熱的年輕人透過政治手段和“筆”來解決衝突，但新手總統卻在1865年至1870年間將巴拉圭推向由巴西、阿根廷與烏拉圭聯盟的三聯戰爭。這場軍事競賽成為一場過去從未在美洲土地上發生過的血腥鬥爭。
                                    P 昔日巨大的巴拉圭軍隊，最後只剩大約四百八十名士兵。在最後被發現的死者中，也包括曾經指揮一支部隊的總統本人。
                                    P 在那個時期，巴拉圭從過去一百三十七萬七千位居民，最後僅剩六千名男性及二十二萬名女性及幼兒倖存。
                                    P 曾經是美洲最繁榮國家的巴拉圭，在元帥Francisco Solano López當政時，已大量失血。崇武的戰爭使人口大量死亡、領土破碎，並破壞了所有的工業來源。
                li.ml-0.list-item
                    .d-lg-flex.justify-content-center
                        .col.img
                            img(src='./images/historia-4.jpg')
                        .col.content
                            .bg
                                h2.title 1932 - 1935(廈谷之戰)
                                //- .sub-title.font-weight-bold.py-2 También con negativas consecuencias para su economía.
                                .body 
                                    .mb-4 廈谷（ElChaco）之戰是二十世紀拉丁美洲最主要的衝突之一。1932年到1935年間，在玻利維亞和巴拉圭之間展開，被認為是帶來第二次世界大戰領土爭端的先兆。
                                    .sub-title.font-weight-bold.py-2 起因
                                    .mb-4 廈谷（El Chaco），更具體地說，是指位於玻利維亞和巴拉圭邊境中間六十五萬平方公里的廈谷波雷亞（El Chaco Boreal），是一個荒涼，乾燥和塵土飛揚的土地，充滿了由棕櫚樹，灌木叢，荊棘和仙人掌組成的豐富植被。 唯一的動物是蜘蛛和毒蛇，以及傳播疾病的蚊子。 至於土壤種植的可能性，就像飲用水短缺和夏季溫度超過攝氏五十度這樣的物流和交通問題一樣，是不可能的事。 然而，廈谷（El Chaco）的財富並不是在土地表面，而是由於地底下蘊藏巨大的天然氣礦產以及原油礦，引起玻利維亞人和巴拉圭人的極大興趣。</br>衝突的引爆是個意外。1932年4月25日，一架玻利維亞飛機偶然發現了畢提昂圖塔湖（Laguna Pitiantuta），它位於玻利維亞和巴拉圭的邊界，是西班牙王朝瓦解後從未定義過的區域。兩個月後，即6月15日，一支希望利用湖水資源的玻利維亞軍隊包圍其河岸，佔領了巴拉圭軍隊擁有的卡洛斯洛佩斯堡（Fortín Carlos López）。亞松森（Asunción）方面當然將此行動視為一種冒犯，所以在7月16日，巴拉圭的一個縱隊幾乎毫無阻力地收復了卡洛斯洛佩斯堡（Fortín Carlos López）。這一行動在玻利維亞被視為“開戰的理由”，因此在事件發生七十二小時後，總統Daniel Salamanca走出政府位於拉巴斯（La Paz）的克馬多宮（Palacio Quemado）的陽台，呼籲群眾拿起武器對付巴拉圭。
                                    .sub-title.font-weight-bold.py-2 玻利維亞軍隊
                                    .mb-4 玻利維亞過去是個極少為作戰而準備的國家，更別提要發動入侵。這個國家只能面對短期衝突，因為其經濟依賴國外，因大多數的農業人口放棄耕種從事採礦，所以百分之九十的基本產品及食物都取自外國。石油也是同樣的情況，他們向阿根廷少量購買，還有來自歐洲和美國的原料。
                                    .sub-title.font-weight-bold.py-2 巴拉圭軍隊
                                    .mb-4 與玻利維亞不同，巴拉圭的情況沒有那麼不穩定。該國政府由Eusebio Ayala總統及由José Félix Estigarribia將軍率領的巴拉圭軍隊所領導，政治人物和軍事人員只專注於尋找保護自己免受玻利維亞侵略的方法。為此，巴拉圭武裝部隊找到一種方式，利用地形地勢、盤踞巴西邊境延伸到阿根廷的巨大戰壕前線，特別是保護巴拉圭河的邊緣以阻止敵人取水，來彌補人數的劣勢。內部的情況則是，巴拉圭軍隊有一個曾在國外軍事學院學習的稱職軍官團，以及來自法國的顧問。 當時巴拉圭軍隊部署了十二萬名士兵。
                                    .sub-title.font-weight-bold.py-2 重要戰役
                                    .mb-4
                                      P 其中有柏克隆（Boquerón）之戰, 那納瓦（Nanawa）之戰, 禾丹原野（Campo Jordán）之戰, 阿塞瓦和阿里瓦大原野（Campo Aceval y Alihuatá）之戰, 比亞原野（Campo Vía）之戰, 薩維德拉堡（Frotín Saavedra）之戰和幕紐斯堡（Fortín Muñoz）之戰。 由於拉丁美洲其他國家擔憂廈谷（El Chaco）之戰的戰情升高，國際社會召集中立委員會，由該地區的幾個國家組成，包括阿根廷、智利和巴西，達成玻利維亞和巴拉圭都認可、從1933年12月19日至1934年1月6日之間二十天的停戰協議。然而，巴拉圭凌駕敵人的戰術和軍事優勢，還有之前所遭受的襲擊，加上玻利維亞當時似乎不想放棄強取的領土，導致前者打破停戰協議並繼續行動。
                                      P
                                      P 1934年一月初，巴拉圭軍隊繼續挺進廈谷波雷亞（El Chaco Boreal），征服了布拉達尼猶堡（Fortín Platanillo），羅阿堡（Fortín Loa），艾斯特羅斯堡（Fortín Esteros）和哈尤谷霸斯堡堡（Fortín Jayucubás）。接下來的一個月，即二月份，巴拉圭人佔領了“中方地區”（La China），11日他們在馬加里尼奧斯（Magariños）前線突破了一個三百公尺的缺口，深入敵方領土七公里，導致玻利維亞六十人及自身三十七人的傷亡。 不久後，3月20日，巴拉圭軍隊在塔里哈山谷（Cañada Tarija）包圍並殲滅了兩個玻利維亞軍營，造成千人死亡和被俘虜; 而在28日，他們清除並佔領嘎拉巴大堡（Fortín Garrapatal）。
                                      P
                                      P 斯壯吉斯特山谷（Cañada Strongest）戰役中巴拉圭軍隊被擊敗，而在前幾次的交鋒中玻利維亞軍隊也打敗戰，1934年的夏天，行動在廈古（El Chaco）停滯不前。從那時候開始，無論是玻利維亞人還是巴拉圭人，都沒有足夠的戰力進行更多的攻勢，因此衝突成為一場位於叢林和沙漠戰壕之間進行的“消耗戰”。
                                      P
                                      P 到1935年中期，幾乎整個廈谷（El Chaco）都在巴拉圭軍隊的掌握中，當時距離拉韋洛（Ravelo）及其油井僅僅只有幾公里。玻利維亞再也不能夠扭轉戰爭的局面，如果巴拉圭持續入侵，它更無法拯救這個國家。基於這個原因，該國須為自己的生存而戰，Tejada Sorzano總統授權他的外交官尋求透過談判解決衝突。為此，玻利維亞政府派遣Ángel Rodríguez上校到布宜諾斯艾利斯（Buenos Aires）的中立領地，讓他親自與巴拉圭代表和阿根廷調解人做和平談判。 
                                      P
                                      P 1935年7月18日，兩支軍隊的將軍José Félix Estigarribia和Enrique Peñaranda在Puesto Merino正式會面並簽署了巴拉圭和玻利維亞之間的和平協議。廈谷（El Chaco）之戰以悲慘的九萬名死亡人數結束。                  玻利維亞共有八萬五千人傷亡，其中六萬人死亡，有兩萬五千名囚犯，此外還有兩億兩千八萬美元的開支。巴拉圭共有三萬兩千五百人傷亡，其中三萬人死亡和兩千五百名囚犯，還有一億兩千八百萬的花費。關於廈谷波雷亞（El Chaco Boreal），玻利維亞獲得維持三分之一的領土，包括天然氣礦區；而巴拉圭作為戰爭的勝利者，併吞了剩餘的三分之二，顯著地增加了其領土。
                li.ml-0.list-item
                    .d-lg-flex.justify-content-center
                        .col.img
                            img(src='./images/historia-5.jpg')
                        .col.content
                            .bg
                                h2.title 
                                .sub-title.font-weight-bold.py-2 持續和永續發展的巨大挑戰
                                .body 1989年，民主代議制度取代了Alfredo Stroessner將軍長期的專制政權，使巴拉圭能夠逐步融入日益全球化的世界，並回應持續和永續發展的巨大挑戰。
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
