include mixin/cover-banner
include mixin/head

doctype html
html
  +head('政治組織')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/organizacion_politica_banner.png', '480px')
      .content.container.my-5
        h1 政治組織
        p 巴拉圭以人權為根基且具有代表、參與及多元性的民主為其政府體系，自18歲起，人民通過選舉權，法律和義務行使公共權力。</br>根據1992 年６月２０日公佈之憲法，巴拉圭行民主共和制，採行政、立法、司法三權分立，政府運作整體而言就是由三權之獨立，平衡，協調及相互監督所形成。 
        p 行政權為總統，國家元首及政府最高決策者，是由人民選舉產生，任期5年。同時總統得以授權於其行政團隊。</br>立法權為國會，由兩院所組成，參議院由 45位人員所組成，眾議院由80名人員組成。均為民選，其任期為五年。 </br>司法院掌管該國之司法權，為9位法官組成且經由裁判法院委員會委任。
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
