include mixin/cover-banner

doctype html
html
  include components/head
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/organizacion_politica_banner.png', '480px')
      .content.container.my-5
        h1 ORGANIZACION POLITICA
        p El Paraguay tiene como forma de gobierno la democracia representativa, participativa y pluralista, fundada en el reconocimiento de la dignidad humana. El pueblo ejerce el Poder Público por medio del sufragio, derecho y obligación desde los 18 años de edad.
        p De acuerdo con la Constitución Nacional promulgada el 20 de junio de 1992, los tres poderes del Estado son el Ejecutivo, el Legislativo y el Judicial. El Gobier no es ejercido por estos poderes en un sistema de independencia, equilibrio, coordinación y recíproco control.
        p El Poder Ejecutivo lo ejerce el Presidente de la República, quien es electo por votación popular por un periodo de cinco años,  improrrogable. Este delega la di-rección y la gestión de los negocios públicos en un gabinete integrado por los Ministros.
        p El Poder Legislativo es bicameral, integrado por la Cámara de Senadores compuesta por 45 miembros y la Cámara de Diputados constituida por 80 miembros, electos por votación popular por un término de cinco años.
        p El órgano superior del Poder Judicial es la Corte Suprema de Justicia integrada por nueve magistrados designados a propuesta de l Consejo de la Magistratura.
           
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
