include mixin/cover-banner
include mixin/head

doctype html
html
  +head('Relation links')
  body.page-other-link
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/otherlinks-banner.png', '480px')
      #page
        .container
          main
            h1(class="page-title") links
            .other_links_content
              .wrapper
                .link
                  .link_wrapper.row
                    .left.col-md-3
                      img(src="./images/otherlinks-01.png", alt="")
                    .right.col-md-9 
                      .title GOVERNMENT AND MINISTRIES
                      .link_content 
                        a(href="https://www.presidencia.gov.py/") THE PRESIDENTIAL OFFICE
                        br
                        a(href="http://www.congreso.gov.py/") SENATE CHAMBER
                        br
                        a(href="http://www.pj.gov.py/") SUPREME COURT OF JUSTICE
                        br
                        a(href="http://www2.mre.gov.py/") MINISTRY OF FOREIGN AFFAIRS
                        br
                        a(href="http://www.mdi.gov.py/") MINISTRY OF THE INTERIOR
                        br
                        a(href="http://www.hacienda.gov.py/web-hacienda/index.php") MINISTRY OF FINANCE
                        br
                        a(href="https://www.mec.gov.py/cms/") MINISTRY OF EDUCATION AND CULTURE
                        br
                        a(href="http://www.mag.gov.py/") MINISTRY OF AGRICULTURE AND CATTLE
                        br
                        a(href="http://www.mopc.gov.py/") MINISTRY OF PUBLIC WORKS AND COMMUNICATION
                        br
                        a(href="https://www.mspbs.gov.py/portal") MINISTRY OF PUBLIC HEALTH AND SOCIAL WELFARE
                        br
                        a(href="http://www.ministeriodejusticia.gov.py/") MINISTRY OF JUSTICE AND LABOR
                        br
                        a(href="http://www.mdn.gov.py/") MINISTRY OF NATIONAL DEFENSE
                        br
                        a(href="http://www.mic.gov.py/") MINISTRY OF INDUSTRY AND TRADE
                        br
                        a(href="http://www.mujer.gov.py/") MINISTRY OF WOMEN
                        br
                        a(href="http://www.mtess.gov.py/") MINISTRY OF LABOUR, EMPLOYMENT AND SOCIAL SECURITY
                        br
                        a(href="http://www.mades.gov.py/") MINISTRY OF ENVIRONMENT AND SUSTAINABLE DEVELOPMENT
                        //- br
                        //- a(href="http://www.seam.gov.py/") MINISTERIO DEL AMBIENTE Y DESARROLLO SOSTENIBLE
                      hr(style="margin-top:15px;margin-bottom:15px")
                      .title SECRETARIATS
                      .link_content 
                        a(href="http://www.senatur.gov.py/") NATIONAL TOURISM SECRETARIAT  (SENATUR)
                        br
                        a(href="http://www.stp.gov.py/v1/") TECHNICAL SECRETARIAT OF ECONOMIC AND SOCIAL DEVELOPMENT PLANNING (STP)
                .link
                  .link_wrapper.row
                    .left.col-md-3
                      img(src="./images/otherlinks-02.png", alt="")
                    .right.col-md-9 
                      .title PRODUCTION, BUSINESS AND INVESTMENT
                      .link_content 
                        a(href="http://www.rediex.gov.py/") INVESTMENT AND EXPORTATION NET  (REDIEX)
                        br
                        a(href="https://www.ccparaguay.com.py/v2/") NATIONAL CHAMBER OF TRADE AND SERVICE OF PARAGUAY
                        br
                        a(href="http://www.capeco.org.py/") THE PARAGUAYAN CHAMBER  OF CEREALS AND OLEAGINOUSNESS EXPORTERS
                        br
                        a(href="https://www.bcp.gov.py/") CENTRAL BANK OF PARAGUAY
                        br
                        a(href="http://www.aduana.gov.py/") GENERAL DIRECTION OF CUSTOMS
                        br
                        a(href="http://cedial.org.py/") BUSINESS COOPERATION AND INDUSTRIAL DEVELOPMENT
                        br
                        a(href="http://www.stp.gov.py/v1/") NATIONAL SERVICE OF QUALITY AND ANIMAL HEALTH (SENACSA)
          
                .link
                  .link_wrapper.row
                    .left.col-md-3
                        img(src="./images/otherlinks-03.png", alt="")
                    .right.col-md-9
                      .title REGIONAL INTEGRATION ORGANIZATIONS
                      .link_content 
                        a(href="http://www.mercosur.int/") SOUTHERN COMMON MARKET (MERCOSUR/L) 
                        br
                        a(href="http://www.aladi.org/sitioAladi/index.html") LATIN AMERICAN INTEGRATION ASSOCIATION (ALADI) 
                      .title STATISTICS
                      .link_content 
                        a(href="http://www.dgeec.gov.py/") GENERAL DIRECTION OF SURVEYS, STADISTICS AND CENSUS
                      .title LEGISLATION
                      .link_content 
                        a(href="http://www.leyes.com.py/") ATAX CONSULTANT OF ALLIANCE
                .link
                  .link_wrapper.row
                    .left.col-md-3
                        img(src="./images/otherlinks-05.png", alt="")
                    .right.col-md-9
                      .title MASS MEDIA
                      .link_content 
                        a(href="http://www.abc.com.py/") ABC COLOR
                        br
                        a(href="http://www.ultimahora.com/") ULTIMA HORA
                        br
                        a(href="https://www.lanacion.com.py/") LA NACION
                        br
                        a(href="https://www.diariopopular.com.ar/paraguay-a574") DIARIO POPULAR
                        br
                        a(href="http://www.cronica.com.py/") DIARIO CRONICA
                        //- br
                        //- p También existe una cantidad de Canales de Televisión y Radioemisoras de AM y FM
                .link
                  .link_wrapper.row
                    .left.col-md-3
                        img(src="./images/otherlinks-06.png", alt="")
                    .right.col-md-9
                      .title ENTITIES OF THE REPUBLIC OF CHINA – TAIWAN
                      .link_content 
                         a(href="https://www.mofa.gov.tw/") MINISTRY OF FOREING AFFAIRS (MOFA)
                         br
                         a(href="http://www.taitra.com.tw/") TAIWAN EXTERNAL TRADE DEVELOPMENT (TAITRA)
                         br
                         a(href="http://www.cieca.org.tw/") CHINESE INTERNATIONAL ECONOMIC COOPERATION ASSOCIATION (CIECA)
                         br
                         a(href="https://www.immigration.gov.tw/mp.asp?mp=2") NATIONAL IMMIGRATION AGENCY
                         br
                         a(href="https://www.moea.gov.tw/MNS/populace/home/Home.aspx") MINISTRY OF ECONOMIC AFFAIRS (MOEA)
              
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
