include mixin/cover-banner
include mixin/head

doctype html
html
  +head('ECONOMY')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/organizacion_politica_banner.png', '480px')
      .content.container.my-5
        h1 ECONOMY
        p The most important productive sector of Paraguay is agriculture, not to mention the growth of the cattle industry in recent years. The main products are soybeans, cotton, sugar cane, corn, wheat, tobacco, fruits, vegetables, beef and pork, milk and wood. There also exist factories: glass, cement, steel, plastic and metallurgical plants, and the agro-industry is very important for its sugar mills, meat processing, beverage factories, textile, wood, processing plants of fruit juices, food preparation, miscellaneous vegetable oil and essential oils and leather manufacturing.

        p Important factors for the country's economic development constitute the binational hydroelectric dams Itaipú and Yacyretá, located on the Parana River. The first built in partnership with Brazil has a capacity of 14,000 MW with an energy production capacity of 90,620 GWh per year and the second with Argentina, with a capacity of 3,200 MW and the capacity to produce 19,000 GWh per year.
        p Vital physical means of regional integration will be completed once the interconnection of roads is completed that will link the Atlantic and Pacific oceans, called the bioceanic corridor and the Paraguay-Parana waterway project.
        p The latter is a project undertaken by Paraguay, Argentina, Bolivia, Brazil and Uruguay, which aims to improve the navigability of 3,400 kilometers of the Paraguay and Parana rivers, from the port of Caceres in Brazil until Nueva Palmira, Uruguay, by performing dredging works, deepening and maintenance of appropriate conditions for deep-water ships, which will lower the cost of river transportation for goods in the region.
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
