include mixin/cover-banner
include mixin/head

doctype html
html
  +head('ENLACES')
  body.page-other-link
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/otherlinks-banner.png', '480px')
      #page
        .container
          main
            h1(class="page-title") ENLACES
            .other_links_content
              .wrapper
                .link
                  .link_wrapper.row
                    .left.col-md-3
                      img(src="./images/otherlinks-01.png", alt="")
                    .right.col-md-9 
                      .title GOBIERNO Y MINISTERIOS 
                      .link_content 
                        a(href="https://www.presidencia.gov.py/") PRESIDENCIA DE LA REPÚBLICA
                        br
                        a(href="http://www.congreso.gov.py/") PODER LEGISLATIVO
                        br
                        a(href="http://www.pj.gov.py/") CORTE SUPREMA DE JUSTICIA
                        br
                        a(href="http://www2.mre.gov.py/") MINISTERIO DE RELACIONES EXTERIORES
                        br
                        a(href="http://www.mdi.gov.py/") MINISTERO DEL INTERIOR
                        br
                        a(href="http://www.hacienda.gov.py/web-hacienda/index.php") MINISTERIO DE HACIENDA
                        br
                        a(href="https://www.mec.gov.py/cms/") MINISTERIO DE EDUCACIÓN Y CIENCIAS
                        br
                        a(href="http://www.mag.gov.py/") MINISTERIO DE AGRICULTURA Y GANADERIA
                        br
                        a(href="http://www.mopc.gov.py/") MINISTERIO DE OBRAS PÚBLICAS. Y COMUNICACIONES
                        br
                        a(href="https://www.mspbs.gov.py/portal") MINISTERIO DE SALUD PÚBLICA Y BIENESTAR SOCIAL
                        br
                        a(href="http://www.ministeriodejusticia.gov.py/") MINISTERIO DE JUSTICIA
                        br
                        a(href="http://www.mdn.gov.py/") MINISTERIO DE DEFENSA NACIONAL
                        br
                        a(href="http://www.mic.gov.py/") MINISTERIO DE INDUSTRIA Y COMERCIO
                        br
                        a(href="http://www.mujer.gov.py/") MINISTERIO DE LA MUJER
                        br
                        a(href="http://www.mtess.gov.py/") MINISTERIO DE TRABAJO, EMPLEO Y SEGURIDAD SOCIAL
                        br
                        a(href="http://www.seam.gov.py/") MINISTERIO DEL AMBIENTE Y DESARROLLO SOSTENIBLE
                      hr(style="margin-top:15px;margin-bottom:15px")
                      .title SECRETARIAS
                      .link_content 
                        a(href="http://www.senatur.gov.py/") SECRETARÍA NACIONAL DE TURISMO (SENATUR)
                        br
                        a(href="http://www.stp.gov.py/v1/" style="text-transform:uppercase;") Secretaria Técnica de Planificación del Desarrollo Económico y Social (STP)
                .link
                  .link_wrapper.row
                    .left.col-md-3
                      img(src="./images/otherlinks-02.png", alt="")
                    .right.col-md-9 
                      .title PRODUCCION, COMERCIO E INVERSIONES 
                      .link_content 
                        a(href="http://www.rediex.gov.py/") RED DE INVERSIONES Y EXPORTACIONES (REDIEX)
                        br
                        a(href="https://www.ccparaguay.com.py/v2/") CAMARA NACIONAL DE COMERCIO Y SERVICIOS DE PARAGUAY
                        br
                        a(href="http://www.capeco.org.py/") CÁMARA PARAGUAYA DE EXPORTADORES DE CEREALES Y OLEAGINOSAS
                        br
                        a(href="https://www.bcp.gov.py/") BANCO CENTRAL DE PARAGUAY
                        br
                        a(href="http://www.aduana.gov.py/") DIRECCIÓN GENERAL DE ADUANAS
                        br
                        a(href="http://cedial.org.py/") COOPERACIÓN EMPRESARIAL Y DESARROLLO INDUSTRIAL
                        br
                        a(href="http://www.stp.gov.py/v1/") SERVICIO NACIONAL DE CALIDAD Y SALUD ANIMAL (SENACSA)
          
                .link
                  .link_wrapper.row
                    .left.col-md-3
                        img(src="./images/otherlinks-03.png", alt="")
                    .right.col-md-9
                      .title ORGANISMOS DE INTEGRACION REGIONAL
                      .link_content 
                        a(href="http://www.mercosur.int/") MERCADO COMUN DEL SUR (MERCOSUR/L)
                        br
                        a(href="http://www.aladi.org/sitioAladi/index.html") ASOCIACION LATINOAMERICANA DE INTEGRACIÓN (ALADI)
                      .title ESTADISTICAS
                      .link_content 
                        a(href="http://www.dgeec.gov.py/") DIRECCION GENERAL DE ENCUESTAS, ESTADISTICAS Y CENSOS
                      .title LEGISLACION
                      .link_content 
                        a(href="http://www.leyes.com.py/") ALIANZA CONSULTORES TRIBUTARIOS
                .link
                  .link_wrapper.row
                    .left.col-md-3
                        img(src="./images/otherlinks-05.png", alt="")
                    .right.col-md-9
                      .title MEDIOS DE COMUNICACIÓN
                      .link_content 
                        a(href="http://www.abc.com.py/") ABC COLOR
                        br
                        a(href="http://www.ultimahora.com/") ULTIMA HORA
                        br
                        a(href="https://www.lanacion.com.py/") LA NACION
                        br
                        a(href="https://www.diariopopular.com.ar/paraguay-a574") DIARIO POPULAR
                        br
                        a(href="http://www.cronica.com.py/") DIARIO CRONICA
                        br
                        p También existe una cantidad de Canales de Televisión y Radioemisoras de AM y FM
                .link
                  .link_wrapper.row
                    .left.col-md-3
                        img(src="./images/otherlinks-06.png", alt="")
                    .right.col-md-9
                      .title ENTIDADES DE LA REPUBLICA DE CHINA – TAIWAN
                      .link_content 
                         a(href="https://www.mofa.gov.tw/") MINISTRY OF FOREING AFFAIRS (MOFA)
                         br
                         a(href="http://www.taitra.com.tw/") TAIWAN EXTERNAL TRADE DEVELOPMENT (TAITRA)
                         br
                         a(href="http://www.cieca.org.tw/") CHINESE INTERNATIONAL ECONOMIC COOPERATION SSOCIATION (CIECA)
                         br
                         a(href="https://www.immigration.gov.tw/mp.asp?mp=2") NATIONAL IMMIGRATION AGENCY
                         br
                         a(href="https://www.moea.gov.tw/MNS/populace/home/Home.aspx") MINISTRY OF ECONOMIC AFFAIRS (MOEA)
              
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
