include mixin/cover-banner
include mixin/head

doctype html
html
  +head('ENLACES')
  body.page-other-link
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/otherlinks-banner.png', '480px')
      #page
        .container
          main
            h1(class="page-title") ENLACES
            .other_links_content
              .wrapper
                .link
                  .link_wrapper.row
                    .left.col-md-3
                      img(src="./images/otherlinks-01.png", alt="")
                    .right.col-md-9 
                      .title GOBIERNO 
                      .link_content 
                         a(href="https://www.presidencia.gov.py/") PRESIDENCIA DE LA REPÚBLICA
                         br
                         a(href="http://www.congreso.gov.py/") PODER LEGISLATIVO
                         br
                         a(href="http://www.pj.gov.py/") CORTE SUPREMA DE JUSTICIA
                         br
                         a(href="http://www2.mre.gov.py/") MINISTERIO DE RELACIONES EXTERIORES 
                         br
                         a(href="http://www.mdi.gov.py/") MINISTERO DE INTERIOR 
                         br
                         a(href="http://www.hacienda.gov.py/web-hacienda/index.php") MINISTERIO DE HACIENDA
                         br
                         a(href="https://www.mec.gov.py/cms/") MINISTERIO DE EDUCACIÓN Y CIENCIAS
                         br
                         a(href="http://www.mag.gov.py/") MINISTERIO DE AGRICULTURA Y GANADERIA
                         br
                         a(href="http://www.mopc.gov.py/") MINISTERIO DE OBRAS PUB. Y COMUNICACIONES
                         br
                         a(href="https://www.mspbs.gov.py/portal") MINISTERIO DE SALUD PÚBLICA Y BIENESTAR SOCIAL
                         br
                         a(href="http://www.ministeriodejusticia.gov.py/") MINISTERIO DE JUSTICIA
                         br
                         a(href="http://www.mdn.gov.py/") MINISTERIO DE DEFENSA NACIONAL
                         br
                         a(href="http://www.mic.gov.py/") MINISTERIO DE INDUSTRIA Y COMERCIO
                         br
                         a(href="http://www.mujer.gov.py/") MINISTERIO DE LA MUJER
                         br
                         a(href="http://www.mtess.gov.py/") MINISTERIO DE TRABAJO, EMPLEO Y SEGURIDAD SOCIAL
                .link
                  .link_wrapper.row
                    .left.col-md-3
                      img(src="./images/otherlinks-02.png", alt="")
                    .right.col-md-9 
                      .title PRODUCCION, COMERCIO E INVERSIONES 
                      .link_content 
                        a(href="http://www.mic.gov.py/mic/site/inicio.php") MINISTERIO DE INDUSTRIA Y COMERCIO
                        br
                        a(href="http://www.mag.gov.py/%20") MINISTERIO DE AGRICULTURA Y GANADERIA
                        br
                        a(href="http://www.rediex.gov.py/") RED DE INVERSIONES Y EXPORTACIONES (REDIEX)
                        br
                        a(href="http://www.uip.com.py/") UNIÓN INDUSTRIAL PARAGUAYA
                        br
                        a(href="https://www.ccparaguay.com.py/v4/index.php") CAMARA NACIONAL DE COMERCIO Y SERVICIOS DE PARAGUAY
                        br
                        a(href="http://capeco.org.py/") CÁMARA PARAGUAYA DE EXPORTADORES DE CEREALES Y OLEAGINOSAS
                        br
                        a(href="https://www.bcp.gov.py/%20") BANCO CENTRAL DE PARAGUAY
                        br
                        a(href="http://www.aduana.gov.py/%20") DIRECCIÓN GENERAL DE ADUANAS
                        br
                        a(href="http://www.maquila.gov.py/") MAQUILA EN PARAGUAY
                        br
                        a(href="http://cedial.org.py/php/") COOPERACIÓN EMPRESARIAL Y DESARROLLO INDUSTRIAL
          
                .link
                  .link_wrapper.row
                    .left.col-md-3
                        img(src="./images/otherlinks-03.png", alt="")
                    .right.col-md-9
                      .title ORGANISMOS DE INTEGRACION REGIONAL 
                      .link_content 
                        a(href="https://www.dropbox.com/referrer_cleansing_redirect?hmac=IMAMnFY%2FIpC8QMtLiJM%2B28SG04q3vBa%2FL2guZ60daUM%3D&url=http%3A%2F%2Fwww.mercosur.int%2Fmsweb%2F") MERCADO COMUN DEL SUR  (MERCOSUR/L) 
                        br
                        a(href="#") ASOCIACION LATINOAMERICANA DE LIBRE COMERCIO (ALADI)
                      .title ESTADISTICAS
                      .link_content 
                        a(href="https://www.dropbox.com/referrer_cleansing_redirect?hmac=fsBGTvA2ImeZFwoUvLKAwFvLCf%2BLcuV%2FrnvPXg0nJgQ%3D&url=http%3A%2F%2Fwww.dgeec.gov.py%2F") DIRECCION GENERAL DE ENCUESTAS, ESTADISTICAS Y CENSOS
                      .title TURISMO
                      .link_content 
                        a(href="https://www.dropbox.com/referrer_cleansing_redirect?hmac=9yP2PpeqGPzXqEA5hb1UunI6D1hndOVojWE7%2BW14hGU%3D&url=http%3A%2F%2Fwww.senatur.gov.py%2F") SECRETARÍA NACIONAL DE TURISMO (SENATUR)
                      .title LEGISLACION
                      .link_content 
                        a(href="http://www.leyes.com.py/") ALIANZA CONSULTORES TRIBUTARIOS
          
                .link
                  .link_wrapper.row
                    .left.col-md-3
                        img(src="./images/otherlinks-04.png", alt="")
                    .right.col-md-9
                      .title CULTURA 
                      .link_content 
                        a(href="https://www.mec.gov.py/%20") MINISTERIO DE EDUCACIÓN Y CULTURA
                        br
                        a(href="http://www.una.py/%20") UNIVERSIDAD NACIONAL DE ASUNCIÓN
                        br
                        a(href="http://www.ilam.org/py/py.html") DIRECTORIO DE MUSEOS Y PARQUES DEL PARAGUAY
                        br
                        a(href="http://adm4840.softcha.com/galeriaparaguay/index.htm") GALERIA DE ARTE PARAGUAY
                        br
                        a(href="http://www.ilam.org/py/py.html") MUSICA PARAGUAYA
                        br
                        a(href="http://www.paraguayanmelodies.com/") PARAGUAYAN MELODIES
                        br
                        a(href="http://www.staff.uni-mainz.de/lustig/hisp/guarani.html") GUARANI ÑANDUTI ROGUE

                .link
                  .link_wrapper.row
                    .left.col-md-3
                        img(src="./images/otherlinks-05.png", alt="")
                    .right.col-md-9
                      .title MEDIOS DE COMUNICACIÓN 
                      .link_content 
                        a(href="http://www.abc.com.py/") ABC COLOR
                        br
                        a(href="http://www.ultimahora.com/") ULTIMA HORA
                        br
                        a(href="https://www.lanacion.com.py/") LA NACION
                        br
                        a(href="http://www.nanduti.com.py/") RADIO ÑADUTI
                .link
                  .link_wrapper.row
                    .left.col-md-3
                        img(src="./images/otherlinks-06.png", alt="")
                    .right.col-md-9
                      .title ENTIDADES DE LA REPUBLICA DE CHINA – TAIWAN
                      .link_content 
                         a(href="https://www.mofa.gov.tw/") MINISTRY OF FOREING AFFAIRS (MOFA)
                         br
                         a(href="http://www.taitra.com.tw/") TAIWAN EXTERNAL TRADE DEVELOPMENT  (TAITRA)
                         br
                         a(href="http://www.taitra.com.tw/") CHINESE INTERNATIONAL ECONOMIC COOPERATION SSOCIATION (CIECA)
                         br
                         a(href="http://www.tcoc.org.tw/") TAIWAN CHAMBER OF COMMERCE
                         br
                         a(href="https://www.moea.gov.tw/MNS/populace/home/Home.aspx") MINISTRY OF ECONOMIC AFFAIRS (MOEA)
              
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
