include mixin/cover-banner

doctype html
html
  include components/head
  body.page-other-link
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./../images/otherlinks-banner.png', '480px')
      #page
        .container
          main
            h1(class="page-title") ENLACES
            .other_links_content
              .wrapper
                .link
                  .link_wrapper.row
                    .left.col-md-3
                      img(src="./images/otherlinks-01.png", alt="")
                    .right.col-md-9 
                      .title GOBIERNO 
                      .link_content 
                         a(href="#") PRESIDENCIA DE LA REPÚBLICA 
                         br
                         a(href="#") PODER LEGISLATIVO 
                         br
                         a(href="#") PODER JUDICIAL 
                         br
                         a(href="#") MINISTERIO DE RELACIONES EXTERIORES 
                         br
                         a(href="#") MINISTERO DE INTERIOR 
                         br
                         a(href="#") MINISTERIO DE HACIENDA 
                         br
                         a(href="#") MINISTERIO DE EDUCACIÓN Y CULTURA 
                         br
                         a(href="#") MINISTERIO DE AGRICULTURA Y GANADERIA 
                         br
                         a(href="#") MINISTERIO DE OBRAS PUB. Y COMUNICACIONES
                .link
                  .link_wrapper.row
                    .left.col-md-3
                      img(src="./images/otherlinks-02.png", alt="")
                    .right.col-md-9 
                      .title PRODUCCION, COMERCIO E INVERSIONES 
                      .link_content 
                        a(href="#") PRESIDENCIA DE LA REPÚBLICA 
                        br
                        a(href="#") PODER LEGISLATIVO 
                        br
                        a(href="#") PODER JUDICIAL 
                        br
                        a(href="#") MINISTERIO DE RELACIONES EXTERIORES 
                        br
                        a(href="#") MINISTERO DE INTERIOR 
                        br
                        a(href="#") MINISTERIO DE HACIENDA 
                        br
                        a(href="#") MINISTERIO DE EDUCACIÓN Y CULTURA 
                        br
                        a(href="#") MINISTERIO DE AGRICULTURA Y GANADERIA 
                        br
                        a(href="#") MINISTERIO DE OBRAS PUB. Y COMUNICACIONES
                .link
                  .link_wrapper.row
                    .left.col-md-3
                        img(src="./images/otherlinks-03.png", alt="")
                    .right.col-md-9
                      .title ORGANISMOS DE INTEGRACION REGIONAL 
                      .link_content 
                        a(href="#") PRESIDENCIA DE LA REPÚBLICA 
                        br
                        a(href="#") PODER LEGISLATIVO 
                        br
                        a(href="#") PODER JUDICIAL 
                        br
                        a(href="#") MINISTERIO DE RELACIONES EXTERIORES 
                        br
                        a(href="#") MINISTERO DE INTERIOR 
                        br
                        a(href="#") MINISTERIO DE HACIENDA 
                        br
                        a(href="#") MINISTERIO DE EDUCACIÓN Y CULTURA 
                        br
                        a(href="#") MINISTERIO DE AGRICULTURA Y GANADERIA 
                        br
                        a(href="#") MINISTERIO DE OBRAS PUB. Y COMUNICACIONES
                .link
                  .link_wrapper.row
                    .left.col-md-3
                        img(src="./images/otherlinks-04.png", alt="")
                    .right.col-md-9
                      .title CULTURA 
                      .link_content 
                         a(href="#") PRESIDENCIA DE LA REPÚBLICA 
                         br
                         a(href="#") PODER LEGISLATIVO 
                         br
                         a(href="#") PODER JUDICIAL 
                         br
                         a(href="#") MINISTERIO DE RELACIONES EXTERIORES 
                         br
                         a(href="#") MINISTERO DE INTERIOR 
                         br
                         a(href="#") MINISTERIO DE HACIENDA 
                         br
                         a(href="#") MINISTERIO DE EDUCACIÓN Y CULTURA 
                         br
                         a(href="#") MINISTERIO DE AGRICULTURA Y GANADERIA 
                         br
                         a(href="#") MINISTERIO DE OBRAS PUB. Y COMUNICACIONES
                .link
                  .link_wrapper.row
                    .left.col-md-3
                        img(src="./images/otherlinks-05.png", alt="")
                    .right.col-md-9
                      .title MEDIOS DE COMUNICACIÓN 
                      .link_content 
                         a(href="#") PRESIDENCIA DE LA REPÚBLICA 
                         br
                         a(href="#") PODER LEGISLATIVO 
                         br
                         a(href="#") PODER JUDICIAL 
                         br
                         a(href="#") MINISTERIO DE RELACIONES EXTERIORES 
                         br
                         a(href="#") MINISTERO DE INTERIOR 
                         br
                         a(href="#") MINISTERIO DE HACIENDA 
                         br
                         a(href="#") MINISTERIO DE EDUCACIÓN Y CULTURA 
                         br
                         a(href="#") MINISTERIO DE AGRICULTURA Y GANADERIA 
                         br
                         a(href="#") MINISTERIO DE OBRAS PUB. Y COMUNICACIONES
                .link
                  .link_wrapper.row
                    .left.col-md-3
                        img(src="./images/otherlinks-06.png", alt="")
                    .right.col-md-9
                      .title
                      .link_content ENTIDADES DE LA REPUBLICA DE CHINA – TAIWAN 
                         a(href="#") PRESIDENCIA DE LA REPÚBLICA 
                         br
                         a(href="#") PODER LEGISLATIVO 
                         br
                         a(href="#") PODER JUDICIAL 
                         br
                         a(href="#") MINISTERIO DE RELACIONES EXTERIORES 
                         br
                         a(href="#") MINISTERO DE INTERIOR 
                         br
                         a(href="#") MINISTERIO DE HACIENDA 
                         br
                         a(href="#") MINISTERIO DE EDUCACIÓN Y CULTURA 
                         br
                         a(href="#") MINISTERIO DE AGRICULTURA Y GANADERIA 
                         br
                         a(href="#") MINISTERIO DE OBRAS PUB. Y COMUNICACIONES
              
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
