include mixin/cover-banner
include mixin/head

doctype html
html
  +head('相關連結')
  body.page-other-link
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/otherlinks-banner.png', '480px')
      #page
        .container
          main
            h1(class="page-title") 相關連結
            .other_links_content
              .wrapper
                .link
                  .link_wrapper.row
                    .left.col-md-3
                      img(src="./images/otherlinks-01.png", alt="")
                    .right.col-md-9 
                      .title 巴拉圭中央政府部會 
                      .link_content 
                        a(href="https://www.presidencia.gov.py/") 總統府
                        br
                        a(href="http://www.congreso.gov.py/") 國會
                        br
                        a(href="http://www.pj.gov.py/") 最高司法院
                        br
                        a(href="http://www2.mre.gov.py/") 外交部
                        br
                        a(href="http://www.mdi.gov.py/") 內政部
                        br
                        a(href="http://www.hacienda.gov.py/web-hacienda/index.php") 財政部
                        br
                        a(href="https://www.mec.gov.py/cms/") 教育科學部
                        br
                        a(href="http://www.mag.gov.py/") 農業暨畜牧部
                        br
                        a(href="http://www.mopc.gov.py/") 公共建設暨通訊部
                        br
                        a(href="https://www.mspbs.gov.py/portal") 公共衛生暨福利部
                        br
                        a(href="http://www.ministeriodejusticia.gov.py/") 司法部
                        br
                        a(href="http://www.mdn.gov.py/") 國防部
                        br
                        a(href="http://www.mic.gov.py/") 工商部
                        br
                        a(href="http://www.mujer.gov.py/") 勞動就業暨社會保險部
                        br
                        a(href="http://www.mtess.gov.py/") 環境可續發展部
                        //- br
                        //- a(href="http://www.seam.gov.py/") MINISTERIO DEL AMBIENTE Y DESARROLLO SOSTENIBLE
                      hr(style="margin-top:15px;margin-bottom:15px")
                      .title 國家秘書處
                      .link_content 
                        a(href="http://www.senatur.gov.py/") 國家旅遊秘書處 (SENATUR)
                        br
                        a(href="http://www.stp.gov.py/v1/") 國家經濟社會發展規劃技術秘書處 (STP)
                .link
                  .link_wrapper.row
                    .left.col-md-3
                      img(src="./images/otherlinks-02.png", alt="")
                    .right.col-md-9 
                      .title 生產、貿易暨投資
                      .link_content 
                        a(href="http://www.rediex.gov.py/") 投資暨出口網 (REDIEX)
                        br
                        a(href="https://www.ccparaguay.com.py/v2/") 巴拉圭貿易暨服務國家商會
                        br
                        a(href="http://www.capeco.org.py/") 巴拉圭穀物和油籽出口商會
                        br
                        a(href="https://www.bcp.gov.py/") 巴拉圭中央銀行
                        br
                        a(href="http://www.aduana.gov.py/") 海關總署
                        br
                        a(href="http://cedial.org.py/") 企業合作暨工業發展機構
                        br
                        a(href="http://www.stp.gov.py/v1/") 國家動物品質暨健康局
          
                .link
                  .link_wrapper.row
                    .left.col-md-3
                        img(src="./images/otherlinks-03.png", alt="")
                    .right.col-md-9
                      .title 區域一體化組織
                      .link_content 
                        a(href="http://www.mercosur.int/") 南方共同市場
                        br
                        a(href="http://www.aladi.org/sitioAladi/index.html") 拉丁美洲一體化協會(Asociación Latinamericana de Integración)
                      .title 統計
                      .link_content 
                        a(href="http://www.dgeec.gov.py/") 問卷統計暨普查局
                      .title 法規
                      .link_content 
                        a(href="http://www.leyes.com.py/") 稅務諮詢者聯盟
                .link
                  .link_wrapper.row
                    .left.col-md-3
                        img(src="./images/otherlinks-05.png", alt="")
                    .right.col-md-9
                      .title 媒體
                      .link_content 
                        a(href="http://www.abc.com.py/") ABC COLOR
                        br
                        a(href="http://www.ultimahora.com/") ULTIMA HORA
                        br
                        a(href="https://www.lanacion.com.py/") LA NACION
                        br
                        a(href="https://www.diariopopular.com.ar/paraguay-a574") DIARIO POPULAR
                        br
                        a(href="http://www.cronica.com.py/") DIARIO CRONICA
                        //- br
                        //- p También existe una cantidad de Canales de Televisión y Radioemisoras de AM y FM
                .link
                  .link_wrapper.row
                    .left.col-md-3
                        img(src="./images/otherlinks-06.png", alt="")
                    .right.col-md-9
                      .title 中華民國-台灣機關
                      .link_content 
                         a(href="https://www.mofa.gov.tw/") 外交部(MOFA)
                         br
                         a(href="http://www.taitra.com.tw/") 中華民國對外貿易發展協會(TAITRA)
                         br
                         a(href="http://www.cieca.org.tw/") 中華民國國際經濟合作協會(CIECA)
                         br
                         a(href="https://www.immigration.gov.tw/mp.asp?mp=2") 內政部移民署
                         br
                         a(href="https://www.moea.gov.tw/MNS/populace/home/Home.aspx") 經濟部(MOEA)
              
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
