include mixin/cover-banner
include mixin/head

doctype html
html
  +head('經濟合作協議')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/adce_banner.png', '480px')
      #page
        .container
          main
            h1(class="page-title") 經濟合作協議
            .content_repatriacion_wrapper
            
                a.download(href="https://www.dropbox.com/s/8kf1it1ad5r6o1r/" download) Agreement on Economic Cooperation Between the Republic of China (Taiwan) and the Republic of Paraguay_Signed version (Spanish)
                a.download(href="https://www.dropbox.com/s/e57t0lsdpjwjkz6/" download) A中華民國 (台灣) 與巴拉圭共和國經濟合作協定書籤 (中文)
                a.download(href="https://www.dropbox.com/s/9r5ltjoybwt3gy8/" download) Agreement on Economic Cooperation Between the Republic of China (Taiwan) and the Republic of Paraguay_Signed version (English)
                
                
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
