include mixin/cover-banner
include mixin/head

doctype html
html
  +head('旅遊')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/banner_turismo.png', '480px')
      .content.container.my-5
          
          h5 歷史概況
          
          p 15世紀起巴拉圭成為前往其他各洲之主要途徑。亞松森被暱稱為“城市之母”，是由西班牙人所建立的新殖民地。聖方濟教會於十六世紀中葉以後進入巴拉圭，並在全國各地建立許多社區。以他們強大的文化影響力，融合當地人生活方式與日常所使用西班牙語與瓜拉尼語。從一些藝術品中可以看出，在距亞松森市近郊的卡畢亞達(Capiatá)市、亞瓜隆(Yaguarón)市、依塔(Itá)市、阿爾多斯(Altos)市、卡阿荼巴(Caazapá)市、亞地拉(Atyrá)市、依巴內(Ypané)市、皮里韋維(Piribebuy)市及托瓦蒂(Tobatí)市，均可見到教堂與博物館林立。1609年至1768年耶穌會傳教士建立了瓜拉尼部落歸化區，這是一段偉大的烏托邦理想國時期。在此期間曾留下很重要的証據：有特立尼達(Trinidad)與耶穌會廢墟(被聯合國教科文組織公布為世界遺產)，聖伊格納西奧伊瓜蘇(San lgnacio Guazú)廢墟、聖科姆(San Cosme)廢墟與聖達米安(San Damián)廢墟、聖地亞哥(Santiago)廢墟、聖塔瑪麗亞(Santa María)廢墟與聖塔羅莎(Santa Rosa)廢墟。藝術與音樂在這段時期也蓬勃發展，並留下精美的藝術遺產，也稱為“瓜拉尼巴洛克”(Guaraní Baroque遺風。西元1811年巴拉圭宣布脫離西班牙獨立，並建立一個臨時政府，從那時起巴拉圭歷經過兩場戰役、獨裁統治、民主過渡時期與最終達成憲政體制。
         
          h5 音樂與美食 
          p 巴拉圭波爾卡(Polka)與瓜拉尼(Guaranias)部落音樂是典型的節奏音樂。在巴拉圭孕育出偉大的音樂作曲家與演奏家，如阿古斯丁巴里奧斯(Agustín Barrios)與荷西亞松森弗洛雷斯(José Asunción Flores)等大師。樹薯起士餅(Chipa)、樹薯圓餅(Mbeyú)、玉米鹹糕(Chipa Guazú)與玉米粉鹹餅(Sopa Paraguaya)均是採用牛肉、玉米粉、新鮮乳酪與樹薯粉為主要原料所製成的傳統可口美食。

          h5 手工藝品與原住民藝術 
          p 流行藝術是文化、傳統與可利用資源相結合之結果。皮革工藝品、蜘蛛繡(Ñandutí)與花棉手工編織品(Aó po-í)，用Guampa杯喝熱馬黛茶(mate)與冰馬黛茶(Tereré)，銀製手藝品，特別是盧克市(Luque)的金銀絲製成之手工藝品與伊塔市(Ita)、托巴帝市(Tobatím)與阿瑞瓜市(Areguá)都出產之陶器均甚出名。巴拉圭製琴師傅利用本地高貴木材製成精美吉他與豎琴。各原住民部落利用天然纖維、各類木材、種子與其他材料以手工製成之藝術品。用五顏六色羽毛製成之藝術品具有古老儀式的魔力，並具有豐富的色彩與力量。
          
          h5 慶典與博物館
          p 新年期間全國各地會舉行傳統的民俗慶典活動。在卡庫佩(Caacupé)市有聖母瑪麗亞慶祝活動；在恩伯斯肯達(Emboscada)市、塔尼亞侖笛(Tañarandy)市、聖伊格納西奧(San Ignacio)市與皮里韋維(Piribebuy)市有復活節慶祝活動；在聖胡安(San Juan)市與全國各地也舉行慶祝活動；及在聖地亞哥(Santiago)市與和聖米格爾(San Miguel)市有馬術表演與民俗節慶活動。參觀公私立博物館，讓遊客更能深入瞭解巴拉圭的文化之歷史與當代之藝術。

          h5 人文景觀
          p 巴拉圭為一雙語之國家，瓜拉尼語為主要母語與西班牙語共存數個世紀。該語言融合在音樂與文學中表達出靈感之泉源，且在世界各地均可閱讀到與聆聽到它。巴拉圭是多樣性原住民族文化之發源地，在現代科學中巴拉圭習俗在植動物學與天然藥物上提供另類的知識。 同時其傳統藝術包括儀式、歌曲、手工藝、音樂與舞蹈，均豐富了國家文化之歷程。巴拉圭主要由五種語系所構成之地方部落：有瓜拉尼 (Guaraní)族、薩穆科(Zamuco)族、馬斯科伊(Maskoy)族、馬塔科(Mataco)族與瓜伊庫魯(Guaycurú)族，再加上本地其他的二十個少數民族。近兩世紀來陸續有移民潮前來巴拉圭，讓義大利、加泰羅尼亞、東歐、歐洲、中東、日本與德國之後裔融入了西班牙瓜拉尼文化之中。在過去數十年中更持續有來自亞洲與拉美其他國家的民眾移入巴拉圭。
          
          h5 政治與地理概況
          p 巴拉圭為一內陸國家，與阿根廷、巴西與玻利維亞為鄰。在政治上劃分成17個行省與亞松森首都區，全國面積約406,752平方公里。巴拉圭河從北往南流經全國，將巴拉圭分成東部或稱東方區與西部或稱查科(Chaco)區，也分成兩個自然區域。巴拉圭河與巴拉那河為主要之水道，散發出無數美麗的樂章與詩歌。許多小支流流遍全國，又瓜拉尼(Guaraní)流域地下水儲量豐富，為全世界之冠。首都亞松森擁有60萬的人口，全市有廣植樹木之林蔭大道，也擁有現代化之旅館、購物中心與劇院，並有許多傳統與歷史之建築物。其他重要城市如恩卡納西翁(Encarnación)市、東方市(Ciudad del Este)與佩德羅胡安(Pedro Juan Caballero)市位於阿根廷與巴西之邊界，均擁有基礎的旅館設施、美麗的夜生活與自然風光。
          
          h5 技術
          p 巴拉圭的技術研發與兩大雙國共有之水力發電廠有著密切關係：與巴西共享之伊泰普(Itaipú)電廠被認為是世界最大之發電廠，以及與阿根廷共享之亞塞瑞塔(Yacyretá)水力發電廠。電力之生產如同畜牧業與農業均為巴國最重要之工作。

          h5 活動
          p 巴拉圭位於南美洲之中心，以其優越之地理位置、優惠的銀行匯率以及當地專業住宿和餐飲業，讓巴拉圭首都被視為舉辦活動與會議最理想之地點之一。由於最近成立巴拉圭觀光局，業已舉辦了多場重要活動且其需求頗高。高水準的基礎設施與技術得讓亞松森從小型會議與講座，到大型會議、展覽會及國際博覽會提供完整之食宿服務。此外對待訪客友善也是巴拉圭人之特性，也對各項活動提供成功之保證。
         
          h5 自然景觀
          p 早年征服者來到此地，擁有這片有太陽、森林與熱情之土地，巴拉圭是一個值得去探索的國家。它擁有許多文化與自然生態系統，得與鄰近國家共享：查科(Chaco)旱地、查科(Chaco)濕地、潘塔納爾(Pantanal)濕地、塞拉多(Cerrado)與上巴拉那大西洋森林區與土地生態系統(林地、草原與叢林)，水生生態系統(河流、溪流、湖泊與潟湖)以及濕地(沼澤、河口)。遊客們對涅恩布庫(Ñeembucú)省草原與沼澤、博克龍(Boquerón)省多刺乾林、阿耶斯總統省熱帶棕櫚草原、依比提魯索(Ybytyruzú)省山脈美麗的山陵，恩巴拉卡玉(Mbaracyúm)省與聖拉斐爾(San Rafael)亞熱帶森林以及康塞普西翁(Concepcion)省清澈的水，均會讓您留下深刻之印象。其他特有生物包括原生動植物、167種哺乳動物、701種鳥類、100種爬蟲類、46種兩棲類、230種魚類、100,000種無脊椎動物、13,000種維管束植物、289種樹木與767種灌木等。
          
          h5 自然旅遊保護區
          
          p 巴拉圭擁有廣大的公私立保護區，得成為一座夢幻般的自然旅遊天堂。二國共有的伊泰普(Itaipú)與亞塞瑞塔(Yacyretá)水力發電廠位於面臨消失之上巴拉那大西洋森林區，均已建立專業保護區，包括：塔蒂雨披(Tatí Yupí)生物收容所、依塔布(Itabó)與利莫衣(Limoy)生物中心、亞丁圭(Atinguy)動物保護區與雅貝比利(Yabebyry)野生動物保護區。其他優美的保護區有：恩百拉卡玉(Mbaracayú)自然森林保護區、伊比奎(Ybycuí)、塞羅科拉(CerroCora)、查科(Chaco)、恩西索(Enciso)國家公園與莫伊塞斯貝托尼(Moisés Bertoni)科學紀念館，遊客可在此地享有露營、景觀鐘塔與親山小徑之旅。潘塔納爾(Pantanal)是世界著名的濕地區，巴拉圭河流經其北部，位鄰巴西與玻利維亞之邊境。這些濕地上有無數溪流與潟湖及擁有豐富奇特野生動植物。奧林波堡(Fuerte Olimpo)市是一座如畫般的城市。可選擇搭乘巴拉圭克魯塞羅號(Crucero Paraguay)與Lancha Aquidabán號郵輪來參觀這座自然的天堂。
          
          h5 鄉村旅遊
          p 在全國各地的農牧場均可提供巴拉圭式的農村生活，他們為遊客提供如長途騎馬、捕牛、剪羊毛、徒步旅行、參觀土著社區、騎乘馬車，在河上操控獨木舟等。

          h5 探索之旅與運動
          p 多樣性的巴拉圭景觀讓吾人能在山上、洞窟、溪流和瀑布旁享受難忘的探索之旅。塔格提亞(Tagatiyá)溪、恩百拉卡玉(Mbaracayú)森林、依比提魯索(Ybytyruzú)山脈與瓦耶米(Vallemí)洞穴是最受歡迎的旅遊景點。巴拉圭是一個運動競賽的天堂，它也擁有經國際認証之專業高爾夫球場。由於水產豐富的巴拉圭河、巴拉那河、特比瓜里(Tebicuary)河與其他流域，釣魚運動在當地也頗受歡迎。
          
          h5 重要資訊
          
          .d-flex
              strong.mr-2(style="width:15%;") 地理位置：
              p 巴拉圭位於南美洲之中心，為一內陸國家，介於南緯19.18度與27.36度之間，西經54.19度與和62.39度之間。北鄰玻利維亞與巴西，東接巴西與阿根廷，南與阿根廷相連，西與玻利維亞與阿根廷相鄰。夏季平均氣溫在25°C與35°C度間，而冬季平均氣溫在10°C和20°C度間。
          .d-flex
              strong.mr-2(style="width:15%;") 行省：
              p 全國分為康塞普西翁(Concepción)省、聖佩德羅(San Pedro)省、科迪勒拉(Cordillera)省、瓜伊拉(Guairá)省、卡瓜蘇(Caaguazú)省、卡薩帕(Caazapá)省、伊塔普阿(Itapúa)省、密西恩(Misiones)省、巴拉瓜里(Paraguarí)省、上巴拉那(Alto Paraná)省、中央(Central)省、涅恩布庫(Ñeembucú)省、阿曼拜(Amambay)省、卡寧德尤(Canindeyú)省、海耶斯總統(Presidente Hayes)省、上巴拉圭與博克隆(Alto Paraguay and Boquerón)省
          .d-flex
              strong.mr-2 氣候：
              p 熱帶至亞熱帶。
          .d-flex
              strong.mr-2 平均氣溫：
              p 夏季25°C至35°C度，冬季10°C至20°C度。
          .d-flex
              strong.mr-2 時區：
              p GMT-4. 
          .d-flex
              strong.mr-2 人口數： 
              p 6,800,000人
          .d-flex
              strong.mr-2 官方語言：
              p 西班牙語與瓜拉尼語
          .d-flex
              strong.mr-2 貨幣：
              p 瓜拉尼與美元均通用
          .d-flex
              strong.mr-2 機場稅：
              p 美金41元
          .d-flex
              strong.mr-2 銀行營業時間：
              p 周一至周五上午8:30至下午1:30
          .d-flex
              strong.mr-2 飲用水：
              p 自來水可以生飲
          .d-flex
              strong.mr-2 電力供應：
              p 220伏特50周波
          .d-flex
              strong.mr-2(style="width:10%;") 國定假日：
              p 1月1 日新年；3月1日英雄日也是濯足節與耶穌受難日；5月1日勞動節；5月15日獨立紀念日；6月12日查科和平日；8月15日亞松森建城紀念日；12月8日聖母瑪麗亞節；12月25日耶誕節。
          .d-flex
              strong.mr-2 宗教：
              p 憲法保障宗教自由。
          .d-flex
              strong.mr-2 主要宗教：
              p 天主教。
          .d-flex
              strong.mr-2 政府：
              p 共和國。代議制民主。行政部門(總統制)，兩院立法機關(參議院和眾議院)與司法機構。    
                
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
