include mixin/cover-banner
include mixin/head

doctype html
html
  +head('Perfil Histórico')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/banner_turismo.png', '480px')
      .content.container.my-5
          
          h5 Perfil Histórico
          
          p Desde el inicio de la conquista, Paraguay fue la ruta para llegar a otros destinos. Asunción ha sido llamada “Madre de Ciudades”, pues fue el punto de la cual partieron los españoles para fundar nuevos pueblos.

          p Los franciscanos llegaron al Paraguay en la segunda mitad del siglo XVI y fundaron muchas localidades en el interior del país. Su influencia cultural fue enorme, ya que consolidaron la forma de vida criolla y el uso corriente de los idiomas Castellano y Guaraní. Sus expresiones más acabadas pueden ser visitadas en Capiatá, Yaguarón, Itá, Altos, Cazaapá, Atyrá, Ypané, Piribebuy y Tobatí, a poca distancia de Asunción. 
          p La presencia de los misioneros de la Compañía de Jesús (1609 - 1768) fue el período de la gran experiencia utópica en las Reducciones de Indígenas Guaraníes. De esa época quedan importantes testimonios: las Misiones Jesuíticas Guaraní de Santísima Trinidad del Paraná y Jesús de Tavarangué (declaradas Patrimonio Universal de la Humanidad por la UNESCO), San Ignacio Guazú, San Cosme y San Damián, Santiago, Santa María y Santa Rosa. Las artes alcanzaron gran desarrollo y dejaron un legado artístico de suprema belleza: el Barroco Guaraní. También la música conoció un notable impulso. 
          
          p En el año 1811 el Paraguay el independiza y constituye un gobierno provisional. A partir de entonces el país pasó por diferentes períodos incluyendo dos guerras, dictaduras de transición democrática y finalmente regímenes constitucionales. 
         
          h5 Música / Gastronomía 
          p Son típicas las polcas y las guaranias. El Paraguay es cuna de grandes compositores e intérpretes como Agustín Barrios y José Asunción Flores. 
       
          p La chipa, el mbeju, la chipa guazú, el pajagua mascada y la sopa paraguaya son algunos de los exquisitos platos tradicionales. Ellos hacen uso de carne, maíz, queso fresco y mandioca como ingredientes principales. 
      
          h5 Artesanía/ Arte Indígena 
          p Las manifestaciones de arte popular son resultado de la mezcla de culturas y tradiciones. Sobresalen las artesanías en cuero, los tejidos en ñandutí y ao po´i, las típicas guampas para tomar mate y tereré, la orfebrería (especialmente la filigrana de Luque) y la cerámica (especialmente la de Itá, Tobatí y Areguá). Los luthiers paraguayos son expertos en la fabricación de guitarras y arpas con maderas nobles de esta tierra. 
          
          p Las piezas de arte producidas por las diferentes comunidades indígenas están realizadas en fibras naturales, maderas diversas, semillas y otros materiales. Digno de admiración es el arte plumario, portador de la magia de antiguas ceremonias, con todo su colorido y poder. 
         
          h5 Fiestas/ Museos 
          p Durante todo el año, en pueblos y ciudades, el realizan fiestas populares que recrean las tradiciones. La celebración de la Inmaculada Concepción de Caacupé; la Semana Santa en Emboscada, Tañarandy (San Ignacio) y Piribebuy; los festivales de doma y folcklore en Santiago y San Miguel y las fiestas de San Juan, en todo el país. 
      
          p Instituciones de carácter privado y público muestran al visitante el acervo, ofreciéndole un panorama amplio de las manifestaciones artísticas, tanto históricas como contemporáneas. 

          h5 El Paisaje Humano 
          p El Paraguay es un país bilingüe. El idioma nativo predominante, el Guaraní, ha convivido durante siglos con el Castellano y es fuente de una inmensa producción poética (oral y escrita), expresada en composiciones musicales y literarias valoradas en todo el mundo. 

          p Las comunidades indígenas brindaron a las ciencias sus conocimientos de botánica, zoología y medicina natural. Asimismo, sus artes tradicionales (cantos ceremoniales, artesanía, música y danza) enriquecen el espectro cultural del país. Estas poblaciones autóctonas están compuestas por cinco familias lingüísticas: Guaraní, Zamuco, Maskoy, Mataco y Guaycuru y veinte etnias que habitan ambas regiones del país. 

          p La presencia de inmigrantes (italianos, catalanes, judíos, árabes, eslavos, japoneses y alemanes), llegados en sucesivas oleadas, aportó a la ya primera mezcla cultural española-guaraní una riqueza extraordinaria. En las últimas décadas se han incorporado a este proceso chinos, coreanos, brasileños, argentinos, chilenos y peruanos. Esta amplia diversidad cultural hace de Paraguay un país peculiar y diferente, en continua evolución. 

          h5 Perfil Político y Geográfico 
          p El Paraguay está dividido en 17 departamentos y un distrito capital, Asunción. Es un país mediterráneo que limita con Argentina, Brasil y Bolivia. Cuenta con una superficie de 406.752 km2, dividida en dos regiones naturales bien diferenciadas: la Región Oriental y la Región Occidental. 

          p El territorio está cruzado por numerosos cursos de agua y del Acuífero Guaraní, una de las más grandes reservas de agua dulce del planeta, compartido con Brasil, Argentina y el Uruguay. El Paraguay y el Paraná, evocados en la música y en la poesía, son los ríos principales.

          h5 Tecnología 
          p El desarrollo tecnológico de Paraguay está estrechamente vinculado a la presencia de dos gigantescas usinas hidroeléctricas binacionales: la de Itaipú, compartida con Brasil, considerada la mayor del mundo y la de Yacyretá, con la Argentina. La producción de energía eléctrica es una de las actividades más relevantes del país, junto a la ganadería y la agricultura mecanizada. 

          h5 Eventos 
          p Por su privilegiada ubicación geográfica, en el corazón de América del Sur, así como por la conveniente relación dólar-moneda nacional y la calidad de los profesionales locales, la capital del Paraguay está considerada como un lugar ideal para sede de eventos de diversa naturaleza. Esto se verifica en la oportuna creación del Paraguay Convention Bureau. 

          p Con infraestructura de primer nivel y equipada con tecnología de última generación, Asunción puede albergar desde pequeñas reuniones hasta congresos, convenciones, exposiciones y ferias internacionales. A esto se suma la calidez en el trato que caracteriza a los paraguayos, como un componente más para garantizar el éxito en cualquier evento. 

          h5 El Paisaje Natural 
          p El Paraguay es un país a descubrir, con la pasión de los primeros adelantados que llegaron a estas tierras de sol. 

          p Sus rasgos principales son la amplia diversidad cultural y la variedad de ecosistemas, compartidos con los países vecinos: el Chaco seco, el Chaco húmedo, el Pantanal, el Cerrado y el Bosque Atlántico del Alto Paraná con ecosistemas terrestres (bosques, sabanas y matorrales), acuáticos (ríos, riachos, lagos y lagunas) y palustres (esteros, embalsados y pantanos). Algunos que deslumbran a los visitantes son los pastizales y humedales del Ñeembucú, los bosques espinosos de Boquerón, los palmares de Presidente Hayes, las bellas serranías del Ybyturzú, los bosques subtropicales del Mbaracayú y San Rafael y los transparentes arroyos de Concepción. Otro atractivo son las especies de fauna y flora nativa compuesta de 167 mamíferos, 701 aves, 100 reptiles, 46 anfibios, 230 peces, 100.000 especies de invertebrados, 13.000 especies de plantas vasculares, 298 géneros de árboles y arbustos distribuidos en 767 especies. 

          h5 Turismo en Reservas Naturales 
          
          p El Paraguay posee una extraordinaria riqueza en áreas silvestres protegidas, tanto privadas como públicas. Es el lugar del “turismo verde” por excelencia. 

          p Los complejos hidroeléctricos binacionales de Itaipú y Yacyreta han establecido áreas especiales de protección ambiental: Refugio Biológico Tatí Yupí, las Reservas Biológicas Itabó y Limoy, el Refugio Faunístico Atinguy y el Refugio de Vida Silvestre Yabebyry. 

          p Otras áreas protegidas de gran belleza son: la Reserva Natural del Bosque Mbaracayú, los Parques Nacionales Ybycui, Cerro Corá, Defensores del Chaco, Teniente Enciso y el Monumento Científico Moisés Bertoni. Allí los visitantes encuentran lugares de camping, miradores panorámicos y senderos. 

          p El Pantanal es una extensa área que corre a lo largo del Río Paraguay, al norte, con riachos y lagunas, flora muy variada y abundantes animales silvestres. Su capital es la pintoresca ciudad de Fuerte Olimpo. 

          h5 Turismo Rural 
          p Las estancias y granjas brindan la posibilidad de vivir el encanto de una experiencia de campo, con sus actividades cotidianas: largas cabalgatas, rodeos, esquila de oveja, caminatas por senderos, visitas a comunidades indígenas, paseos en carretas y sulkys, así como recorrido por ríos y arroyos. 

          h5 INFORMACIÓN IMPORTANTE 
          p Situación geográfica: Paraguay, situado en el corazón de América del Sur -país mediterráneo comprendido entre los paralelos 19º 18´ y 27º 36´ de latitud sur, y los meridianos 59º 19´ y 62º 38´ de longitud oeste-, limita al norte con Brasil y Bolivia, al este con Brasil y Argentina, al sur con Argentina y al oeste con Argentina y Bolivia. 

          h5 Departamentos:
          p Concepción, San Pedro, Cordillera, Guairá, Caaguazú, Caazapá, Itapúa, Misiones, Paraguarí, Alto Paraná, Central, Ñeembucú, Amambay, Canindeyú, Presidente Hayes, Alto Paraguay y Boquerón. 

          p Clima: Tropical a subtropical. Temperatura promedio: 25º a 35º en verano y 10º a 20º en invierno. 
          .d-flex
              strong.mr-2 Huso horario:
              p GMT-4. 
          .d-flex
              strong.mr-2 Población:
              p 6.775.706 habitantes 
          .d-flex
              strong.mr-2 Idiomas oficiales:
              p Español y Guaraní 
          .d-flex
              strong.mr-2 Moneda:
              p Guaraní, el aceptan además dólares americanos 
          .d-flex
              strong.mr-2 Tasa de Embarque en Aeropuerto:
              p USD 41, 80 dólares 
          .d-flex
              strong.mr-2 Horarios Bancarios:
              p De lunes a viernes de 08:30 a 13:30 
          .d-flex
              strong.mr-2 Agua para tomar:
              p El agua corriente es potable 
          .d-flex
              strong.mr-2 Electricidad:
              p 220 voltios y 50 ciclos 
          .d-flex
              strong.mr-2 Feriados Oficiales:
              p 1º de enero, Año Nuevo; 1º de marzo, Día de los Héroes; jueves y viernes santos; 1º de mayo, Día del Trabajador; 15 de mayo, Independencia Nacional; 12 de junio, Paz del Chaco; 15 de agosto, Fundación de Asunción; 29 de setiembre, Batalla de Boquerón; 8 de diciembre Virgen de Caacupé; 25 de diciembre Navidad 
          .d-flex
              strong.mr-2 Religión:
              p Libertad de culto garantizada constitucionalmente. 
          .d-flex
              strong.mr-2 Religión predominante:
              p Católica Apostólica Romana. 
          .d-flex
              strong.mr-2 Gobierno:
              p República. Democracia representativa. Poder Ejecutivo (sistema presidencialista), Poder Legislativo Bicameral (Cámara de Senadores y Cámara de Diputados) y Poder Judicial.
              
                
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
