include mixin/cover-banner
include mixin/head

doctype html
html
  +head('旅遊')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/banner_turismo.png', '480px')
      .content.container.my-5
          
          h5 Historical Profile
          
          p Starting in the 15th century, Paraguay became the main route to other destinations around the continent. Asunción has been traditionally known as “Mother of Cities", serving as a place from where the Spaniards departed to found new Colonies.
            br 
            | The Franciscans arrived in Paraguay in the second half of the 16th Century and founded several communities throughout the country. Their cultural influence was enormous, due to the fact that they consolidated the life style of locals and the daily use of both the Spanish and Guaraní Languages. Some of these works of art can be seen in the churches and museums of the cities of Capiatá, Yaguarón, Itá, Altos, Caazapá, Atyrá, Ypané, Piribebuy and Tobatí, just a short ride away from Asunción.
          p The presence of the missionaries of the Company of Jesus (1609 - 1768) was one of the great utopian period experiences in the region that established what was known as the Reductions of Guaraní Tribes. Important testimonies in the country left from that time are: the Ruins of Santísima Trinidad and Jesus (declared World _Heritage Site by UNESCO), San Ignacio Guazú, San Cosme and San Damián, Santiago, Santa María and Santa Rosa. Arts and music flourished during this period and left an artistic legacy of supreme beauty also known as the "Guaraní Baroque".
          
          p Paraguay declares its independence from Spain in 1811. A Provisional Government is created and ever since, the country has gone through different periods including two wars, dictatorships, democratic transition and finally constitutional regimes.
         
          h5 Music- Food 
          p Paraguayan Polka and Guaranias are the typical musical rhythms. Paraguay is the cradle of great musical composers and interpreters such as Agustín Barrios and José Asunción Flores.   
            br 
            | “Chipa”, “Mbeyú”, “Chipa Guazú”, “Payaguá Mascada”, and “Sopa Paraguaya” are some of the exquisite traditional meals made with beef, corn, fresh cheese and manioc as their main ingredients.

          h5 Hand Crafts 
          p The popular art manifestations are results of the mixture of cultures, traditions, and available resources.Leather crafts,  “Ñandutí” and “Aó po-í” hand woven fabrics, the typical Guampas to drink "Mate" and "Tereré" infusions, silver handwork, especially the filigree from the City of Luque, the pottery, especially that from the Cities of Itá, Tobatí and Areguá are outstanding. Paraguayan Luthiers, are experts in the production of guitars and harps with noble woods from this land.

          
          h5 Indigenous art
          p The art pieces handcrafted by different indigenous communities are made from natural fibers, diverse woods, seeds, and other materials. Worthy of admiration is the art with colorful feathers, carrier of the magic of old ceremonies, with all its color and power.

          h5 Celebrations
          p During the entire year, towns and cities all over the country recreate the traditional popular celebrations and customs. The celebration of the Immaculate Conception, in Caacupé; the Easter Celebrations in Emboscada, Tañarandy (San Ignacio), and Piribebuy; and San Juan celebration in the entire country as well as the rodeo and folklore festivals in Santiago and San Miguel. 
          
          h5 Museums
          p Private as well as public museums and institutions offer the visitors insight into the historical and contemporary artistic manifestations of Paraguayan culture.
          
          h5 The Human Landscape
          p Paraguay is a bilingual country. Guaraní, the predominant native language, has cohabited for centuries with Spanish. This mixture of languages has been the source of inspiration for poetry expressed in musical and literature that is read and heard all over the world.

          p Paraguay is home to a diversity of indigenous cultures that have offered their botany, zoology, and natural medicine knowledge, to modern sciences and Paraguayan customs. At the same time, their traditional arts including ceremonial songs, crafts, music, and dances enrich the cultural experience of the country. These endemic communities are conformed by five linguistic families: Guaraní, Zamauco, Maskoy, Mataco, and Guaycurú plus twenty ethnic groups living in both regions of the country. 
          
          p The presence of Italian, Catalan, Eastern-European, Middle-Eastern, Japanese, and German descendants that originally arrived in successive migration waves within the last two centuries, contributed to enrich the first Spanish-Guaraní cultural mixture. In the last decades immigration from Asia and other Latin American countries has continued this process.

          h5 Political and Geographical Profile

          p araguay is a landlocked country that borders with Argentina, Brazil, and Bolivia. It is politically divided into 17 Departments and Asunción - a District Capital, with a total surface area of 406.752 square kilometers. It is divided into two well-differentiated natural regions, the Eastern or Oriental Region and the Western or Chaco Region separated by the Paraguay River, which runs through the country from North to South. The Paraguay and Paraná Rivers, which are the main waterways, are evoked in music and poetry. Numerous smaller rivers and streams flow through the country while the Guaraní Aquífer, one of the biggest fresh water reserves on the Planet, flows underground. 
            br 
            | Asunción is the Capital City, with a population of 600.000, and wide tree-covered avenues, it boasts modern hotels, shopping malls, and theaters alongside more traditional and historic architecture. Other important Cities include Encarnación, Ciudad del Este and Pedro Juan Caballero, all of them on the borders with Argentina and Brazil, also with hotel infrastructure, nightlife and natural beauty.
         
          h5 Technology
          p The technological development of Paraguay is closely linked to the presence of two gigantic binational hydroelectric power plants dams: Itaipú, shared with the Brazil, considered the biggest in the world, and Yacyretá, with Argentina. Electric power production is one of the most outstanding activities in the country, as well as ranching and agriculture.
          
          h5 Events
          
          p Due to its privileged geographical location in the heart of South America, as well as for the favorable rate of exchange, and the quality of local lodging and hospitality professionals, the Capital of Paraguay is considered an ideal place for events and conventions. Thanks to the recent creation of The Paraguay Convention Bureau important events have been hosted and the demand is growing. The high level of infraestructure and technology permits Asunción to house anything from small meetings and lectures, up to large convention, exhibitions and international fairs. In addition to the friendly treatment of visitors, a characteristic of Paraguayans, all this guarantees the success of any event.
          
          h5 The Natural Landscape

          p Paraguay is a country to be discovered, with the same passion of the early conquers that arrived to these lands of sun and forest. The main attractions are the many cultures and natural ecosystems that can be enjoyed and are shared with neighboring countries: The dry Chaco; the wet Chaco; the Pantanal: the Cerrado; and the Alto Paraná Atlantic Forest with land ecosystems (forests, savannas and low forests), aquatic ecosystems (rivers, streams, lakes and lagoons), and wetlands (marshes, estuaries). Visitors are impressed by the grasslands and marshes in Ñeembucú, the thorny dry-forests of Boquerón, the palm tree savannas of Presidente Hayes, the beautiful hills of the Sierras of Ybytyruzú, the Subtropical Forests of Mbaracayú and San Rafael, and Concepcion's crystal clear water streams.

          p Other attractions include the native fauna and flora with 167 mammals, 701 birds, 100 reptiles, 46 amphibians, 230 fish, 100.000 invertebrate, 13.000 vascular plants, 289 trees and shurbs distributed in 767 species.
          
          h5 Tourism in Natural Reserves
          p Paraguay has an extensive system of public and private protected areas, making it a fantastic nature tourism destination.
            br 
            | The bi-national hydroelectric power plants of Itaipú and Yacyretá have special areas established for environmental protection of the endangered Alto Paraná Atlantic Forest that include; the Tatí Yupí Biological Refuge, the Itabó and Limoy Biological Reserves, the Atinguy Wildlife Reserve and the Yabebyry Wild Life Reserve.
          p The Pantanal areas of great beauty are: the Mbaracayú Forest Natural Reserve, Ybycuí, Cerro Cora, Defensores del Chaco, Teniente Enciso National Parks; and the “Moisés Bertoni” Scientific Monument, where visitors can enjoy camping sites, panoramic watch-towers, and trekking paths.  
          p The Pantanal is a world-renowned wetland area that follows the Paraguay River North towards the border with Brazil and Bolivia. These wetlands have a great number of streams and lagoons, with rich an exotic flora and abundant wildlife. The City of Fuerte Olimpo is its picturesque Capital. The "Crucero Paraguay" and   “Lancha Aquidabán” cruise vessels offer an option to visit natural paradise.

          h5 Rural Tourism

          p Paraguay has an extensive system of public and private protected areas, making it a fantastic nature tourism destination.
            br
            | The bi-national hydroelectric power plants of Itaipú and Yacyretá have special areas established for environmental protection of the endangered Alto Paraná Atlantic Forest that include; the Tatí Yupí Biological Refuge, the Itabó and Limoy Biological Reserves, the Atinguy Wildlife Reserve and the Yabebyry Wild Life Reserve.
          p The Pantanal areas of great beauty are: the Mbaracayú Forest Natural Reserve, Ybycuí, Cerro Cora, Defensores del Chaco, Teniente Enciso National Parks; and the “Moisés Bertoni” Scientific Monument, where visitors can enjoy camping sites, panoramic watch-towers, and trekking paths.  
          p The Pantanal is a world-renowned wetland area that follows the Paraguay River North towards the border with Brazil and Bolivia. These wetlands have a great number of streams and lagoons, with rich an exotic flora and abundant wildlife. The City of Fuerte Olimpo is its picturesque Capital. The "Crucero Paraguay" and   “Lancha Aquidabán” cruise vessels offer an option to visit natural paradise.

          h5 IMPORTANT INFORMATION

          
          .d-flex
              strong.mr-2(style="width:15%;") Geographical Situation:
              p Paraguay, the heart of South America, is a landlocked country located between latitudes 19º 18´ S and 27º 36´ S and longitude 59º 19´ W and 62º 38´ W. It borders on the Northern side with Bolivia and Brazil, on the Eastern side with Brazil and Argentina, on the Southern side with Argentina, and on the Western side with Bolivia and Argentina. The average Summer temperature is between 25ºC and 35ºC while the average Winter temperatures is between 10ºC and 20ºC.
          .d-flex
              strong.mr-2(style="width:15%;") Departments:
              p Alto Paraguay, Alto Paraná, Amambay, Boquerón, Caaguazú, Caazapá, Canindeyú, Central, Concepción, Guairá, Itapúa, Cordillera, Misiones, Ñeembucú, Paraguarí, Presidente Hayes, San Pedro.
          .d-flex
              strong.mr-2 Weather:
              p Tropical to Subtropical.
          .d-flex
              strong.mr-2 Average Temperature: 
              p 25ºC to 35ºC during Summer and 10ºC to 20ºC during Winter.
          .d-flex
              strong.mr-2 Time Zone:
              p GMT – 4
          .d-flex
              strong.mr-2 Population:
              p 6.800.000 inhabitants
          .d-flex
              strong.mr-2 Official Languages:
              p Spanish and Guaraní
          .d-flex
              strong.mr-2 Currency: 
              p Guaraní, US Dollars are also accepted
          .d-flex
              strong.mr-2 Airport Tax:
              p 41 dollars
          .d-flex
              strong.mr-2 Banking Hours: 
              p Monday through Friday from 8:30 am to 1:30 pm
          .d-flex
              strong.mr-2 Drinking Water: 
              p Tap water is drinkable
          .d-flex
              strong.mr-2 Power Supply:
              p  220 volts and 50 cycles
          .d-flex
              strong.mr-2(style="width:10%;") Official Holidays: 
              p January 1, New Year’s Day; march 1, Heroes Day; Holy Thursday and Good Friday; May 1, Labor Day; May 15, Independence Day; June 12, Peace of the Chaco War; August 15, Foundation of Asunción; December 8, Virgin of Caacupé; December 25, Christmas Day.
          .d-flex
              strong.mr-2 Religion:
              p  Constitutionally guaranteed religious freedom.
          .d-flex
              strong.mr-2 Predominant Religion:
              p Roman Catholic.
          .d-flex
              strong.mr-2 Government:
              p Republic. Representative Democracy. The Executive Branch (Presidential System), the two-chambers Legislature Branch (Senators and Deputies) and the Judiciary.
                
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
