include mixin/cover-banner
include mixin/head

doctype html
html
  +head('BILATERAL TRADE')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/comercio_banner.png', '480px')
      #page
        .container
          main
            h1(class="page-title") BILATERAL TRADE
            .table_content
              p The import and export statistics between the Republic of Paraguay and the Republic of China-Taiwan.
              p(style="color:#DF5514;    font-weight: bold;")
                a(href="https://cus93.trade.gov.tw/FSCE000F/FSCE000F" target="_blank") EXPORT / IMPORT TRADE STATISTICS (English)

                        
                    
                  
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
    
