include mixin/cover-banner
include mixin/head

doctype html
html
  +head('巴拉圭共和國經濟指數')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/indicadores_economicos.png', '480px')
      .content.container.my-5
        h1 巴拉圭共和國經濟指數
          br
          | 2018年 
          .row
            .col-sm-6
              img(src="images/Indicadores.png")
              span(style="font-size:16px;") *取自巴拉圭中央銀行資料
            .col-sm-6
              p(style="font-size:16px;line-height:30px;") 預估 2018 國內生產總值4,5%
                br
                | 2017 國內生產總值 4,3%
                br
                | 2017 通貨膨脹4,5%
                br
                | 淨國際儲蓄 2018年4月6日 (暫時)  約88億美元
              br
              p(style="font-size:16px;line-height:30px;") 巴拉圭國家貨幣瓜拉尼與美金兌換匯率 US$1=Gs.5.480
                br
                | 勞動人口4,568,545人
                br
                | 失業率7,6% 
                br
                | 最低月薪Gs. 2,041,123. (約US$ 368)
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
