include mixin/cover-banner
include mixin/head

doctype html
html
  +head('投資')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/inversiones_banner.png', '480px')
      #page
        .container
          main
            h1(class="page-title") 投資
            .inversion_content
              .wrapper
                .inversion.even
                  .row
                    .left.col-md-5
                      img(src="./images/inversion_01.png", alt="")
                    .right.col-md-7
                      .title 本地區最佳投資環境（南方共同市場）
                      br
                      .content 
                        p 於其2016年5月，巴拉圭被Getulio Vargas基金會出版之報告評定為南美洲國家中得分最高之經濟先鋒。實際上，僅有該國與秘魯經濟處於繁榮狀態。GetulioVargas基金會與德國萊布尼茨（Leibniz）經濟研究所共同設立巴西經濟研究所。該研究機構從事編製之拉丁美洲經濟投資環境（ICE）指標，並於2016年2月至4月評定巴拉圭經濟投資環境分數為105分。
                        br
                        p 該機構並於報告中指出，並非每一拉丁美洲國家之經濟投資環境均呈現有高度吸引力，僅巴拉圭及秘魯（秘魯得分104分）兩國得分超過篩選有利投資經濟體標準，亦即（ICE）指標100分。經濟投資環境係以金融產品市場投資相關風險程度衡量。
                .inversion.odd
                  .row
                    .left.col-md-5
                        img(src="./images/inversion_02.png", alt="")
                    .right.col-md-7
                      .title 該區域最適宜”經營事業”排名第五
                      br 
                      .content 
                        p 根據世界銀行最近於2016年10月發布之2017年經營事業環境指數”，巴拉圭在十個南美國家中排名第五，並於全球190個國家中排名第106名。南美洲評分最高國家分為為哥倫比亞，秘魯，智利與烏拉圭。其他重要國家排名:阿根廷排名116，巴西則排名123。
                .inversion.even
                  .row
                    .left.col-md-5
                        img(src="./images/inversion_03.png", alt="")
                    .right.col-md-7
                      .title 投資利潤率排名第二之國家（22％）
                      br
                      .content 
                        p 聯合國拉丁美洲與加勒比經濟委員會（拉丁美洲與加勒比海區經濟委員會）於2014年出具一份報告，根據該報告，投資於巴拉圭的回報率為22％，為拉丁美洲國家次高。投資報酬率最高之國家為秘魯，回報率為25％。在該報告調查之期間，秘魯提報之採礦業享有高回報率。
                        br
                        p 企業家投資於巴拉圭相對南美其他國家可以獲得更高盈利。企業於各國投資回報率分別為:阿根廷10％，烏拉圭8％，而巴西則為6％。該報告並指出，巴拉圭為資本家提供了該地區最低稅賦與充沛勞動力，該國工資之競爭力幾乎可與亞洲地區匹敵。

                .inversion.odd
                  .row
                    .left.col-md-5
                        img(src="./images/inversion_04.png", alt="")
                    .right.col-md-7
                      .title 傑出的世界糧食生產國
                      br
                      .content 
                        p 巴拉圭目前供應之食物可供應大約8000萬人，假設該國耕種採用科技並運用耕地規劃，此農業糧食產能可擴增為三倍。
                        br
                        p 巴拉圭部分出口農產品供應消費之用亦或投入食品工業。另一部分出口則供應農場飼養動物，最終貢獻仍舊歸屬到消費性食品。
                .inversion.even
                  .row
                    .left.col-md-5
                        img(src="./images/inversion_06.png", alt="")
                    .right.col-md-7
                      .title 該國66％人口年齡低於35歲
                      br
                      .content 
                        p 2012年該國統計調查及普查總局進行人口普查數據，根據該項調查（其中推估2016年之數據），該國全國有66％人口齡低於35歲。


      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
