include mixin/cover-banner

doctype html
html
  include components/head
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/incentivos_fiscales_banner.png', '480px')        
      .content.container.my-5
        .incentivos_fiscales_content
            h1 INCENTIVOS FISCALES
            h3 MAQUILA – PARAGUAY
            p En julio del año 2000 fue reglamentada la LEY 1064/97 “DE LA INDUSTRIA MAQUILADORA DE EXPORTACIÓN”, que tiene por objeto promover el establecimiento y regular las operaciones de empresas maquiladoras que se dediquen total o parcialmente a realizar procesos productivos tangibles o intangibles, combinando bienes o servicios de procedencia extranjera importados temporalmente, con mano de obra y otros recursos nacionales, destinando su producción a los mercados de exportación.
            p Esta actividad es realizada en virtud del Contrato de Maquila, suscrito entre una empresa domiciliada dentro del territorio nacional (Maquiladora) y otra domiciliada en el exterior (Matriz).
            p Paraguay declares its independence from Spain in 1811. A Provisional Government is created and ever since, the country has gone through different periods including two wars, dictatorships, democratic transition and finally constitutional regimes.
            p 
            h5 ASPECTOS ADUANEROS 
            p IMPORTACIÓN TEMPORAL CON SUSPENSIÓN DEL PAGO DE ARANCELES Régimen de Importación de las maquiladoras: operarán bajo la figura “Admisión Temporaria”; que permite el ingreso al país de bienes de capital, materias primas e insumos con la suspensión temporal del pago de los aranceles e impuestos, previo afianzamiento en forma de: garantía hipotecaria, prendaria, fianza bancaria, dinero efectivo, pólizas de seguro o warrant.
            br
            h5 ASPECTO TRIBUTARIO
            p TRIBUTO ÚNICO DEL UNO (1)%
            p En sustitución de cualquier otro tributo, se establece un Tributo Único del Uno (1)% a aplicarse sobre:
            p • el Valor Agregado en Territorio Nacional (factura del servicio maquila, emitido por la maquiladora a la matriz), o
            p • sobre el valor total del producto, para el caso en que la maquiladora emita factura al cliente final por ese valor total, por cuenta y orden de la matriz.
            br
            h5 VALOR AGREGADO EN TERRITORIO NACIONAL
            p Es la sumatoria de :
            p a. Bienes adquiridos en el país para cumplir con el contrato de maquila y sub-maquila Se debe entender por compras en el país los bienes de compra local o importados definitivamente por el maquilador o submaquilador.
            p b. Servicios contratados 
            p Comprende:
            p • Energía eléctrica, agua, teléfono, otros similares.
            p • Servicios de profesionales independientes.
            p • Costo de financiamiento de capital operativo de la fábrica.
            p • Seguros de planta industrial, materias primas y de productos terminados.
            p • Depreciación de maquinarias en caso de ser de propiedad de la Maquiladora.
            p • Alquileres o arrendamientos pagados, sea por inmuebles, plantas equipos, etc.
            p • Demás servicios contratados no detallados anteriormente.
            p c. Salarios pagados en el país
            p Incluyendo cargas sociales.
            br
            h5 ASPECTOS ADUANEROS 
            p IMPORTACIÓN TEMPORAL CON SUSPENSIÓN DEL PAGO DE ARANCELES.
            p Régimen de Importación de las maquiladoras: operarán bajo la figura “Admisión Temporaria”; que permite el ingreso al país de bienes de capital, materias primas e insumos con la suspensión temporal del pago de los aranceles e impuestos, previo afianzamiento en forma de: garantía hipotecaria, prendaria, fianza bancaria, dinero efectivo, pólizas de seguro o warrant.
            br
            h5 ASPECTO TRIBUTARIO
            p TRIBUTO ÚNICO DEL UNO (1)%
            p  En sustitución de cualquier otro tributo, se establece un Tributo Único del Uno (1)% a aplicarse sobre: 
            p  • el Valor Agregado en Territorio Nacional (factura del servicio maquila, emitido por la maquiladora a la matriz), o 
            p  • sobre el valor total del producto, para el caso en que la maquiladora emita factura al cliente final por ese valor total, por cuenta y orden de la matriz.
            br
            h5 LEY 60/90
            p RÉGIMEN DE INCENTIVOS FISCALES A LA INVERSIÓN DE CAPITAL DE ORIGEN NACIONAL Y EXTRANJERO
            p El objeto de esta Ley es promover e incrementar las inversiones de capital de origen nacional y/o extranjero que busquen:
            p “El acrecentamiento de la producción de bienes y servicios”
            p “La creación de fuentes de trabajo permanente”
            p “El fomento de las exportaciones y la sustitución de importaciones”
            p “La incorporación de tecnologías que permitan aumentar la eficiencia productiva y posibiliten la mayor y mejor utilización de materias primas, mano de obra y recursos energéticos nacionales”
            br
            h5 SUJETO Y FORMAS DE INVERSIÓN
            p Serán beneficiarias de la presente Ley las personas físicas y jurídicas, nacionales o extranjeras.
            br
            h5 ACTIVIDADES
            p • Minas y Canteras
            p • Agropecuarias
            p • Industrias
            p • Transporte aéreo de cargas y pasajeros
            p • Transporte terrestre de cargas y pasajeros
            p • Salud
            p • Radio, Televisión y Prensa Escrita
            p • Telefonía rural o urbana – Telefonía móvil
            p • Transporte fluvial
            p • Silos o almacenamientos en general
            p • Servicios de Internet o transmisión de Datos e investigación de Científica
            p • Hotelería
            br
            h5 BENEFICIOS FISCALES Y MUNICIPALES
            p Establecidas en el Art. 5º y modificadas por la Ley Nº 2421/04, incisos:
            p c. Exoneración total de los gravámenes aduaneros y otros de efectos equivalentes, incluyendo los impuestos internos de aplicación específica, sobre la importación de bienes de capital, materias primas e insumos destinados a la industria local, previstas en el proyecto de inversión; Las actividades de Servicios tributa el IVA. Asimismo, cuando existe producción nacional, no son concedidos losincentivos fiscales para la importación de bienes de capital.
            p f. Cuando el monto de la FINANCIACION proveniente del EXTRANJERO y la actividad beneficiada con la inversión fuere de por los menos U$S 5.000.000, quedará exonerado el pago de los tributos que gravan a las remesas y pagos al exterior en concepto de intereses, comisiones y capital de los mismos, por el plazo pactado siempre que el prestatario fuese alguna de las entidades indicadas en el Art. 10°, inciso g) de la Ley N° 125/91.
            p h. Exoneración total de los impuestos que inciden sobre los DIVIDENDOS Y UTILIDADES provenientes de los proyectos aprobados, por el término de hasta diez (10) años, contados a partir de la puesta en marcha del proyecto cuando la inversión fuere de por los menos U$S 5.000.000 y el impuesto a tales dividendos y utilidades no fuere crédito fiscal del inversor en el país del cual proviene la inversión.
            br
            h5 DISPOSICIONES GENERALES
            p CONSEJO DE INVERSIONES: Es un organismo asesor de los Ministerios de Industria y Comercio y de Hacienda y se encuentra conformado por un representante del:
            p 1. Ministerio de Industria y Comercio;
            p 2. Ministerio de Hacienda;
            p 3. Ministerio de Agricultura y Ganadería;
            p 4. Secretaría Técnica de Planificación para el Desarrollo Económico y Social (STP);
            p 5. Banco Central del Paraguay (BCP);
            p 6. Sector primario de la producción (FEPRINCO);
            p 7. Industrial o secundario de la producción (U.I.P.).
            p IMPACTO AMBIENTAL: El proyecto de inversión para recibir los beneficios de la presente Ley, deberá contar con Licencia Ambiental emitida por la Secretaría del Ambiente (SEAM), conforme a lo establecido en la Ley N° 294/93 “De evaluación de impacto ambiental” y sus Decretos reglamentarios.
            p Para la instalación de plantas industriales deberá contemplar el impacto ambiental y el marco previsto con la planificación urbana de cada localidad.
            p PRÓRROGAS: Las solicitudes de prórrogas, de las Resoluciones Biministeriales, serán concedidas por única vez, por el termino de (1) un año, previo análisis por el Consejo de Inversiones.
            p La prórroga será concedida exclusivamente para la importación de bienes de capital, prevista en el Art. 5º, inciso c).
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
