include mixin/cover-banner
include mixin/head

doctype html
html
  +head('INVESTMENTS')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/inversiones_banner.png', '480px')
      #page
        .container
          main
            h1(class="page-title") INVESTMENTS
            .inversion_content
              .wrapper
                .inversion.even
                  .row
                    .left.col-md-5
                      img(src="./images/inversion_01.png", alt="")
                    .right.col-md-7
                      .title BEST INVESTMENT CLIMATE IN THE REGION (MERCOSUR)
                      .content 
                        p In its May 2016 report, the Getulio Vargas Foundation placed Paraguay in the economic vanguard of South America with the best score. In fact, only our country and Peru have prosperous economies. The Paraguayan economic climate received 105 points in the quarter from February to April 2016, according to the Latin American Economic Climate (ICE) indicator, prepared by the Brazilian Institute of Economy, belonging to the Getulio Vargas Foundation, and the Institute German IFO (Leibniz Institute for Economic Research). The report noted that the economic climate does not show very encouraging results for Latin America and only Paraguay and Peru (104 points) were above the line separating favorable and unfavorable economies, which is 100 points (ICE). The economic climate is defined as the degree of risk associated with investments in financial product markets.
                .inversion.odd
                  .row
                    .left.col-md-5
                        img(src="./images/inversion_02.png", alt="")
                    .right.col-md-7
                      .title TOP 5 REGIONAL RANKING "DOING BUSINESS"
                      .content 
                        p According to the World Bank’s recent “Doing Business Index 2017” published in October 2016, Paraguay ranks 5th among the ten South American countries and ranked 106th out of 190 countries in the world. The top positions in South America are occupied by Colombia, Peru, Chile and Uruguay. On the other hand, Argentina ranks 116, and Brazil ranks 123.
                .inversion.even
                  .row
                    .left.col-md-5
                        img(src="./images/inversion_03.png", alt="")
                    .right.col-md-7
                      .title
                       | SECOND COUNTRY WITH HIGHER 
                       br
                       | INVESTMENT PROFITABILITY (22%)
                      .content 
                        p In Paraguay, the return on investment is 22%, according to the report of the United Nations Economic Commission for Latin America and the Caribbean (ECLAC) in 2014, the second highest in Latin America. In the first place Peru has 25%, which in that period had registered high returns in the mining sector. An entrepreneur who invests his capital in Paraguay can achieve greater profitability compared to Argentina with a return of 10%, Uruguay with 8% and Brazil with 6%. Paraguay offers capital financiers the lowest taxes in the region and an abundant labor force, with salaries almost as competitive as the Asians, according to the report. .inversion.odd
                .inversion.odd
                  .row
                    .left.col-md-5
                        img(src="./images/inversion_04.png", alt="")
                    .right.col-md-7
                      .title GREAT FOOD PRODUCER FOR THE WORLD
                      .content 
                        p Paraguay now produces food for approximately 80 million people, and can triple that condition with incorporation of technology and territorial planning. Some of Paraguay’s agricultural exports are destined for final consumption or for the food industry, while another part is used for the feeding of farm animals, which in turn contribute to consumer food. .inversion.even
                .inversion.even
                  .row
                    .left.col-md-5
                        img(src="./images/inversion_06.png", alt="")
                    .right.col-md-7
                      .title 66% OF THE POPULATION IS LESS THAN 35 YEARS OLD
                      .content 
                        p 66% of the national population is less than 35 years old, according to data from the General Directorate of Statistics, Surveys and Censuses, based on the 2012 Census (projection for 2016).


      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
