include mixin/cover-banner
include mixin/head

doctype html
html
  +head('Economic Indicators of the Republic of Paraguay')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/indicadores_economicos.png', '480px')
      .content.container.my-5
        h1 Economic Indicators of the Republic of Paraguay
        .row
          .col-sm-6
            img(src="images/Indicadores.png")
          .col-sm-6
            p 
             | GDP 2018 projection 4.5%
             br
             | GDP 2017 (Provisional) 4.3%
             br
             | Inflation 2017 4.5%
             br
             | RIN April 6, 2018 (Provisional) 8,809.8 M US $ 
             br
            br
            p
              | National Currency and Exchange rate with the US dollar US $ 1 = Gs. 5.480
              br
              | Active Population [1] 4,568,545 people Unemployment Rate [1] 7.6%
              br
              | Minimum monthly salary [1] Gs. 2,041,123. (US $ 368 approx.)
              br
        br
        p [1] Economic Indicators 2018 from the Central Bank of Paraguay
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
