include mixin/cover-banner
include mixin/head

doctype html
html
  +head('INVESTMENTS LAWS')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/incentivos_fiscales_banner.png', '480px') 
      .content.container.my-5
          h1 INVESTMENTS LAWS
          .incentivos_fiscales_content
            h3 MAQUILA
            p In July 2000, Law 1064/97 “OF THE MAQUILADORA EXPORT INDUSTRY” was regulated, with the purpose of promoting the establishment and regulation of the operations of maquiladora companies that are totally or partially engaged in carrying out tangible or intangible production processes, combining goods or services of foreign origin imported temporarily, with labor and other national resources, focusing their production to the export markets. This activity is carried out under the Maquila Contract, signed between a company domiciled within the national territory (Maquiladora) and another company domiciled abroad (Matrix).

            h3 BENEFITS
            strong CUSTOMS ASPECTS 
            p TEMPORARY IMPORT WITH SUSPENSION OF TARIFF PAYMENT Import Regime of the maquiladoras: they will operate under the figure “Temporary Admission”; Which allows the entry of capital goods, raw materials and inputs with the temporary suspension of the payment of tariffs and taxes, prior assumption in the form of mortgage guarantee, pledge, bank guarantee, cash, insurance policies or warrant.

            strong TAX ASPECT
            p
              | ONE SINGLE TAX (1)%
              | In substitution of any other tax, a Unique Tribute of One is established (1)% to be applied on:
            ul
              li Value Added in National Territory (maquila service invoice, issued by the maquiladora to the matrix), or
              li on the total value of the product, in case the maquiladora issues invoice to the final customer for that total value, on account and order of the matrix.

            strong VALUE ADDED IN NATIONAL TERRITORY
            p
              | It is the sum of:
              br
              | a.Goods acquired in the country to comply with the maquila and sub-maquila contract
              br
              | It should be understood by purchases in the country the goods of local purchase or definitively imported by the maquiladora or sub-maquila party.
              br
              | b. Hired services
              br
              | It includes:
              ul
                li Electric power, water, telephone, other similar.
                li Services of independent professionals.
                li Operational capital financing cost of the factory.
                li Insurance of industrial plant, raw materials and finished products.
                li Depreciation of machinery in case of being owned by the Maquiladora
                li Rentals or leases paid, whether for real estate, plant equipment, etc.
                li Other contracted services not detailed above.
                li c. Salaries paid in the country including social charges.

            strong RECOVERY OF VAT
            In terms of Value Added Tax, the Maquiladora is constituted as a retention agent (100%), and recovers the VAT retained and deposited in a maximum term of 10 days.
    
            br

            strong TAX EXEMPTIONS
            p The maquiladoras are exempt from any other national, departmental or municipal taxes, with the exception of the 1% Single Tax. For sales in the local market (maximum 10% of the previous year’s production, with prior authorization from the CNIME), all tariffs and taxes that have been suspended should be paid. The same is required for the nationalization of by-products, products and waste. This exemption extends to:
            p
              | A. The importation of the goods included in the tolling agreement.
              br
              | B. The re-export of imported goods under the referred Contract.
              br
              | C. The re-export of goods transformed, processed, repaired or assembled under the referred Contract.

          h3 SCOPE OF EXEMPTIONS
          br
          strong EXPECTED EXEMPTIONS
          p For the purposes of the exemptions provided for in article 30 of the law, the following taxes are included:
          ol
            li Customs Taxes established in Law 1.173/85 “Customs Code” and its amendments.
            li Payment of Fees for Customs Valuation Service.
            li Consular fees.
            li Rate of the National Institute of the Indigenous (INDI).
            li Port (50%) and Airport Taxes.
            li Payment for Computer fees.
            li Any other taxes, levies or contributions existing or to be created, which tax the entrance and/or exit of the Assets under the Maquila Industries Regime.
            li The totality of taxes, fees and contributions that are subject to the guarantees that Companies and/or Third Parties Grant and relate to the Maquila Industries Regime.
            li All taxes, fees and contributions on loans to finance Maquila Operations.
            li The taxes that could tax the remittances of money related to the Maquila Industries Regime.

          strong BENEFITS FOR COMPANIES THAT MAKE EXCLUSIVELY MAQUILA OPERATIONS
          p The Companies that exclusively perform Maquila Operations will enjoy, in addition to the benefits mentioned in the previous article, the following:
          ol
            li Exoneration of the Tax of Patents to Shops, Industries, Professions and Trades.
            li Exoneration of the Construction Tax that has a link with the Industrial Plant and/or Services as approved in the Maquila Program.
            li Exoneration of fees directly related to the Maquila Process.
            li Exemption from Value Added Tax levied on the leasing or leasing operations of the Machinery and equipment that are part of the Maquila Program.
            li Any other taxes, levies or national or departmental contributions created or to be created.

          h3 HIGHLIGHTS OF THE MAQUILA REGIME

          strong WHO CAN ACHIEVE THE BENEFITS OF THIS LAW?
          p Any person, physical or legal, national or foreign domiciled in the country and who is authorized to conduct trade acts can request the approval of an export Maquila Program.

          strong WHERE CAN THEY BE INSTALLED?
          p In any part of the national territory, with the only limitation given by the national, departmental and municipal programs of urban development and environmental issues.

          strong WITH WHAT LEGAL MODE?
          p In any of the forms established in the Law: Sociedades Anonimas (S.A.), Comanditas, de Responsabilidad Limitada (S.R.L.) ”Limited Liability Companies”, Branches of Foreign Companies or Individual Company with Limited Liability.

          strong WHAT ARE THE DEMANDS WITH RESPECT TO OWNERS?
          p They can be 100% foreign capital, 100% domestic, joint ventures. Law 117/91 “Of investments” offers the same guarantees to national and foreign investments.

          strong HOW ARE THE ENVIRONMENTAL ASPECTS REGULATED?
          p All matters relating to environmental issues are derived from laws, regulations and municipal ordinances relating thereto.

          strong HOW ARE THE LABOR ASPECTS REGULATED?
          p Everything related to this area is derived from the Labor Code on substantive issues and the Labor Procedural Code for questions of form.

          h3 PROCEDURE TO MAKE MAQUILA

          strong STEP BY STEP

          strong REGISTRATION
          p Of the Physical or Legal Person in the Executive Secretariat of CNIME-National Council of Export Maquiladoras Industries.

          strong SUBMISSION OF THE MAQUILA PROGRAM
          p It must contain the description and characteristics of the industrial or service process, detail of imports, production, exports, employment generation, value added, percentage of decrease and waste, time covered by the program and other specified in the corresponding regulation (the model of Program is facilitated by the Executive Secretariat of the National Council of Export Maquiladoras Industries). Accompanied by a Letter of Intent in case that the tolling agreement is not yet available.

          strong APPROVAL BY THE NATIONAL COUNCIL OF EXPORT MAQUILADORAS INDUSTRIES – CNIME
          p The CNIME proceeds to evaluate, to issue prior opinion and to communicate to the Ministries of Industry and Commerce and of Finance, so that they grant their approval for the execution of the “Maquila Program” by corresponding Resolution from both ministries.

          strong ISSUE OF BIMINISTERIAL RESOLUTION
          p After approval by the CNIME and completed all pertinent legal provisions, the Biministerial Resolution is drawn up, which is signed by the Ministers of Industry and Commerce and Finance.

          strong SUBMISSION OF TOLLING AGREEMENT
          p From the delivery of the Biministerial Resolution, the maquiladora company has a deadline of 120 days for the presentation of the tolling agreement, being it indispensable to start the operations contemplated in the Program.

          strong START OF OPERATIONS
          p Once all the requirements have been fulfilled, the Company initiates the maquila operations, with the corresponding monitoring and supervision of CNIME.

          h3 LAW 60/90 
          p
            | TAX INCENTIVE REGIME FOR THE INVESTMENT OF CAPITAL OF NATIONAL AND FOREIGN ORIGIN
            | The purpose of this Law is to promote and increase capital investments of national and/or foreign origin that seek:
            | “The increase in the production of goods and services”
            | “The creation of permanent sources of work”
            | “Export promotion and import substitution”
            | “The incorporation of technologies that allow to increase the productive efficiency and make possible the greater and better use of raw materials, labor and national energy resources”.

          strong BENEFICIARIES AND FORMS OF INVESTMENT
          p individuals and legal entities, national or foreign, shall be beneficiaries of this Law.

          strong ACTIVITIES

          ul
            li Mines and Quarries
            li Agriculture and Livestock
            li Industries
            li Air transport of cargo and passengers
            li Ground transportation of cargo and passengers
            li Health
            li Radio, Television and Written Press
            li Rural or urban telephony – Mobile telephony
            li River transport
            li Silos or storage in general
            li Internet Services or Data Transmission and Scientific Research
            li Hotel industry


          strong TAX AND MUNICIPAL BENEFITS
          p 
            | Established in Article 5 and modified by Law No. 2421/04, subsections:
            | c. Total exemption from customs duties and other equivalent charges, including internal taxes of specific application, on the importation of capital goods, raw materials and inputs for the local industry, provided for in the investment project; The Services activities are taxed by VAT. In addition, when there is domestic production, tax incentives for the importation of capital goods are not granted.
            | f. When the amount of FINANCING from ABROAD and the activity benefited by the investment is at least US$ 5,000,000, the payment of taxes on remittances and payments abroad for interest, commissions and capital will be exempt, for the term agreed upon, provided that the borrower is one of the entities indicated in Article 10, paragraph g) of Law No. 125/91.
            | h. Total exemption from taxes levied on DIVIDENDS AND PROFITS from approved projects, for a term of up to ten (10) years, counted from the commissioning of the project when the investment is of at least US$ 5,000,000 and the tax on such dividends and profits is not tax credit of the investor in the country from which the investment comes.


          strong GENERAL PROVISIONS
          p INVESTMENT COUNCIL: It is an advisory body of the Ministries of Industry and Commerce and Finance and is made up of a representative of:
          ol
            li Ministry of Industry and Commerce;
            li Ministry of Finance;
            li Ministry of Agriculture and Livestock;
            li Technical Secretariat for Planning for Economic and Social Development (STP);
            li Central Bank of Paraguay (BCP);
            li Primary production sector (FEPRINCO);
            li Industrial or secondary production (U.I.P.).
          p ENVIRONMENTAL IMPACT: The investment project to receive the benefits of this Law, must have an Environmental License issued by the Ministry of the Environment (SEAM), in accordance with Law No. 294/93 “Environmental Impact Assessment” And its regulatory decrees. For the installation of industrial plants, it will be necessary to contemplate the environmental impact and the planned framework with the urban planning of each locality. EXTENSIONS: Requests for extensions of Biministerial Resolutions will be granted only once, for the term of (1) one year, after analysis by the Investment Council. The extension shall be granted exclusively for the importation of capital goods, provided for in Article 5, subsection c) SUACE – SINGLE WINDOW FOR OPENING AND CLOSING A COMPANY

          strong HOME PAGE 
          p
            a(href="http://www.suace.gov.py/") http://www.suace.gov.py/

          strong EXPLANATORY HANDBOOK ON THE REQUIREMENTS FOR PERMANENT RADICATION IN PARAGUAY
          p
            a(href="http://www.suace.gov.py/wp-content/uploads/2018/09/Manual_de_obtención_Carnet_de_Rad.Pte_Ingles.pdf") http://www.suace.gov.py/wp-content/uploads/2018/09/Manual_de_obtención_Carnet_de_Rad.Pte_Ingles.pdf
                    
  
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
