include mixin/cover-banner

doctype html
html
  include components/head
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/incentivos_fiscales_banner.png', '480px')        
      .content.container.my-5
        .incentivos_fiscales_content
            h1 LEYES Y DECRETOS DE PROMOCIÓN DE INVERSIONES
            p En este espacio, se pone a su disposición información sobre el marco legal que rige las inversiones en Paraguay, así como también los principales incentivos fiscales a la inversión.
            strong LEY 117-1991 DE INVERSIONES
            p(style="color:#D65514;") Ley 117- 1991 de Inversiones
            strong GARANTIAS A LAS INVERSIONES 
            p(style="color:#D65514;") DECRETO 6100_16 reglamenta ley 5542_15 garantía inversiones 
             br
             | LEY-5542
          
            strong RESUMEN PRINCIPALES LEYES DE INCENTIVOS A LA INVERSIÓN 
            p(style="color:#D65514;") Resumen – Principales leyes de incentivos a la inversion 
            
            strong LEY 60-90 INCENTIVOS FISCALES A LA INVERSIÓN NACIONAL Y EXTRANJERA 
            p(style="color:#D65514;") Decreto 22031-2003-Reglamentación de la Ley 60-90 
              br
              | Guía de Presentación para las solicitudes de beneficios de la Ley 60-90 
              br
              | LEY 2421- 2004 Incidencia en la Ley 60-90 
              br
              | Law 60 – 90 Incentives for Investments 
              br
              | Ley 60 – 90 Incentivos Fiscales a la Inversion Nacional y Extranjera  
              
            strong MAQUILA 
            p(style="color:#D65514;") Decreto 9585 – 2000 Reglamentación Ley de Maquila 
              br
              | Ley 1064 Maquila – ENGLISH 
              br
              | Ley 1064 -1997 Maquila 
              
            strong ALIANZA PÚBLICO PRIVADA  
            p(style="color:#D65514;") Decreto 1350-2014 – Reglamentacion Ley APP 
              br
              | Ley 5102 -2013 Alianza Público Privada
              
            strong LEY 4903-2013 PARQUES INDUSTRIALES  
            p(style="color:#D65514;") Ley 4903-2013 Parques Industriales
            
            strong REGIMEN DE MATERIA PRIMA   
            p(style="color:#D65514;") DECRETO 11 771-2011 – Régimen de Materia Prima 
              br
              | Decreto 5813-2010 – Régimen de Materia Prima 
              br
              | Programa de Producción Anual 
            strong POLITICA AUTOMOTRIZ 
            p(style="color:#D65514;") Ley 4838 – Política Automotriz Nacional 
              br
              | National Automotive Policy – English  
              br
              | Politica Automotriz Nacional
            strong LEY 4427-2012 ENSAMBLAJE BIENES ALTA TECNOLOGIA
            p(style="color:#D65514;") Ley 4427 – 2012 Bienes de Alta Tegnologia 
            
            strong LEY 434-1994 DE OBLIGACIONES EN MONEDA EXTRANJERA 
            p(style="color:#D65514;") Ley 434- 1994 Obligaciones en Moneda Extranjera
            
              
            strong LEY 5024-2013 QUE ESTABLECE EL REGIMEN DE OBRAS PÚBLICAS  
            p(style="color:#D65514;") Ley 5074 – 2013 Régimen de Obras Públicas 
              
            strong LEYES SECTOR AMBIENTAL  
            p(style="color:#D65514;") Circular de la Secretaría del Ambiente sobre el Impacto Ambiental 
              br
              | Decreto 11202 – 2013 Retribución de los Servicios Ambientales 
              br
              | Ley 3001-2006 de Retribución sobre Servicios Ambientales 
              br
              | Resolución 1502 -2014 Adquisición de Certificados de Servicios Ambientales 
            strong LEYES SECTOR ENERGETICO 
            p(style="color:#D65514;") Decreto 7406-2011 Tarifas de Industrias Electrointensivas 
              br
              | Ley 3009 -2006 Producción y Transporte Independiente de Energía Eléctrica 
              br
              | Ley 3254 -2007 Marco Regulador del Gas Natural  
              
            strong LEYES SECTOR HIDROCARBUROS 
            p(style="color:#D65514;") Law 779 – 1998 Petroleum and Hydrocarbons (English) 
              br
              | LEY 779 – 1998 Petróleo y otros hidrocarburos 
              
            strong LEYES SECTOR RECURSOS MINERALES 
            p(style="color:#D65514;") Ley 4935-2013 – Minería 
              br
              | Ley 3180-2007 – Minería 
              br
              | Ley 4269-2011 – Minería 
              
            strong ZONAS FRANCAS 
            p(style="color:#D65514;") Ley 523 – 1995 de Zonas Francas
              
          
              
              
              
            
              
            
            
            
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
