include mixin/cover-banner
include mixin/head

doctype html
html
  +head('LEYES Y DECRETOS DE PROMOCIÓN DE INVERSIONES')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/incentivos_fiscales_banner.png', '480px')        
      .content.container.my-5
        .incentivos_fiscales_content
            h1 LEYES Y DECRETOS DE PROMOCIÓN DE INVERSIONES
            p En este espacio, se pone a su disposición información sobre el marco legal que rige las inversiones en Paraguay, así como también los principales incentivos fiscales a la inversión.
            strong LEY 117-1991 DE INVERSIONES
            br
            a(target="_blank" href="www.rediex.gov.py/wp-content/uploads/2017/06/Ley-117-1991-de-Inversiones.pdf" style="color:#D65514;") Ley 117- 1991 de Inversiones
            br
            strong GARANTIAS A LAS INVERSIONES 
            a(target="_blank" href="www.rediex.gov.py/wp-content/uploads/2017/01/DECRETO-6100_16-reglamenta- ley-5542_15-garantia-inversiones.pdf" style="color:#D65514;") 
              p ECRETO 6100_16 reglamenta ley 5542_15 garantía inversiones 
                br
                | LEY-5542
            br
            strong RESUMEN PRINCIPALES LEYES DE INCENTIVOS A LA INVERSIÓN 
            a(target="_blank" href="www.rediex.gov.py/wp-content/uploads/2017/01/Resumen-Principales-leyes-de- incentivos-a-la-inversion.pdf" style="color:#D65514;") 
              p Resumen – Principales leyes de incentivos a la inversion 
            br
            strong LEY 60-90 INCENTIVOS FISCALES A LA INVERSIÓN NACIONAL Y EXTRANJERA
            p Decreto 22031-2003-Reglamentación de la Ley 60-90
              br
              | Guía de Presentación para las solicitudes de beneficios de la Ley 60-90
              br
              a(target="_blank" href="www.rediex.gov.py/wp-content/uploads/2017/01/LEY-2421-2004-Incidencia-en-la-Ley-60-90.pdf" style="color:#D65514;") LEY 2421- 2004 Incidencia en la Ley 60-90
              br
              a(target="_blank" href="www.rediex.gov.py/wp-content/uploads/2017/01/Law-60-90-Incentives-for- Investments.pdf" style="color:#D65514;") Law 60 – 90 Incentives for Investments 
              br
              a(target="_blank" href="www.rediex.gov.py/wp-content/uploads/2017/01/Ley-60-90-Incentivos-Fiscales-a-la-Inversion-Nacional-y-Extranjera.pdf" style="color:#D65514;") Ley 60 – 90 Incentivos Fiscales a la Inversion Nacional y Extranjera  
              
            strong MAQUILA 
            p Decreto 9585 – 2000 Reglamentación Ley de Maquila
              br
              a(target="_blank" href="http://www.rediex.gov.py/wp-content/uploads/2017/01/Ley-1064-Maquila-ENGLISH.pdf" style="color:#D65514;") Ley 1064 Maquila – ENGLISH
              br
              a(target="_blank" href="http://www.rediex.gov.py/wp-content/uploads/2017/01/Ley-1064-1997-Maquila.pdf" style="color:#D65514;") Ley 1064 -1997 Maquila
              
            strong ALIANZA PÚBLICO PRIVADA
            p 
              a(target="_blank" href="http://www.rediex.gov.py/wp-content/uploads/2017/01/Decreto-1350-2014- Reglamentacion-Ley-APP.pdf" style="color:#D65514;") Decreto 1350-2014 – Reglamentacion Ley APP
              br
              | Ley 5102 -2013 Alianza Público Privada
              
            strong LEY 4903-2013 PARQUES INDUSTRIALES  
            p
              a(target="_blank" href="http://www.rediex.gov.py/wp-content/uploads/2017/01/Ley-4903-2013-Parques-Industriales.pdf" style="color:#D65514;") Ley 4903-2013 Parques Industriales
            
            strong REGIMEN DE MATERIA PRIMA   
            p DECRETO 11 771-2011 – Régimen de Materia Prima 
              br
              | Decreto 5813-2010 – Régimen de Materia Prima
              br
              | Programa de Producción Anual
            strong POLITICA AUTOMOTRIZ 
            p Ley 4838 – Política Automotriz Nacional 
              br
              a(target="_blank" href="http://www.rediex.gov.py/wp-content/uploads/2017/01/National-Automotive-Policy-English.pdf" style="color:#D65514;") National Automotive Policy – English
              br
              a(target="_blank" href="http://www.rediex.gov.py/wp-content/uploads/2017/01/Politica-Automotriz-Nacional.pdf" style="color:#D65514;") Politica Automotriz Nacional
            strong LEY 4427-2012 ENSAMBLAJE BIENES ALTA TECNOLOGIA
            p
              a(target="_blank" href="http://www.rediex.gov.py/wp-content/uploads/2017/01/Ley-4427-2012-Bienes-de-Alta-Tegnologia.pdf" style="color:#D65514;") Ley 4427 – 2012 Bienes de Alta Tegnologia
            
            strong LEY 434-1994 DE OBLIGACIONES EN MONEDA EXTRANJERA 
            p
              a(target="_blank" href="http://www.rediex.gov.py/wp-content/uploads/2017/01/Ley-434-1994-Obligaciones-en-Moneda-Extranjera.pdf" style="color:#D65514;") Ley 434- 1994 Obligaciones en Moneda Extranjera
            
              
            strong LEY 5024-2013 QUE ESTABLECE EL REGIMEN DE OBRAS PÚBLICAS
            p Ley 5074 – 2013 Régimen de Obras Públicas
              
            strong LEYES SECTOR AMBIENTAL
            p Circular de la Secretaría del Ambiente sobre el Impacto Ambiental
              br
              | Decreto 11202 – 2013 Retribución de los Servicios Ambientales
              br
              | Ley 3001-2006 de Retribución sobre Servicios Ambientales
              br
              | Resolución 1502 -2014 Adquisición de Certificados de Servicios Ambientales
            strong LEYES SECTOR ENERGETICO 
            p
              a(target="_blank" href="http://www.rediex.gov.py/wp-content/uploads/2017/01/Decreto-7406-2011-Tarifas-de-Industrias-Electrointensivas.pdf" style="color:#D65514;") Decreto 7406-2011 Tarifas de Industrias Electrointensivas
              br
              | Ley 3009 -2006 Producción y Transporte Independiente de Energía Eléctrica 
              br
              a(target="_blank" href="http://www.rediex.gov.py/wp-content/uploads/2017/01/Ley-3254-2007-Marco-Regulador-del-Gas-Natural.pdf" style="color:#D65514;") Ley 3254 -2007 Marco Regulador del Gas Natural  
              
            strong LEYES SECTOR HIDROCARBUROS 
            p
              a(target="_blank" href="http://www.rediex.gov.py/wp-content/uploads/2017/01/Law-779-1998-Petroleum-and-Hydrocarbons-English.pdf" style="color:#D65514;") Law 779 – 1998 Petroleum and Hydrocarbons (English) 
              br
              | LEY 779 – 1998 Petróleo y otros hidrocarburos 
              
            strong LEYES SECTOR RECURSOS MINERALES 
            p Ley 4935-2013 – Minería 
              br
              | Ley 3180-2007 – Minería 
              br
              | Ley 4269-2011 – Minería 
              
            strong ZONAS FRANCAS 
            p
              a(target="_blank" href="http://www.rediex.gov.py/wp-content/uploads/2017/01/Ley-523-1995-de-Zonas-Francas.pdf" style="color:#D65514;") Ley 523 – 1995 de Zonas Francas
              
          
              
              
              
            
              
            
            
            
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
