include mixin/cover-banner
include mixin/head

doctype html
html
  +head('領事費')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/05-aranceles_consulares_banner.png', '480px')
      #page
        .container
          main
            h1(class="page-title" style="display:none") 領事費
            .content_aranceles_consulares_wrapper
              .img_wrapper.row
                span(class="col-md-4")
                  img(src="./images/aranceles_consulares.png", alt="", srcset="")
                span(class="col-md-8")
                  table
                    tr
                      th PARRAFO
                      th CONCEPTO
                      th U$D
                    tr.text_bold
                      td
                      td COMERCIA
                      td
                    tr.bg.text_bold
                      td
                      td VISAS OF DOCUMENTOS OF EXPORTATION  
                      td
                    tr
                      td 44
                      td Commercial Invoice
                      td 15
                    tr
                      td 46
                      td Bill of Landing
                      td 15
                    tr
                      td 50
                      td Certificate of Origen
                      td 25
                    tr
                      td 52
                      td Packing List/ Price List
                      td 12
                    tr.bg.text_bold
                      td
                      td LEGALIZATION OF VARIOUS OPERATIONS
                      td
                    tr
                      td 53
                      td Proof of Foreign Commercial Societies
                      td 165
                    tr
                      td 54
                      td Transference of marks y patents
                      td 135
                    tr
                      td 56
                      td Authorizations for/ extension / renovation of marks y patents
                      td 135
                    tr
                      td 58
                      td Formulas of chemical products
                      td 95
                    tr.bg.text_bold
                      td
                      td OTHER LEGALIZATIONES
                      td
                    tr
                      td 65
                      td Certificate of birth/marriage/death/family reg.
                      td 30
                    tr
                      td 68
                      td Police Record
                      td 35
                    tr
                      td 72
                      td Certificate of secondary school studies or diplomas
                      td 25
                    tr
                      td 73
                      td Certificate de university studies or diplomas
                      td 35
                    tr
                      td 73
                      td Certificate of primary school studies or diplomas 
                      td gratis
                    tr.bg.text_bold
                      td
                      td PASSPORTS, VISAS AND TRAVEL DOCUMENTS
                      td
                    tr
                      td 66
                      td Issuance of consular passport
                      td 55
                    tr
                      td 67c
                      td Issuance of Visa USA/Russia/Canada
                      td 160/160/75(U)150(M)
                    tr
                      td 67c
                      td Issuance of Visa Australia/New Zealand 
                      td 135/140
                    tr
                      td 67b
                      td Issuance of Visa (single entry)
                      td 65
                    tr
                      td 67c
                      td Issuance of Visa (multiple entry)
                      td 100
                    tr
                      td 71
                      td Issuance de Provisional Pasaporte (Salvoconducto)
                      td 30
                    tr
                      td 71
                      td Legalization of Travel Permit for Minors
                      td 55
                    tr.bg.text_bold
                      td
                      td ACTOS JURÍDICOS
                      td
                    tr
                      td 80
                      td General POA
                      td 115
                    tr
                      td 81
                      td Special POA
                      td 95   
              .body
                p
                  h2 Various Observations:
                  ol
                   li(style="color: #0038A8;") The present list has been modified in accordance with the provisions of the new Law No. 4033/10 of the Consular Tariff of the Republic of Paraguay, effective as of September 1, 2010, revoking the Law 1844/2001.
                   li(style="color: #0038A8;") This list includes the consular actions requested most frequently in this Consular Section.
                   li(style="color: #0038A8;") The amounts expressed in the list include the consular fee corresponding to Paragraph 78 (Article 11 of Law 4033/10), applied as "Administrative Expenses". 
                   li(style="color: #0038A8;") It is recalled that the amounts expressed serve as a reference, considering that they will be reconfirmed "at sight", at the moment of the presentation of the documents to be consularized in this Paraguayan Representation.Aplicación del arancel
                p
                  h2 Application of the tariff:
                  p The Consular Section receives the rights consigned in the Consular Tariff, noting all the documents:
                  ul
                    li Number of Actuación
                    li The reference of the paragraph, note or article of the Tariff that corresponds to the received rights. 
                    li The total amount expressed in U $ D. (American dollars) that might have been paid.
                    li Signature and stamps of the person in charge of the Consular Section.

                h2 Administrative expenses:
                p In accordance with the provisions of Paragraph 78 of Law 4033/10, the legalization of documents is subject to the payment of US $ 15 for administrative fees (Except for this payment, the documents that apply Paragraphs 44 to 52 ).

                h2 Payment of rights:
                p Consular tariffs are collected according to the regulations of the law, attaching the consular stamps valued in US dollars to the documents and rendering them unusable immediately.
                p All amounts of consular fees are paid by deposit, of the total amount expressed in US $ (dollars), in the account enabled in CTBC BANK Bank, North Tianmu Branch, on behalf of the Embassy of the Republic of Paraguay in the Republic of China (Taiwan).
                
                h2 Note:
                p The Consular Section of the Embassy of the Republic of Paraguay in the Republic of China (Taiwan) is competent to deal exclusively and exclusively with affairs that correspond to the Taiwanese territory.

      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
