include mixin/cover-banner
include mixin/head

doctype html
html
  +head('領事費')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/05-aranceles_consulares_banner.png', '480px')
      #page
        .container
          main
            h1(class="page-title" style="display:none") 領事費
            .content_aranceles_consulares_wrapper
              .img_wrapper.row
                span(class="col-md-4")
                  img(src="./images/aranceles_consulares.png", alt="", srcset="")
                span(class="col-md-8")
                  table
                    tr
                      th 章節
                      th 項目
                      th 美金
                    tr.text_bold
                      td
                      td 商業文件
                      td
                    tr.bg.text_bold
                      td
                      td 出口文件認證
                      td
                    tr
                      td 44
                      td 商業發票
                      td 15
                    tr
                      td 46
                      td 提單
                      td 15
                    tr
                      td 50
                      td 產地證明
                      td 25
                    tr
                      td 52
                      td 裝箱單 / 重量單 / 明細
                      td 12
                    tr.bg.text_bold
                      td
                      td 一般公司文件認證
                      td
                    tr
                      td 53
                      td 國外公司商業憑證
                      td 165
                    tr
                      td 54
                      td 商標讓渡
                      td 135
                    tr
                      td 56
                      td 商標延期/轉讓/更新/授權
                      td 135
                    tr
                      td 58
                      td 商業用之化學處方產品
                      td 95
                    tr.bg.text_bold
                      td
                      td 其他一般文件認證
                      td
                    tr
                      td 65
                      td 出生/結婚/死亡證明/戶口謄本
                      td 30
                    tr
                      td 68
                      td 警察局刑事紀錄 (良民證)
                      td 35
                    tr
                      td 72
                      td 中等學歷相關證明文件
                      td 25
                    tr
                      td 73
                      td 高等學歷相關證明文件
                      td 35
                    tr
                      td 73
                      td 初等學歷相關證明文件
                      td gratis
                    tr.bg.text_bold
                      td
                      td 護照/簽證/旅行文件
                      td
                    tr
                      td 66
                      td 領事護照簽發
                      td 55
                    tr
                      td 67c
                      td 美國/俄羅斯/加拿大護照持有者
                      td 160/160/75(U)150(M)
                    tr
                      td 67c
                      td 澳洲/紐西蘭護照持有者
                      td 135/140
                    tr
                      td 67b
                      td 單次入境簽證
                      td 65
                    tr
                      td 67c
                      td 多次入境簽證
                      td 100
                    tr
                      td 71
                      td 通行證
                      td 30
                    tr
                      td 71
                      td 未成年子女旅行同意書
                      td 55
                    tr.bg.text_bold
                      td
                      td 司法文件認證
                      td
                    tr
                      td 80
                      td 全權授權書
                      td 115
                    tr
                      td 81
                      td 特別授權書
                      td 95   
              .body
                p
                  h2 相關備註：
                  ol
                    li 以上列表均依據本(九十八年)九月使生效之巴拉圭共和國第4033號領事關稅法，並廢除先前(八十九年) 頒布之第1844號領事關稅法。
                    li 上述列舉為本館領事序號中較常為之申請項目。
                    li 上述金額含括領事關稅法之第78章(第4033/10號之第11條)，「行政手續費用」。 
                    li 在此提醒，上述金額為提供參考使用，所有領事相關申請文件之確切規費，則在遞交申請文件的同時經審核後告知。
                p
                  h2 領事稅則應用：
                  p 領事處有義務在每份認證文件收據上註明:
                  p
                    ul
                      li 領事紀錄序號。 
                      li 申請文件之領事稅則章節。
                      li 申請文件所繳納之美金金額。
                      li 領事負責人之簽章。
                h2 行政費用：
                p 依據上述領事關稅法4033/10號第78章，文件認證均須另付15美金的行政費用</br> (除法規中第44至52章所列項目除外)。
                h2 領事稅繳付：
                p 依據法律條款收取領事稅，於認證文件上黏貼領事印花稅票。
                p 經使館確認應繳文件齊全無誤後，會依領事稅則開立存款憑條，註明應繳納之美金金額及其文件代號，以便申請人至巴拉圭共和國大使館於中國信託商業銀行開立之帳戶匯款。
                h2 注意： 
                p 巴拉圭共和國駐華大使館領事處管轄權限僅限中華民國(台灣)之公民及此領土境內之事務。
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
