include mixin/cover-banner

doctype html
html
  include components/head
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/05-aranceles_consulares_banner.png', '480px')
      #page
        .container
          main
            h1(class="page-title" style="display:none") Aranceles Consulares
            .content_aranceles_consulares_wrapper
              .img_wrapper.row
                span(class="col-md-4")
                  img(src="./images/aranceles_consulares.png", alt="", srcset="")
                span(class="col-md-8")
                  table
                    tr
                      th PARRAFO
                      th CONCEPTO
                      th U$D
                    tr.text_bold
                      td
                      td COMERCIAL
                      td
                    tr.bg.text_bold
                      td
                      td Visado de documentos de exportacionesa
                      td
                    tr
                      td 44
                      td Factura comercial
                      td 15
                    tr
                      td 46
                      td Conocimiento de embarque
                      td 15
                    tr
                      td 50
                      td Certificado de Origen
                      td 25
                    tr
                      td 52
                      td Lista de empaque/ Lista de precios
                      td 12
                    tr.bg.text_bold
                      td
                      td Legalización de Operaciones Varias
                      td
                    tr
                      td 53
                      td Constancia de sociedades comerciales extranjeras
                      td 165
                    tr
                      td 54
                      td Transferencia de marcas y patentes
                      td 135
                    tr
                      td 56
                      td Autorizaciones p/ prórroga / renovación de marcas y patentes
                      td 135
                    tr
                      td 58
                      td Fórmulas de productos químicos
                      td 95
                    tr.bg.text_bold
                      td
                      td OTRAS LEGALIZACIONES
                      td
                    tr
                      td 65
                      td Certificado de nacimiento/matrimonio/defunción/reg. familiar
                      td 30
                    tr
                      td 68
                      td Certificado de antecedentes policiales/ judiciales
                      td 35
                    tr
                      td 72
                      td Certificado de estudios o diploma secundarios
                      td 25
                    tr
                      td 73
                      td Certificado de estudios o diploma universitarios
                      td 35
                    tr
                      td 73
                      td Certificado de estudios o diploma primarios Gratis
                      td *
                    tr.bg.text_bold
                      td
                      td PASAPORTES, VISAS Y DOC. DE VIAJE
                      td
                    tr
                      td 66
                      td Expedición del pasaporte consular
                      td 55
                    tr
                      td 67c
                      td Expedición de Visa EEUU/Russia/Canadá
                      td 160/160/75(U)150(M)
                    tr
                      td 67c
                      td Expedición de Visa Australia/Nueva
                      td 135/140
                    tr
                      td 67b
                      td Expedición de Visa (única entrada)
                      td 65
                    tr
                      td 67c
                      td Expedición de Visa (múltiples entradas)
                      td 100
                    tr
                      td 71
                      td Expedición de Pasaporte Provisorio (Salvoconducto)
                      td 30
                    tr
                      td 71
                      td Legalización de Permiso de viaje para menores
                      td 55
                    tr.bg.text_bold
                      td
                      td ACTOS JURÍDICOS
                      td
                    tr
                      td 80
                      td Poder general
                      td 115
                    tr
                      td 81
                      td Poder especia
                      td 95   
              .body
                p
                  h2 Observaciones Varias:
                  ol
                    li El Presente listado ha sido modificado de acuerdo a lo establecido la nueva Ley Nº 4033/10 del Arancel Consular de la República del Paraguay, vigente a partir del 1 de septiembre de 2010, dejando sin efecto a la Ley 1844/2001.
                    li Este listado incluye las actuaciones consulares solicitadas con más frecuencia en esta Sección Consular.
                    li Los montos expresados en el listado, incluye al arancel consular correspondiente al Párrafo 78 (Art. 11 de la Ley 4033/10), aplicado en concepto de “Gastos Administrativos”.
                    li Se recuerda que los montos expresados sirven de referencia, considerando que los mismos serán reconfirmados “a la vista”, en el momento de la presentación de los documentos a ser consularizados en esta Representación paraguaya.
                p
                  h2 Aplicación del arancel
                  p La Sección Consular percibe los derechos consignados en el Arancel Consular anotándose en todos los documentos:
                  p
                    ul
                      li El número de actuación.
                      li La referencia del párrafo, nota o artículo del Arancel que corresponde a los derechos percibidos.
                      li El importe total expresado en U$D. (dólares americanos) que hubiese sido abonado.
                      li Firma y sello de la persona a cargo de la Oficina Consular.   
                h2 Gastos administrativos:
                p De acuerdo con lo dispuesto por el Párrafo 78 de la Ley 4033/10, la legalización de los documentos está sujeta al pago de US$ 15 en concepto de gastos administrativos (Se exceptúan de este pago a los documentos que aplican los Párrafos 44 al 52).
                h2 Pago de los derechos: 
                p Los derechos consulares se perciben conforme a las reglamentaciones de la ley, adhiriendo las estampillas consulares valorados en dólares americanos a los documentos e inutilizándolas de inmediato.
                p Todos los  importes de los  aranceles consulares se abonan  mediante depósito, del monto total expresado en U$D (dólares americanos), en la cuenta habilitada en el Banco CTBC BANK, North Tianmu Branch, a nombre de la Embajada de la República del Paraguay en la República de China (Taiwán).
                h2 Nota: 
                p La Sección Consular de la Embajada de la República del Paraguay en la República de China (Taiwán) es competente para atender única y exclusivamente  asuntos  que corresponden al territorio taiwanés.
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();


