include mixin/cover-banner
include mixin/head

doctype html
html
  +head('CONSULAR SECTION')
  body.page-counsul-visa
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/area_consular_banner.png', '480px')
        .content.container.my-5
          h1 CONSULAR SECTION
          p The Consular Section of the Embassy of the Republic of Paraguay in the Republic of China (Taiwan) has no jurisdiction to be in charge of consular affairs from other countries in the region. Only those originating within the Republic of China (Taiwan).
          p Links of the Embassies of Paraguay in Asia and Oceania:
          a(href="http://www.mre.gov.py/australia/inicio.htm")
            span(style="color: #D55514;") Embassy in Australia 
          br
          a(href="http://www.embapar.jp/sc/")
            span(style="color: #D55514;") Embassy in Japan 
          br
          a(href="http://www.embaparcorea.org/esp/")
            span(style="color: #D55514;") Embassy in South Korea
          br
          a(href="http://www.paraguayembassy.in/")
            span(style="color: #D55514;") Embassy in India
          p
          p
            span
              | Attention to the public：<br>
              | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Delivery of Documents: Monday to Friday, 09:00 - 11:30  <br>
              | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Document Withdrawal: Monday to Friday, 13:30 - 16:00 (Lunch Time: 12:00 - 13:00) <br>
          p
            span(style="color:#ff0000;")
              | * We do not receive documents on the last working day of month.
          p
            span(style="color:#0038A8;")
              | Observation:  
              br
              | Consular tariffs are deposited in USD (can be paid in NTD according to the change at the time of deposit) by those interested in the account enabled in CTBC BANK bank, North Tianmu Branch, on behalf of the Embassy of Paraguay in the Republic of China (Taiwan), and should be noted in the hours of service in the bank (09: 00-15: 30)
              br
              | * Other procedures (by appointment): Monday to Friday (Appointment must be re-booked if the visitor arrives out of the arranged time or date).
              br
              | * Weekends and holidays are not included.
              br
              
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
  
