include mixin/cover-banner
include mixin/head

doctype html
html
  +head('AREA CONSULAR')
  body.page-counsul-visa
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/area_consular_banner.png', '480px')
        .content.container.my-5
          h1 AREA CONSULAR
          p La Sección Consular de la Embajada de la República del Paraguay en la República de China (Taiwán) no tiene concurrencia para atender los asuntos consulares originados en otros países de la región. Solamente los originados dentro de la República de China (Taiwán). 
          p Enlaces de las Embajadas del Paraguay en Asia y Oceanía:           
          a(href="http://www.mre.gov.py/australia/inicio.htm")
            span(style="color: #D55514;") Embajada en Australia 
          br
          a(href="http://www.embapar.jp/sc/")
            span(style="color: #D55514;") Embajada en Japón 
          br
          a(href="http://www.embaparcorea.org/esp/")
            span(style="color: #D55514;") Embajada en Corea del Sur 
          br
          a(href="http://www.paraguayembassy.in/")
            span(style="color: #D55514;") Embajada en India 
          p
          p
            span(style="color:#0038A8;")
              | Atención al público: 
              | Entrega de Documentos: de lunes a viernes, 09:00 - 11:30
              | Retiro de Documentos: de lunes a viernes, 13:30 - 16:00 
              | (Horario de descanso: 12:00 - 13:00) 
              br
              | Observación: Los aranceles consulares son depositados en U$D (se puede pagar en NTD según el cambio en el momento que hace el depósito) por los interesados en la cuenta habilitada en el banco CTBC BANK, North Tianmu Branch, a nombre de la Embajada del Paraguay en la República de China (Taiwán), y deben fijarse en el horario de atención en el banco (09:00-15:30)
              br
              | Otros trámites (con previa cita): de lunes a viernes
              br
              | *Excepto los fines de semana y los días feriados.
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
  
