include mixin/cover-banner
include mixin/head

doctype html
html
  +head('COUNTRIES WHOSE CITIZENS WITH COMMUN PASSPORTS DO NOT REQUIRE VISAS TO ENTER PARAGUAY')
  body.page-counsul-visa
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/banner_consul_visa.png', '343px')
      .content.container.my-5
        h1 COUNTRIES WHOSE CITIZENS WITH COMMUN PASSPORTS DO NOT REQUIRE VISAS TO ENTER PARAGUAY
        
        .container
          ul#country.row
          ul#country-red.row.justify-content-end.mt-0.mb-5
        
        .container.mb-5    
          .county-doc.py-4
            ul.row.mb-4
              li.col-md-3 
                .visa-icon.yellow.px-3
                  div Being able to enter Paraguay with the national identity card. 
              li.col-md-3 
                .visa-icon.green.px-3
                  div Paraguay’s Government Decree which unilaterally determines the exemption of visas. 
              li.col-md-3 
                .visa-icon.blue.px-3
                  div Nationals of these countries can entry Paraguay without a visa for a stay of up to 30 days.
              li.col-md-3 
                .visa-icon.orange.px-3
                  div Bilateral Agreement.
          
            .visa-icon.red.px-3
                  div 
                    span(style="color:#0038A8;") Paraguay:
                    span Decreto del Poder Ejecutivo No. 7.423 del 6 de julio de 2017, y Taiwán: a través del Anuncio Oficial No. 16 de fecha 12 de julio de 2017 del Ministerio de Relaciones Exteriores (MOFA), suprimieron la necesidad de visas en los pasaportes comunes de ambos lados.
        .container
          div
            p Official Announcement No. 16 of July 12, 2017 of the Ministry of Foreign Affairs (MOFA), abolished the need for visas in the common passports of both sides.
            br
            p(style="color:#AE0D23;") The Paraguay and Taiwan have signed an Agreement of visa examption for 90 days  for the diplomatic, official passports and common passport holders.
            br
            p(style="color:#AE0D23;") For Foreigners who reside in Taiwan with ARC, please call to our office: (02) 2873-6310 to do the direct consultation. 
            br
            a.download(href="https://www.dropbox.com/s/daaxydr1nbhcm5p/%28%E5%85%8D%E7%B0%BD%E5%88%97%E8%A1%A8%29Supresion_de_Visas_-_oct17.pdf?dl=0") Supresion_de_Visas_-_oct17
        
      include components/footer
      //- include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
    script.
        const country = [
          {
            name: 'Germany',
            color: 'orange'
          },
          {
            name: 'Cyprus',
            color: 'green'
          },
          {
            name: 'Slovenia',
            color: 'orange'
          },
          {
            name: 'Hungary',
            color: 'orange'
          },
          {
            name: 'Luxembourg',
            color: 'orange'
          },
          {
            name: 'Czech Republic',
            color: 'orange'
          },
          {
            name: 'Andorra',
            color: 'green'
          },
          {
            name: 'Colombia',
            color: 'orange'
          },
          {
            name: 'Spain',
            color: 'orange'
          },
          {
            name: 'Ireland',
            color: 'green'
          },
          {
            name: 'malt',
            color: 'green'
          },
          {
            name: 'Republic of South Africa',
            color: 'orange'
          },
          {
            name: 'Argentina',
            color: 'yellow'
          },
          {
            name: 'Korea',
            color: 'blue'
          },
          {
            name: 'Estonia',
            color: 'green'
          },
          {
            name: 'Iceland',
            color: 'orange'
          },
          {
            name: 'Nicaragua',
            color: 'green'
          },
          {
            name: '',
            color: ''
          },
          {
            name: 'Austria',
            color: 'orange'
          },
          {
            name: 'Costa Rica',
            color: 'orange'
          },
          {
            name: 'Finland',
            color: 'orange'
          },
          {
            name: 'Israel',
            color: 'orange'
          },
          {
            name: 'Norway',
            color: 'orange'
          },
          {
            name: 'Romania',
            color: 'green'
          },
          {
            name: 'Belgium',
            color: 'orange'
          },
          {
            name: 'Croatia',
            color: 'green'
          },
          {
            name: 'France',
            color: 'orange'
          },
          {
            name: 'Italy',
            color: 'orange'
          },
          {
            name: 'Panama',
            color: 'orange'
          },
          {
            name: 'Sweden',
            color: 'orange'
          },
          {
            name: 'Bolivia',
            color: 'yellow'
          },
          {
            name: 'Denmark',
            color: 'orange'
          },
          {
            name: 'Greece',
            color: 'orange'
          },
          {
            name: 'Japan',
            color: 'green'
          },
          {
            name: 'Peru',
            color: 'green'
          },
          {
            name: 'Turkey',
            color: 'orange'
          },
          {
            name: 'Brazil',
            color: 'yellow'
          },
          {
            name: 'Ecuador',
            color: 'orange'
          },
          {
            name: 'Guatemala',
            color: 'green'
          },
          {
            name: 'Latvia',
            color: 'orange'
          },
          {
            name: 'Poland',
            color: 'green'
          },
          {
            name: 'Uruguay',
            color: 'yellow'
          },
          {
            name: 'Bulgaria',
            color: 'orange'
          },
          {
            name: 'Salvador',
            color: 'green'
          },
          {
            name: 'Holland',
            color: 'orange'
          },
          {
            name: 'Liechtenstein',
            color: 'orange'
          },
          {
            name: 'Portugal',
            color: 'orange'
          },
          {
            name: 'Venezuela',
            color: 'green'
          },
          {
            name: 'Chile',
            color: 'yellow'
          },
          {
            name: 'Slovakia',
            color: 'green'
          },
          {
            name: 'Honduras',
            color: 'green'
          },
          {
            name: 'Lithuania',
            color: 'green'
          },
          {
            name: 'UK',
            color: 'orange'
          },
          {
            name: 'Mexico',
            color: 'green'
          },
          {
            name: 'Singapore',
            color: 'blue'
          }
        ]
        
        const redCountry = [
          {
            name: 'Taiwan',
            color: 'orange'
          }
        ]
        
        const countryDOM = document.getElementById('country')
        const countryRedDom = document.getElementById('country-red')
        let itemsCountryStr = ''
        let itemsRedCountryStr = ''
        
        for(let i=0; i < country.length; i++){
          let item = country[i]
          itemsCountryStr += `
            <li class="col-md-2 col-4">
              <div class="visa-icon ${item.color}">
                ${item.name}
              </div>
            </li>
          `
        }
        
        for(let i =0; i< redCountry.length; i++){
          let item = redCountry[i]
          itemsRedCountryStr += `
            <li class="col-md-2">
              <div class="visa-icon red">
                <div class="visa-icon ${item.color}">
                  ${item.name}
                </div>
              </div>
            </li>
          `
        }
        
        countryDOM.innerHTML = itemsCountryStr
        countryRedDom.innerHTML = itemsRedCountryStr
      
    script
