include mixin/cover-banner
include mixin/head

doctype html
html
  +head('與巴拉圭共和國達成“免簽證入境” 協定簽署國家')
  body.page-counsul-visa
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/banner_consul_visa.png', '343px')
      .content.container.my-5
        h1 與巴拉圭共和國達成“免簽證入境” 協定簽署國家
        
        .container
          ul#country.row
          ul#country-red.row.justify-content-end.mt-0.mb-5
        
        .container.mb-5    
          .county-doc.py-4
            ul.row.mb-4
              li.col-md-3 
                .visa-icon.yellow.px-3
                  div 可以持身分證入境巴拉圭
              li.col-md-3 
                .visa-icon.green.px-3
                  div 單方面免簽證協議
              li.col-md-3 
                .visa-icon.blue.px-3
                  div 可免簽證入境停留三十天
              li.col-md-3 
                .visa-icon.orange.px-3
                  div 雙邊協議
          
            .visa-icon.red.px-3
                  div 
                    span(style="color:#0038A8;") 巴拉圭：
                    span 最高法院2017年07月06日7.423號法令，台灣：外交部2017年07月12日官方16號公告，廢除雙國護照簽證申請之需求。
        .container
          div
            p(style="color:#AE0D23;") 台灣：外交部2017年07月12日官方16號公告，廢除雙國護照簽證申請之需求。
            p 
            p(style="color:#AE0D23;") 台灣外交、公務及普通護照的持有者，可免簽停留巴拉圭至多90天。
            p
            p(style="color:#AE0D23;") 持有台灣居留證〈ARC或APRC〉的非台灣籍人士，請諮詢本處。
            p 
            p 
            a.download(href="https://www.dropbox.com/s/daaxydr1nbhcm5p/%28%E5%85%8D%E7%B0%BD%E5%88%97%E8%A1%A8%29Supresion_de_Visas_-_oct17.pdf?dl=0") Supresion_de_Visas_-_oct17
        
      include components/footer
      //- include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
    script.
        const country = [
          {
            name: '德國',
            color: 'orange'
          },
          {
            name: '塞普勒斯',
            color: 'green'
          },
          {
            name: '斯洛維尼亞',
            color: 'orange'
          },
          {
            name: '匈牙利',
            color: 'orange'
          },
          {
            name: '盧森堡',
            color: 'orange'
          },
          {
            name: '捷克',
            color: 'orange'
          },
          {
            name: '安道爾',
            color: 'orange'
          },
          {
            name: '哥倫比亞',
            color: 'green'
          },
          {
            name: '西班牙',
            color: 'orange'
          },
          {
            name: '愛爾蘭',
            color: 'orange'
          },
          {
            name: '馬耳他',
            color: 'green'
          },
          {
            name: '南非共和國',
            color: 'orange'
          },
          {
            name: '阿根廷',
            color: 'green'
          },
          {
            name: '韓國',
            color: 'orange'
          },
          {
            name: '愛沙尼亞',
            color: 'yellow'
          },
          {
            name: '冰島',
            color: 'blue'
          },
          {
            name: '尼加拉瓜',
            color: 'green'
          },
          {
            name: '羅馬尼亞',
            color: 'green'
          },
          {
            name: '奧地利',
            color: 'orange'
          },
          {
            name: '哥斯大黎加',
            color: 'green'
          },
          {
            name: '芬蘭',
            color: 'orange'
          },
          {
            name: '以色列',
            color: 'orange'
          },
          {
            name: '挪威',
            color: 'orange'
          },
          {
            name: '瑞典',
            color: 'orange'
          },
          {
            name: '比利時',
            color: 'orange'
          },
          {
            name: '克羅埃西亞',
            color: 'orange'
          },
          {
            name: '法國',
            color: 'orange'
          },
          {
            name: '意大利',
            color: 'green'
          },
          {
            name: '巴拿馬',
            color: 'orange'
          },
          {
            name: '土耳其',
            color: 'orange'
          },
          {
            name: '波利維亞',
            color: 'green'
          },
          {
            name: '丹麥',
            color: 'orange'
          },
          {
            name: '希臘',
            color: 'orange'
          },
          {
            name: '日本',
            color: 'green'
          },
          {
            name: '秘魯',
            color: 'green'
          },
          {
            name: '烏拉圭',
            color: 'yellow'
          },
          {
            name: '巴西',
            color: 'yellow'
          },
          {
            name: '厄瓜多',
            color: 'orange'
          },
          {
            name: '瓜地馬拉',
            color: 'green'
          },
          {
            name: '拉脫維亞',
            color: 'orange'
          },
          {
            name: '波蘭',
            color: 'green'
          },
          {
            name: '委內瑞拉',
            color: 'green'
          },
          {
            name: '保加利亞',
            color: 'orange'
          },
          {
            name: '薩爾瓦多',
            color: 'green'
          },
          {
            name: '荷蘭',
            color: 'orange'
          },
          {
            name: '列支敦士登',
            color: 'orange'
          },
          {
            name: '葡萄牙',
            color: 'orange'
          },
          {
            name: '墨西哥',
            color: 'green'
          },
          {
            name: '智利',
            color: 'yellow'
          },
          {
            name: '斯洛伐克',
            color: 'green'
          },
          {
            name: '宏都拉斯',
            color: 'green'
          },
          {
            name: '立陶宛',
            color: 'green'
          },
          {
            name: '英國',
            color: 'orange'
          },
          {
            name: '新加坡',
            color: 'blue'
          }
        ]
        
        const redCountry = [
          {
            name: '台灣',
            color: 'orange'
          }
        ]
        
        const countryDOM = document.getElementById('country')
        const countryRedDom = document.getElementById('country-red')
        let itemsCountryStr = ''
        let itemsRedCountryStr = ''
        
        for(let i=0; i < country.length; i++){
          let item = country[i]
          itemsCountryStr += `
            <li class="col-md-2 col-4">
              <div class="visa-icon ${item.color}">
                ${item.name}
              </div>
            </li>
          `
        }
        
        for(let i =0; i< redCountry.length; i++){
          let item = redCountry[i]
          itemsRedCountryStr += `
            <li class="col-md-2">
              <div class="visa-icon red">
                <div class="visa-icon ${item.color}">
                  ${item.name}
                </div>
              </div>
            </li>
          `
        }
        
        countryDOM.innerHTML = itemsCountryStr
        countryRedDom.innerHTML = itemsRedCountryStr
      
    script
