include mixin/cover-banner
include mixin/head

doctype html
html
  +head('INSCRIPCION EN LOS LIBROS DE NACIMIENTO')
  body.page-counsul-visa
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/ielldn_banner.png', '480px')
        .content.container.my-5
          h1 INSCRIPCION EN LOS LIBROS DE NACIMIENTO
          strong INSCRIPCIÓN DE NACIMIENTOS
          br
          p Consiste en anotar, en los libros proveídos por la Dirección General del Registro del Estado Civil de las Personas, dentro de las formalidades establecidas en la Ley 1266/87 “Del Registro del Estado Civil, los nacimientos de hijos de madres o padres paraguayos ocurridos en la jurisdicción, y los nacimientos, matrimonios y defunciones de paraguayos al servicio de la representación diplomática y Consular”. Dicha inscripción se lleva a cabo en la Embajada de la República del Paraguay,  en presencia de la autoridad consular a cargo de la Sección Consular.
          br
          strong El procedimiento consiste en la presentación de una Nota de “Solicitud de Inscripción de Nacimiento”, dirigida a la autoridad Consular; 
          strong acompañada de los documentos detallados a continuación:
          br
          br
          ul
            li Copia de los documentos de identidad de los padres del niño/ la niña a ser inscripto.
            li Certificado de “nacimiento Vivo” expedido por el Hospital donde nació el niño/ la niña a ser inscripto.
            li Certificado de Matrimonio de los Padres.
          br
          p 
            span(style="color:#0038A8;") Observación: 
            | Toda la documentación deberá ser presentada en idioma español o en su defecto, con traducción oficial al idioma inglés, debidamente legalizada por el Buró de Asuntos Consulares del Ministerio de Asuntos Exteriores de la República de China (Taiwán). En este caso, el Certificado de nacimiento vivo debe ser legalizado por el mencionado instituto antes de presentar a esta Representación Diplomática (el original más 01 copia simple).
          strong Tener en cuenta los siguientes puntos:
          br
          br
          p  Luego de presentada la Nota de 
            span(style="color:#AE0D23;") “Solicitud de Inscripción de Nacimiento” 
            | dirigida a la Autoridad Consular de esta Representación Diplomática paraguaya con sede en la ciudad de Taipei – República de China (Taiwán), junto con los demás documentos requeridos, se procederá – previa revisión – a la aceptación de los mismos y se establecerá la fecha y hora para llevar a cabo el Acto de Inscripción. 
          p Los aranceles consulares correspondientes al Acto de Inscripción es de USD.20,00 (Veinte dólares americanos); según lo establecido en párrafo 61 de la 
            a(href="http://www.embapartwroc.com.tw/pdf/40332010.pdf") 
              span(style="color:#AE0D23;") Ley Nº4033/2010 
            | “Del Arancel Consular”, al Certificado del nacimiento Vivo es de USD. 30,00 (treinta dólares americanos).
          p En el momento de realizar el Acto de Inscripción, deberán presentarse los padres munidos de los documentos originales, con el fin de constatar la veracidad de las copias presentadas. NO es necesario la presencia del niño/a a ser inscripto, pero Si es necesaria la presencia de los padres, quienes deberán firmar el documento al momento de efectuar la Inscripción en los Libros correspondientes.
          p Una vez concluido el Acto de Inscripción, la autoridad consular hará entrega de una (01) fotocopia autenticada del Folio correspondiente del Libro de la Dirección General del Registro del Estado Civil de las Personas, en la cual se aplicará el Arancel 61 de la Ley 4033 Del Arancel Consular.
          p El objetivo del 
            span(style="color:#0038A8;") Registro de nacimiento en los libros consulares para la opción de nacionalidad paraguaya natural
          p La inscripción consular de los hijos de madre o padre paraguayo nacimiento en exterior, se realiza en base a lo 
            span(style="color:#0038A8;") que establece el Art. 146, inc. 3) de la Constitución Nacional, que establece que los hijos de madre o padre paraguayo nacimiento en exterior, cuando aquellos se radiquen en forma permanente en Paraguay, tendrán la opción de la nacionalidad paraguaya natural.
          p Por consiguiente, para tal efecto se realiza el registro consular en libro gemelo de nacimiento proveído por el Registro Civil paraguayo, en los cuales se anota el registro de nacimiento, en base al documento que expide el país de nacimiento, puede ser el certificado de nacimiento o el certificado de acta de nacimiento vivo, dependiendo de la legislación local, si el país reconoce el derecho del suelo o solamente el derecho de sangre
            span(style="color:#0038A8;") (ius soli / ius sanguinis).
          p Luego del registro en el los libros gemelos y con la firma de los padres, más la firma del funcionario consular actuante, se saca una fotocopia se la hoja del Libro de Acta Consular y se certifica dicha fotocopia, con la firma completa del funcionario consular y su sello correspondiente, con la leyenda de fotocopia fiel del original, en esta fotocopia se pega la estampilla de 5 dólares, con el sello de actuación consular, con el número de actuación correspondiente y el arancel cobrado, con la fecha de la actuación.
          p Para el registro, los padres deben identificarse con sus documentos respectivos, pasaportes, C.I. , cuyas fotocopias deben constar en archivo de la Representación actuante. Igualmente, dichas fotocopias deben acompañar a la fotocopia del libro que se entrega a los interesados.
          p Asimismo, se debe proceder a legalizar el certificado de nacimiento o certificado de acta de nacimiento vivo, el cual  también acompaña a la fotocopia autenticada del libro de acta consular, los cuales deben ser presentados en algún momento ante el Registro Civil paraguayo para el trámite de opción de nacionalidad, la cual está regida por la 
            a(href="http://www.embapartwroc.com.tw/pdf/58295.pdf") 
              span(style="color:#AE0D23;") Ley 582/95
            |  la cual reglamenta el Art. 146 inc. 3) de la Constitución Nacional.
          p Este trámite de la opción de nacionalidad paraguaya natural las realiza los padres en persona en Paraguay 
            span(style="color:#0038A8;") (dicho trámite no se puede realizar desde el extranjero).
            | Es importante persuadir a los padres que el registro en Libro Consular no significa que el menor o la menor ya tiene la nacionalidad paraguaya automáticamente, es solamente después del trámite en Paraguay que se realiza ante un Juzgado del menor,  el cual tiene un trámite sumario, cumpliendo los requisitos establecidos por la Ley 582/95.
          p Las Representaciones Nacionales del Paraguay en exterior no están autorizadas a expedir Certificados de Nacimientos, dicho procedimiento es potestad exclusiva de las Oficinas del Registro Civil paraguayo.
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
  
