include mixin/cover-banner

doctype html
html
  include components/head
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/legalizaciones_banner.jpg', '480px')
      .content.container.my-5
        h1 Visado de documentos comerciales de exportación
        p La Sección Consular de la Embajada del Paraguay requiere de los exportadores taiwaneses la presentación de los documentos visados por la Cámara gremial de los productos de que se trate, por las Cámaras Binacionales de Comercio o por las instituciones habilitadas específicamente para expedir el certificado de origen.
        p 
        p.d-flex.align-items-center
          <small class='mr-2' style="color:#b4b6b5;">●</small> Los documentos requeridos y el costo del visado de cada uno de ellos son los siguientes:
        p.d-flex.align-items-center
          <small class="mr-2" style="color:#b4b6b5;">●</small> Factura comercial. (1 original 1 copia) – U$S 15
        p.d-flex.align-items-center
          <small class="mr-2" style="color:#b4b6b5;">●</small> Conocimiento de Embarque o Guía Aérea. (1 original y 1 copia) - U$S 15
        p.d-flex.align-items-center
          <small class="mr-2" style="color:#b4b6b5;">●</small> Certificado de Origen. (1 original y 1 copia) - U$S 25
        p.d-flex.align-items-center
          <small class="mr-2" style="color:#b4b6b5;">●</small> Lista de Empaque o Lista de Precios (1 original y 1 copia) – U$S 12
        .my-5
          img.img-fluid(src="/images/legalizaciones_img.jpg", alt="")
        p.h1 Autenticación o Legalización de documentos en general
        p La Sección Consular de la Embajada autentica y legaliza documentos originales o copias certificadas, originados única y exclusivamente en la República de China (Taiwán). Los documentos deben estar previamente visados por el Buró de Asuntos Consulares del Ministerio de Asuntos Exteriores de la República de China (Taiwán). Cada documento cuya autenticación o legalización se solicita, debe presentarse en un original autenticado por la autoridad mencionada y una fotocopia simple antes de ser  visado por esta Sección Consular.
        p 
        p Observación: Esta Sección Consular no visa ni certifica traducciones, siempre deben ser visados o legalizados las versiones originales (chino o ingles), las traducciones deben hacerse en el Paraguay. La traducción no puede reemplazar al original en el proceso de certificación consular. 
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();