include mixin/cover-banner
include mixin/head

doctype html
html
  +head('LEGALIZATION OF COMMERCIAL EXPORT DOCUMENTS')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/legalizaciones_banner.jpg', '480px')
      .content.container.my-5
        h1 LEGALIZATION OF COMMERCIAL EXPORT DOCUMENTS
        p The Consular Section of the Embassy of Paraguay requires exporters to submit documents, of products in question, stamped by the Chamber Guild, the Binational Chamber of Commerce of the Republic of China (Taiwan) or by the institutions specifically empowered to issue the certificate of origin.
        p The documents required and the cost of the legalization of each is as follows:

        ul
          li Commercial Invoice (1 original and 1 copy) - U.S.dollars $ 15 
          li Bill of Lading or Airway Bill of Lading (1 original and 1 copy) - U.S.dollars $ 15 
          li Certificate of Origin (1 original and 1 copy) - U.S.dollars $ 25
          li Packing List or Price List (1 original and 1 copy) - US $ 12
       
        .my-5
          img.img-fluid(src="./images/legalizaciones_img.jpg", alt="")
        p.h2 AUTHENTICATION OR LEGALIZATION OF DOCUMENTS IN GENERAL
        p The Consular Section of the Embassy is only able to authenticate and/or legalize the original documents already legalized by the Bureau of Consular Affairs of the Ministry of Foreign Affairs of the Republic of China (Taiwan). Please prepare one complete photocopy of the original documents when applying the legalization of document. (It's obligatory)
        p(style="color:#F43737;") Observation:If the original documents are in Chinese, the translation (English or Spanish) version must be attached with the original documents (both with the original ones as in the photocopies).

      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
