include mixin/cover-banner
include mixin/head

doctype html
html.page-direccion
  +head('PARA LA EXPEDICION DE PASAPORTES CONSULARES')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/expendicion_banner.png', '480px')
      .content.container.my-5
        h1 PARA LA EXPEDICION DE PASAPORTES CONSULARES
        h5 El solicitante deberá:
        
        
        .row
            span
              img(src="./images/expendicion_image.png")
            
            ul.col.ml-4
              li.mb-3 
                p Ser paraguayo natural o naturalizado 
              li.mb-3 
                p Comparecer personalmente en la Sede de la Representación Diplomática o Consular.
              li.mb-3 
                p 
                  | Presentar el 
                  span(style="color:#D55514") <a href="http://consuladord.com/pdfs/formularios/pasaportes.pdf">Formulario de Solicitud de Expedición de Pasaporte Consular</a>
                  |  con datos personales y firmar de manera personal.(Llenar a máquina o en su defecto en letra imprenta).
              li.mb-3 
                p Presentar Cédula de Identidad Civil paraguaya.
                p En caso de no contar físicamente con el documento mencionado precedentemente, deberá presentar copia del mismo, o del pasaporte vencido u otro documento idóneo que compruebe la identidad del solicitante y que estos coincidan con los de la cédula de identidad, adoptando los recaudos pertinentes para asegurar la identidad del solicitante.
              li.mb-3 
                p Presentar el pasaporte anterior (Éste deberá ser debidamente anulado, motivo por el cual se debe presentar al momento de retirar el nuevo pasaporte consular).
              li.mb-3 
                p Firma digital estampada en el formulario habilitado para el efecto en la Sección Consular. (Este requisito se cumple en presencia de la autoridad consular).
              li.mb-3 
                p 
                  a(target="_blank" href="http://www.embapartwroc.com.tw/espanol/images/FOTO_recomendaciones_oaci.pdf")
                    span <a style='color:#D55514' href="https://www.dropbox.com/s/l65c88u4uyely0g/Photo.pdf?dl=0">Presentar 01 (una) foto carnet actualizada de (tomada dentro de 6 meses) color con fondo blanco, tamaño 4cmx5cm. (Observar especificaciones establecidas por OACI más abajo).</a>
              li.mb-3 
                p Ser residente en la jurisdicción de la Representación Diplomática o Consular, acreditada debidamente con la presentación de documentos que avalen dicha situación (Certificado de Residencia-ARC), salvo expresa instrucción recibida del Ministerio de Relaciones Exteriores de la República del Paraguay).
              li.mb-3 
                p No poseer antecedentes policiales. 
                p Observación: Los paraguayos naturalizados podrán obtener pasaportes consulares con una validez de hasta 2 (dos) años, previa autorización de la Dirección de Pasaportes y Servicios Consulares de la Cancillería paraguaya.
                
        h5 Observaciones Generales
          
        ol.ml-4
            li.mb-3
              p De acuerdo a la normativa internacional de la Organización de Aviación Civil Internacional (OACI), a partir del 1 de abril de 2010, ha entrado en vigencia el nuevo sistema de expedición de Documentos de Viaje de Lectura Mecánica.
            li.mb-3
              p Se expiden por un plazo de 05 (cinco) años, no prorrogables.
            li.mb-3
              p La expedición del documento se realiza de manera individual para cada solicitante, sin importar la edad del mismo.  Los menores no podrán ser incluidos en los documentos de viaje de los padres.
            li.mb-3
              p Según lo establecido en el Párrafo 66 de la Ley Nº4033 Del Arancel Consular de la República del Paraguay, vigente a partir del  01 de setiembre de 2010, el arancel aplicado para la Expedición de Pasaportes Consulares es USD.55,00(Cincuenta y cinco dólares americanos).
            li.mb-3
              p Se resalta que el proceso completo, una vez que la documentación sea debidamente presentada, tiene una duración aproximada de 20 a 30 días; considerando que la Representación Diplomática o Consular ingresa los datos presentados a la Base de Datos habilitada para el efecto, para luego ser procesada por la Dirección de Pasaportes y Servicios Consulares del Ministerio de Relaciones Exteriores de la República del Paraguay, donde se imprime y remite el Documento (Pasaporte Consular) para su posterior entrega al solicitante.
        
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
