include mixin/cover-banner
include mixin/head

doctype html
html
  +head('商業出口文件認證')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/legalizaciones_banner.jpg', '480px')
      .content.container.my-5
        h1 商業出口文件認證
        p 巴拉圭共和國大使館領事處要求所有商業出口文件均須經過可授權簽發產地證明機構及該產品相關商會認證之商業出口文件
        p 所需文件和簽證費用如下：<br>
          | 商業發票〈1正本 + 1副本〉- 15美金<br>
          | 提單〈1正本 + 1副本〉 – 15美金<br>
          | 產地證明 〈1正本 + 1副本〉- 25美金<br>
          | 裝箱單或重量單 〈1正本 + 1副本〉- 12美金
        .my-5
          img.img-fluid(src="./images/legalizaciones_img.jpg", alt="")
        p.h2 一般文件認證
        p 巴拉圭共和國大使館領事處只認證由中華民國〈台灣〉所核發的經認證過的原文文件或其副本。 所有文件須經由中華民國外交部領事事務局認證，每份申請認證文件需提交影透過外交部認證後之正本以及附上一份相同之影印本〈本使館留底〉，才能經由本處認證。原文本倘若是中文，請先認證好該原文本，在附上相關翻譯才得以送至本處認證。
        p(style="color:#F43737;") 備註：本處不認證翻譯本文件，文件均需以原文本做認證〈中文或英文〉，其正式翻譯需在<span style="color:#F43737; font-weight:bold; font-style:italic; text-decoration: underline;">使用國</span>當地辦理，所有翻譯本均不可取代原文本。
        p(style="color:#F43737;") 備註2：中華民國(台灣)文件欲持往巴拉圭使用或巴拉圭文件欲持至中華民國(台灣)使用，且有驗證需要者，在本(107)年08月08日，在經各自文件證明職責機關(台灣為外交部領事事務局及該局在台各個辦事處；巴拉圭為巴國外交部文件認證司)驗證後，即可前往對方國使用。

      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
