include mixin/cover-banner
include mixin/head

doctype html
html
  +head('移民')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/05-migracioon.png', '480px')
      #page
        .container
          main
            h1(class="page-title") 移民
            .content.miggraction_content
              p 1996年6月27日所制定之第978號法令及其各自條例，依據1992年“國家憲法”所載的規定事項，構成規範外國人移民以及巴拉圭人民向外移民和遣返的法定文件。
              p 適用第978號法令的主管機關是隸屬內政部的移民總局。
              p 依進入或停留在巴拉圭國內的結果，上述法令承認“居民”和“非居民”的類別。 “居民”之類別又可劃分為“永久居民”和“暫時居民”。 進入該國而無定居意圖之外國人視為“非居民”。
              p 依國內法令所制定的形式和限制，“永久居民”被認可相同的權利並擁有與巴拉圭人民相同的義務。
              h2 申請臨時居留或永久居留須附以下文件：
              p
                ul
                  //- li Son requisitos para solicitar la residencia temporal o permanente los siguientes documentos:
                  li 護照或可證明持有人身分之旅遊文件
                  li 居住地當局所簽發的犯罪或司法記錄。 14歲以下的兒童免除此要求
                  li 由衛生主管機關所簽發之身心狀況醫療證明，必須通過巴拉圭領事館認證
                  li 出生證明及結婚證書（如適用），必須通過認證
                  li 證明專業學位之文憑、或證明准予進入巴拉圭從事授權的活動或工作之文件
                  li 財力證明書或其他財力證據
                  li 由巴拉圭主管警察或司法機關所簽發的生活與居留證明
                  li 移民局在海關管制站所簽發之巴拉圭入境證明
                  li 3 X 3 cm 彩色照片
                  li 領事簽證，適用於需要遵循上述要求國家的國民
                  li 巴拉圭國家犯罪記錄證明
              h2 備註：（巴拉圭國內之步驟與手續）
              p
                ul
                  li 所有文件必須複印，由巴拉圭公證人公證
                  li 其他語言的文件必須翻譯成西班牙語，包括護照在內（在巴拉圭國內）
                  li 來自原籍或居住國的文件，必須由巴拉圭主管領事館核實，並由外交部認證
                  li 臨時居留無須附財力證明，但要求提供支薪勞動要約信，以及公司或個人單一納稅人登記號碼（RUC）
              h2 收費：依據2006年4月26日第7402號行政權法令設立
              p
                .row
                  .col-md-7.table_wrapper
                    table
                      tr
                        th 項目
                        th 巴拉圭幣
                        th 美金
                      tr
                        td 臨時拘留
                        td 365.940
                        td 73,81
                      tr
                        td 臨時變更
                        td 203.300
                        td 40,56
                      tr
                        td 居留類別變更
                        td 406.600
                        td 81,13
                      tr
                        td 定居證明	
                        td 81.320
                        td 16,23
                      tr
                        td 退貨證明
                        td 81.320
                        td 16,23
                      tr
                        td 海關證明
                        td 81.320
                        td 16,23
                      tr
                        td 罰款
                        td 328.405
                        td 65,52
                  .col-md-5
                    img(src="./images/05-MIGRACIÓN.png", alt="")
              p 最低法定工資有效：Gs。</br>每日工資2,041,123 ：Gs。68,037 </br>每日Jornal：Gs。78.505 </br>資料來源：移民總局（DGM）
              h2 適用收費標準 </br>依據自2017年7月10日起生效之移民法978/96，第7351/17號文件暨312/17號裁決
              p
                .table_wrapper
                  table
                    tr
                      th 項目
                      th 等值
                      th 巴拉圭幣
                    tr
                      td 永久居留
                      td 10 日薪資
                      td 680.370
                    tr
                      td 臨時居留
                      td 9 日薪資
                      td 612.333
                    tr
                      td 居留類別變更
                      td 10 日薪資
                      td 680.370
                    tr
                      td 職業變更
                      td 5 日薪資
                      td 340.185
                    tr
                      td 延長觀光居留
                      td 5 日薪資
                      td 340.185
                    tr
                      td 定居證明
                      td 2 日薪資
                      td 136.074
                    tr
                      td 補發-永久居留
                      td 2 日薪資
                      td 136.074
                    tr
                      td 補發-暫時居留
                      td 2 日薪資
                      td 136.074
                    tr
                      td 更新-暫時居留
                      td 9 日薪資
                      td 612.333
                    tr
                      td 臨時居留及延長
                      td 9 日薪資
                      td 612.333
                    tr
                      td 永久離境
                      td 2 日薪資
                      td 136.074
                    tr
                      td 罰款 (第32條) 監管法令第1726/09號：  </br>a)居留期限過期  </br>b)無法出示入境文件
                      td 3 日薪資
                      td 235.515
                    tr 
                      td 其他 –  (151暨152條) 法令第978/96號
                      td 2 日薪資
                      td 136.074
                    tr
                      td 公共演出成員／每人
                      td 2 日薪資
                      td 136.074
                    tr
                      td 法令第4429號（移民特赦）
                      td 5 日薪資
                      td 392.525
              p 最低法定工資有效：Gs。</br>每日工資2,041,123 ：Gs。68,037 </br>每日Jornal：Gs。78.505 </br>資料來源：移民總局（DGM）
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
