include mixin/cover-banner

doctype html
html
  include components/head
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/05-migracioon.png', '480px')
      #page
        .container
          main
            h1(class="page-title") MIGRACIÓN
            .content.miggraction_content
              p La Ley 978 sancionada el 27 de junio de 1996 y su respectiva reglamentación, en concordancia con las disposiciones relativas a la materia contenidas en la Constitución Nacional de 1992, constituyen los instrumentos legales que regulan la migración de extranjeros, así como la emigración y repatriación de paraguayos.
              p El órgano competente de aplicación de la Ley 978 es la Dirección General de Migraciones, dependiente del Ministerio del Interior.
              p A los efectos del ingreso y permanencia en el Paraguay, la mencionada Ley reconoce las categorías de “residentes” y “no residentes”. La categoría de “residentes” se subdivide en “residentes permanentes” y “residentes temporarios”. Se consideran “no residentes” a aquellos extranjeros que ingresan al país sin intención de radicarse en él.
              p A los “residentes permanentes” se les reconocen los mismos derechos y tienen las mismas obligaciones que los paraguayos, con las modalidades y limitaciones establecidas por las leyes nacionales.
              h2 Son requisitos para solicitar la residencia temporal o permanente los siguientes documentos:
              p
                ul
                  li Son requisitos para solicitar la residencia temporal o permanente los siguientes documentos:
                  li Antecedentes Policiales o Judiciales emitidos por la autoridad de su residencia durante los últimos cinco años. Los menores de 14 años están exentos de este requisito.
                  li Certificado Médico sobre condiciones físicas y sicológicas, expedido por una autoridad sanitaria competente, debidamente legalizado en el Consulado del Paraguay.
                  li Certificados de Nacimiento y de Matrimonio, cuando hubiere lugar, debidamente legalizados.
                  li Diplomas que acreditan grado profesional o un documento que justifique la actividad o empleo que se consideró para el otorgamiento de la autorización para ingresar al Paraguay.
                  li Certificado u otra prueba de solvencia económica.
                  li Certificado de Vida y Residencia expedido por una autoridad policial o judicial competente del Paraguay.
                  li Certificación de entrada al Paraguay, emitida por la autoridad migratoria en los puestos de control.
                  li Fotografía a color 3 X 3 cm.
                  li Visa Consular, para los nacionales de aquellos países, que precisan cumplir con dicho recaudo.
                  li Certificado de Antecedentes de la Policía Nacional del Paraguay.
              h2 OBSERVACIONES:(Pasos y Trámites en el Paraguay)
              p
                ul
                  li Toda la documentación debe estar fotocopiada, con certificación de Escribano Público del Paraguay.
                  li Los documentos en otros idiomas deben ser traducidos al español, incluyéndose los pasaportes (en Paraguay)
                  li Los documentos provenientes del país de origen o residencia deben estar autenticados por el Consulado del Paraguay competente y legalizados por el Ministerio de Relaciones Exteriores.
                  li No se requerirán para la residencia temporaria constancia de solvencia económica, pero si se exigen cartas de oferta de trabajo asalariado y el numero de Registro Unico de Contribuyente (RUC) de la empresa o del particular. 
              h2 ARANCELES establecidos por el Decreto del Poder Ejecutivo Nº 7.402 del 26 de abril de 2006.
              p
                .row
                  .col-md-7.table_wrapper
                    table
                      tr
                        th MIGRACIÓN
                        th En guaraníes
                        th En dólares
                      tr
                        td Residencia temporaria
                        td 365.940
                        td 73,81
                      tr
                        td Cambio de profesión
                        td 203.300
                        td 40,56
                      tr
                        td Cambio de categoría
                        td 406.600
                        td 81,13
                      tr
                        td Certificado de radicación
                        td 81.320
                        td 16,23
                      tr
                        td Certificado de retorno
                        td 81.320
                        td 16,23
                      tr
                        td Certificado para Aduana
                        td 81.320
                        td 16,23
                      tr
                        td Multa (Art.32) Dto-Reg.N° 18295/97
                        td 328.405
                        td 65,52
                  .col-md-5
                    img(src="./images/05-MIGRACIÓN.png", alt="")
              p Salario Mínimo Legal Vigente: Gs. 2.041.123 </br> Salario Diario: Gs. 68.037 </br> Jornal Diario: Gs. 78.505 </br> Fuente: Dirección General de Migraciones (DGM)
              p
                .table_wrapper
                  table
                    tr
                      th Concepto
                      th Equivalencia
                      th En dólares
                    tr
                      td Residencia Permanente
                      td 10 salarios diarios
                      td 680.370
                    tr
                      td Residencia Temporaria
                      td 9 salarios diarios
                      td 612.333
                    tr
                      td Cambio de Categoría
                      td 10 salarios diarios
                      td 680.370
                    tr
                      td Cambio de Profesión
                      td 5 salarios diarios
                      td 340.185
                    tr
                      td Prórroga de Permanencia como Turista
                      td 5 salarios diarios
                      td 340.185
                    tr
                      td Certificado de Radicación
                      td 2 salarios diarios
                      td 136.074
                    tr
                      td Reposición - Residencia Permanente
                      td 2 salarios diarios
                      td 136.074
                    tr
                      td Reposición - Residencia Temporaria
                      td 2 salarios diarios
                      td 136.074
                    tr
                      td Renovación - Residencia Temporaria
                      td 9 salarios diarios
                      td 612.333
                    tr
                      td Residencia Precaria y prórroga de la misma
                      td 9 salarios diarios
                      td 612.333
                    tr
                      td Salida Definitiva
                      td 2 salarios diarios
                      td 136.074
                    tr
                      td Multa - (Art. 32) Decreto Reglamentario Nº 1726/09:  
                      td -
                      td -
                    tr
                      td a) Por vencimiento del plazo de permanencia,  
                      td 3 jornales diarios
                      td 235.515
                    tr
                      td b) Por no presentar documento de entrada al país.
                      td -
                      td -
                    tr 
                      td Otros – (Art. 151 y 152) Ley Nº 978/96
                      td 2 salarios diarios
                      td 136.074
                    tr
                      td Integrantes de Espectáculos Públicos: (por persona)
                      td 2 salarios diarios
                      td 136.074
                    tr
                      td Ley Nº 4429 (de Amnistía Migratoria)a
                      td 5 jornales diarios
                      td 392.525
              p Salario Mínimo Legal Vigente: Gs. 2.041.123 </br> Salario Diario: Gs. 68.037 </br> Jornal Diario: Gs. 78.505 </br> Fuente: Dirección General de Migraciones (DGM)
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
