include mixin/cover-banner
include mixin/head

doctype html
html
  +head('IMMIGRATION')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/05-migracioon.png', '480px')
      #page
        .container
          main
            h1(class="page-title") IMMIGRATION
            .content.miggraction_content
              p According to the “National Constitution” in 1992, the Regulation No. 978 established on 27 June 1996 and its respective provisions constitute the legal document for foreign immigrants and outward migration and repatriation for citizens of Paraguay.
              p The competent authority applicable to the Regulation No. 978 is DGM under the Ministry of Interior.
              p Based on the result of entering or staying in Paraguay, the above Regulation recognizes categories of "Residence" and "Non-Residence."
              p Also, "Residence" may be divided into "Permanent Residence" and "Temporary Residence." Foreigners who enter the country without the intention to settle down are deemed as "Non-Residence."
              p According to the formulation and restriction under the domestic regulations, the “Permanent Residence” has the same recognized rights and the same obligations as the citizens of Paraguay.
              strong Please provide the following documentation for the application of temporary residence or permanent residence:
              br
              ul
                //- li Son requisitos para solicitar la residencia temporal o permanente los siguientes documentos:
                li Passport or traveling documents that can support the identity of the holder
                li The criminal or judiciary records issued by the authority from the place of residence. Children under the age of 14 are exempted from this requirement
                li The physical and psychological status medical certificate issued by the health authority, subject to the certification from the consulate of Paraguay 
                li Birth certificate and marriage certificate (if applicable), subject to certification
                li The diploma that supports the professional degree, or documents that support the approval of entering Paraguay for engaging the authorized activities or work
                li Financial statement or other financial evidence
                li The living and residence permit issued by the competent police or judiciary authorities in Paraguay
                li The Paraguay Entry Permit issued by the DGM at the custom control
                li 3X3 cm color photo
                li Consular visa, applicable to citizens from the countries who are required to comply with the above requirements
                li Paraguay state criminal records
                br 

              strong Note: (Steps and procedures in Paraguay)
              br
              ul
                li All the documents shall have copies for notarization by a notary in Paraguay
                li Documents in other languages shall be translated into Spanish, including the passport (in Paraguay)
                li The documents from the country of origin or the state of residence shall be verified by the competent consulate of Paraguay and certified by the Ministry of Foreign Affairs
                li A financial statement is not required for temporary residence, but the letter of salary payment and labor offer, and the RUC for the company or the individual are required.
                br
          
              strong Charges: Established according to the Executive Decree No. 7402 on 26 April 2006
              br

              p
                .row
                  .col-md-7.table_wrapper
                    table
                      tr
                        th Item
                        th Paraguay Guarani
                        th USD
                      tr
                        td Temporary detention
                        td 365.940
                        td 73,81
                      tr
                        td Temporary alteration
                        td 203.300
                        td 40,56
                      tr
                        td Alteration on residential category
                        td 406.600
                        td 81,13
                      tr
                        td Residence certificate
                        td 81.320
                        td 16,23
                      tr
                        td Cargo return certificate
                        td 81.320
                        td 16,23
                      tr
                        td Custom certificate
                        td 81.320
                        td 16,23
                      tr
                        td Fine
                        td 328.405
                        td 65,52
                  .col-md-5
                    img(src="./images/05-MIGRACIÓN.png", alt="")
              p
                | Effective minimum legal wages: Gs。
                br
                | Daily wages 2,041,123: Gs. 68,037 
                br
                | Daily Jornal: Gs。78.505 
                br
                | Sources: DGM
                br

              strong Applicable charging standards 
              br
              strong According to the Immigration Act 978/96 that came into effect on 10 July 2017
              br
              strong Document No. 7351/17, and Verdict No. 312/17
              .table_wrapper
                  table
                    tr
                      th Item
                      th EQUIVALENT
                      th PARAGUAY GUARANI
                    tr
                      td Temporary detention
                      td Salaries for 10 days
                      td 680.370
                    tr
                      td Temporary alteration
                      td Salaries for 9 days
                      td 612.333
                    tr
                      td Alteration on residential category
                      td Salaries for 10 days
                      td 680.370
                    tr
                      td Occupation alteration
                      td Salaries for 5 days
                      td 340.185
                    tr
                      td Tourism residence extension
                      td Salaries for 5 days
                      td 340.185
                    tr
                      td Residence certificate
                      td Salaries for 2 days
                      td 136.074
                    tr
                      td Reissue - permanent residence
                      td Salaries for 2 days
                      td 136.074
                    tr
                      td Reissue - temporary residence
                      td Salaries for 2 days
                      td 136.074
                    tr
                      td Reissue - temporary residence
                      td Salaries for 9 days
                      td 612.333
                    tr
                      td Temporary residence and extension
                      td Salaries for 9 days
                      td 612.333
                    tr
                      td Permanent departure
                      td Salaries for 2 days
                      td 136.074
                    tr
                      td Fine (Rule No. 32) Regulatory Decree No. 1726/09:
                          br
                          | a) Residence term has expired
                          br
                          | b) Unable to present the entry document
                      td Salaries for 3 days
                      td 235.515
                    tr 
                      td Others – (Rule 151 and 152) Decree No. 978/96
                      td Salaries for 2 days
                      td 136.074
                    tr
                      td Member of the public performance/per person
                      td Salaries for 2 days
                      td 136.074
              p
                | Effective minimum legal wages: Gs。
                br
                | Daily wages 2,041,123: Gs。68,037
                br
                | Daily Jornal: Gs。78.505 
                br
                | Sources: DGM
                br
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
