include mixin/cover-banner
include mixin/head

doctype html
html
  +head('歸國')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/requisitos_banner.png', '480px')
      #page
        .container
          main
            h1(class="page-title") 歸國
            .content_repatriacion_wrapper
              ul.list
                li.list-item.highlight <a href="https://www.dropbox.com/s/8k87z1g1imt0gz4/%28%E6%AD%B8%E5%9C%8B%E7%94%B3%E8%AB%8B%E8%A1%A8%29SOLICITUD%20DE%20REPATRIACION.pdf?dl=0">填寫申請表</a>
                li.list-item 沒入別國國籍
                li.list-item 持巴拉圭身分證
                li.list-item 出示居留國外超過兩年之證明
                li.list-item 彩色證件照兩張
                li.list-item 要運送回國之物品明細表和提貨單（正本一份，副本兩份）
              .content
                h2 註釋
                .body 所有外文的文件都需經由巴拉圭最高法院認同之翻譯社翻譯成西班牙文。原文證件必須是正本。
                a.download(href="https://www.dropbox.com/s/fz1ex58n5n9xn2h/%28%E5%B7%B4%E6%8B%89%E5%9C%AD%E5%A4%96%E4%BA%A4%E9%83%A8%E6%AD%B8%E5%9C%8B%E5%85%AC%E5%91%8A%29Circular%20para%20la%20repatriacion.pdf?dl=0" download) Instructivo para Repatriación de Enseres Personales, Herramientas de Trabajo y Vehículos al Paraguay.
                
                
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
