include mixin/cover-banner

doctype html
html
  include components/head
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/breve_resena_banner.jpg', '480px')        
      .content.container.my-5
        h1 BREVE RESEÑA
        p Desde el establecimiento de sus relaciones diplomáticas el 12 de julio de 1957, Taiwán y Paraguay se han venido apoyando mutuamente en la arena internacional y han estado disfrutando de fuertes y estrechos intercambios y lazos de cooperación en los campos del comercio, la agricultura, la cultura y la educación, entre otros.
        p 
        p A partir del año 1961, las relaciones diplomáticas con este país se han ido incrementando y fortaleciendo con las visitas oficiales a nivel presidencial y de altos dignatarios de los dos países así como con la suscripción de unos cincuenta instrumentos bilaterales que comprenden una amplia gama de materias, cultura, comercio y cooperación económica, cooperación técnica, turismo, inversiones, garantía mutua de inversiones, extradición, contratos de préstamos, cooperación financiera, construcción de obras públicas, transporte aéreo, supresión de visas en pasaportes diplomáticos y oficiales.
        p 
        p  La República de China - Taiwán, a través de la Fundación para la Cooperación y el Desarrollo Económico Internacional, fue y continúa siendo un importante socio del Paraguay en el ámbito de la cooperación técnica con varios proyectos realizados en diversas áreas tales como: piscicultura, porcinocultura, floricultura, agricultura, entre otros, canalizadas en nuestro país por intermedio de una Misión Técnica de Taiwán.
        p 
        p  No puede dejar de mencionarse importantes donaciones efectuadas por Taiwán a lo largo de todos estos años entre las que se citan por su trascendencia, las destinadas a las sedes del Congreso Nacional y del Ministerio de Relaciones Exteriores y a la construcción de viviendas populares.
        p 
        p Además, es importante señalar en esta sintética enumeración que un gran número de jóvenes compatriotas participan anualmente de diferentes programas de estudios universitarios, capacitación técnica y profesional haciendo uso de becas concedidas por el Gobierno taiwanés.
        p 
        p En lo que se relaciona con el comercio bilateral debe señalarse que en los últimos años y gracias a una estrecha relación entre ambos países, el Paraguay viene estrechando cada vez más su balanza comercial con Taiwán, gracias a los esfuerzos llevados a cabo entre los sectores privados y oficiales de ambas partes. 

      .container.my-3
          img.img-fluid(src="/images/breve_resena_bottom_img.jpg", alt="")
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();