include mixin/cover-banner
include mixin/head

doctype html
html
  +head('BREVE RESEÑA')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/breve_resena_banner.jpg', '480px')        
      .content.container.my-5
        h1 沿革
        p 在中華民國於1971年退出聯合國後，其席次為中國大陸取代後，巴拉圭為中華民國18個邦交國之一，且為南美洲唯一友邦國。

        p 從1961年起，因國家元首的造訪以及50餘項合作協議的簽定，其內容包羅萬象如：文化，商業及經濟合作，技術合作，觀光，投資，相互投資保障，引渡，借款協議，金融合作，公共建設，航舦，外交護照以及公務護照的禮遇，有利友邦關係更加鞏固。中華民國經由，財團法人國際合作發展基金會（ICDF），一直都是巴拉圭在技術會作上的重要合作人，如：農業方面由中華民國駐巴拉圭的農耕團，養豬業，花卉，實驗室的設立，企業資訊處（CEPAE）， 中小企業服務處（PYMES）的商業推廣。

        p 不得不加以著墨是，中華民國對於巴拉圭長間的捐助，尤其是在於國會及外交部和國宅的建設。此外，在這個扼要陳列中，無數的巴拉圭籍青年藉由中華民國所提供的獎學金來到台灣的各大學府就讀。兩國的雙邊關係，巴拉圭和中華民國的貿易逆差已維持多年，這也正是巴拉圭當局想努力改善的商業情況。為了改善上述情況，本館所設立的商業部門提供了雙方間的商業資訊。另一方面，本館所提供的商品資訊非常多元化，傳統的商如：木材，皮革，棉花以及黃豆。新開發的商品如：肉品，細糖以及有機糖，馬黛茶（yerba mate），香料油，草藥。 此外，本單位也提供巴拉圭商人許多商業資訊，如，進口商品的需求以及如何進入相關市場的方法，另外尚有中華民國進口相關訊息，包含：關稅，進口限制以及管制，動植物衛生管制法，進口程序以及消費者保護法，等等。滙同這些資訊，尚且有定期的公佈，針對特定產業的最新市場調查。

        p 在文化方面，為了促進對巴拉圭更多的了解，本館除了一系列的巴拉圭音樂會，巴籍演唱家，大學裡的研討會，針對台灣的學生所舉辦的「巴拉圭遊學團」至今已第四屆，去年起的足球技能的交流，巴拉圭派遣來台數個巴拉圭國立體專的教師加以指導，以及在語言方面，巴拉圭國立亞松森大學教授今年己二度來訪參與語言相關的研討會，以上的活動均由中華民國政府所協助以及支持。
      .container.my-3
          img.img-fluid(src="/images/breve_resena_bottom_img.jpg", alt="")
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
