include mixin/cover-banner
include mixin/head

doctype html
html
  +head('BRIEF REVIEW')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/breve_resena_banner.jpg', '480px')        
      .content.container.my-5
        h1 BRIEF REVIEW
        p With the withdrawal of the Republic of China (Taiwan) from the United Nations in 1971, whose place was occupied by the People's Republic of China, Paraguay remains one of only 17 countries, being the only one in South America that maintains diplomatic relations with the Republic of China (Taiwan). 

        p Since 1961, diplomatic relations between our countries have been strengthened by official visits from both countries , at the presidential and senior dignitaries level, as well as the signing of some fifty bilateral agreements that include a wide range of subjects: culture, trade and economic cooperation, technical cooperation, tourism, mutual guaranteed investment, extradition, loan contracts, financial cooperation, construction of public works, air transport and the visa exemption.        

        p The Republic of China (Taiwan), through the International Foundation for Cooperation and Economic Development , is and remains an important partner of Paraguay in the field of technical cooperation with several projects in various areas such as agriculture, channeled in our country through an Agricultural Technical Mission, animal husbandry, floriculture, the construction of laboratories, the Center for Support of Companies (CEPAE), assistance to small and medium enterprises (Pymes) and trade promotion.

        p One cannot fail to mention the significant donations made by Taiwan over these years among those cited for its significance are the headquarters of the National Congress and the Ministry of Foreign Affairs and the construction of low-cost housing.

        p In addition, it is important to note that in relation to this, there are a large number of young compatriots participating annually in Taiwan in different universities curricula, technical and vocational training by way of grants and scholarships in awarded by the Taiwanese government.

        p In regards to bilateral trade it should be noted that for many years our country has had a bilateral trade balance deficit, making it necessary to redouble efforts to reverse this trend. 

        p To this end, the Embassy of Paraguay in Taiwan has conducted through its commercial sector a campaign to disseminate information on two tracks.

        p On the one hand, the promotion of domestic products aimed at securing an expansion and diversification market and an exportable supply of traditional products such as wood, leather, cotton and soybeans, with the inclusion of new items such as meat, both refined and organic sugar , Mate, essential oils, herbs and so on.

        p On the other hand, the collection and dissemination of information to the businessmen of our country, which include both the demand for imported products as well as the conditions for access to goods on the Taiwanese market including tariffs, standards and technical regulations, sanitary measures, rules and administrative procedures, customs procedures, standards of consumer protection. This data makes up the market research on certain products that are developed and updated regularly.
      .container.my-3
          img.img-fluid(src="/images/breve_resena_bottom_img.jpg", alt="")
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
