include mixin/cover-banner
include mixin/head

doctype html
html
  +head('NOTICIAS')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/news_banner.png', '480px')
        
      .content.container.my-5
      
        h5
          | 中華民國(台灣)與政府與巴拉圭共和國政府免除外國公文書重複驗證協定
        br
        
        p 兩國外交部長於上(106)年7月12日簽署之「中華民國(台灣)與政府與巴拉圭共和國政府免除外國公文書重複驗證協定」，於本(107)年08月08日起生效。
        
        p 上述協定生效後，中華民國(台灣)文件欲持往巴拉圭使用或巴拉圭文件欲持至中華民國(台灣)使用，且有驗證需要者，在本(107)年08月08日，在經各自文件證明職責機關(台灣為外交部領事事務局及該局在台各個辦事處；巴拉圭為巴國外交部文件認證司)驗證後，即可前往對方國使用。
        
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
