include mixin/cover-banner
include mixin/head

doctype html
html
  +head('NOTICIAS')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/news_banner.png', '480px')
        
      .content.container.my-5
        h1 Embajada de la República del Paraguay en la República de China – Taiwán

        p Circular Nº 1/2018    

        p La Embajada del Paraguay en la República de China (Taiwán), presenta sus atentos saludos a los JOVENES BECARIOS y COMPATRIOTAS RESIDENTES, en ocasión de invitarlos a participar de la Celebración Eucarística en conmemoración al día de NUESTRA SEÑORA DE LOS MILAGROS DE CAACUPE, 
          strong domingo 9 de diciembre de 2018.

        p La celebración se realizará en la Sede del Edificio Diplomático primer piso (1 Floor No.9-1 Lane 62 Tien-mou West Rd., Taipei), 
          strong y el oficio religioso se iniciará a las 11:00 hrs.

        p Con posterioridad a la misa, se invita a los presentes a participar de un refrigerio que será ofrecido por la Embajada del Paraguay.

        p Sobre el particular, se ruega puntualidad y la confirmación de vuestra participación, 
          strong a más tardar hasta el día 30 de noviembre del corriente año.

        p La Embajada del Paraguay en la República de China (Taiwán), hace propicia la oportunidad para saludar a los JOVENES BECARIOS y COMPATRIOTAS RESIDENTES, de la manera más cordial y atenta.

        p Ciudad de Taipei, 6 de noviembre de 2018.

      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
