include mixin/cover-banner

doctype html
html
  include components/head
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('/images/news_banner.png', '480px')
      .content.container.my-5
        h1.my-2 NOTICIAS
        section.noticias_wrap
          include components/news_list
          include components/pager
          
              
      
             
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
