include mixin/cover-banner
include mixin/head

doctype html
html
  +head('4月份的大豆出口量是該國經濟史上最高的')
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/news_banner.png', '480px')
      .content.container.my-5
        h5 4月份的大豆出口量是該國經濟史上最高的
        br
        p 今年4月，巴拉圭出口了897,224噸大豆，其中進口了4.417億美元。這兩個數字是自正式記錄以來最高的數字。

        p 根據央行的對外貿易數據，巴拉圭的大豆出口總量為897,224噸，去年4月的收入為4.417億美元。這些數字是自正式記錄（1994年）和巴拉圭經濟歷史以來最高的，因為在過去幾年中，種植區域和技術都不是現有的，至於假設所提到的數字可以克服。根據4月份的數據，今年第一季度僅為油籽出口量收入了143.2萬美元，出口量為306萬噸，這意味著外幣和外彙的增長率為21.6％。百分之29.5％。
        p 大豆是該國第一個出口產品，佔巴拉圭向世界出貨總量的39％。然而，儘管這個級別的外匯產生的大豆和在最近幾個月也是它的工業產品（麵粉和油），相比而言在大豆業務所產生的所有的錢其對國庫的貢獻是微不足道根據財政部的批評，貨幣。農業活動所得稅（Imagro）去年為國庫提供了1590萬美元，相當於稅收概念總收入的0.9％。有幾個部門批評農業部門對國家的稀缺貢獻，無論是國家收入還是創造就業機會。
        p 相反，那些誰要求的農產品出口模式點外匯收入的重要性，以保持匯率在現有水平，除了由電路和最近的農農業企業所產生的間接經濟運動。在這方面，應該提到的是，四月份麵粉出口量也達到創紀錄的336,520噸和1.614億美元，隨著原材料加工的進展，這一數量也在增長。 
        p 1月至4月期間，已累計出口3.883億美元，出口806,304噸，始終符合官方記錄。TOTAL。巴拉圭今年前四個月末的出口總額達到36.4億美元，比2013年同期增長15.5％。2014年前四個月在外匯方面擴大最多的項目是麵粉，增加94％;油，含32％。已經落後於這些和大豆（21.6％），肉類在今年第四個月末增加了17％，進入這個概念的3.579億美元。
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
