include mixin/cover-banner

doctype html
html
  include components/head
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('/images/cultura_banner.png', '480px')
      .content.container.my-5
        h1 CULTURA
        strong Consideraciones Generales
        p La cultura paraguaya, cuyas características identificadoras la hacen singular, es producto, principalmente, del encuentro de dos mundos: el euro-hispano occidental y el guaraní precolombino. De ahí que su identidad propia sea el resultado de un mestizaje no solo biológico sino también espiritual que se proyecta en todas sus manifestaciones. 
        p El bilingüismo de la población paraguaya, que se manifiesta en el uso corriente del español y del guaraní, caso único entre los países latinoamericanos, man-tenido hasta la actualidad a pesar del proceso de imposición del idioma y cultura del conquistador, es un fenómeno interesante de ser estudiado. La vitalidad del guaraní es un factor de unidad trascendente y fundamento esencial del concepto de la nación paraguaya. 
        p Los orígenes de la matriz cultural mestiza paraguaya deben buscarse, fundamentalmente, en la alianza cimentada como resultado de la entrega de las hijas y hermanas de los guaraníes al conquistador español, que transforma los entendimientos políticos de asistencia recíproca en lazosde familia, que son mucho más permanentes y fuertes. 
        p De esta unión nace el mestizo, el mancebo de la tierra, con estatus de hijo de español que es la piedra angular del complejo social del Paraguay y el factor fun-damental de su evolución cultural. 
        p En todas las manifestaciones culturales del Paraguay puede apreciarse una experiencia singular que es el resultado de la amalgama de elementos derivados de las dos culturas. 
        p A pesar de que el guaraní carecía de una escritura propia, pervivieron a través del tiempo conocimientos, valores y tradiciones populares cuyos orígenes se  pierden en la obscuridad del pasado precolombino. 
          br
          | Muestrario de ello es la rica farmacopea y medicina tradicional, la gastronomía, la artesanía, la sabiduría popular (arandú ka’aty), los refranes (ñe’engá) y las historias populares (ñemombeu), concebidos y expresados con singular gracia en la lengua vernácula. 
        strong La música y la danza 
        p Destaca entre las manifestaciones culturales del Paraguay su música que no escapa de la influencia del mestizaje. Se conservan documentos de las reduc-ciones jesuíticas que confirman las aptitud de los indígenas para la construcción de instrumentos y para su ejecución. 
        p Como algún autor lo afirmó, el paraguayo es un ser eminentemente musical y favorece e influye en su creatividad, la naturaleza que lo rodea. Mburica’ó, Kaaty de José Asunción Flores; Alto Paraná y Canto de mi Selva de Herminio Giménez; Pájaro Campana de Mauricio Cardozo Ocampo, Recuerdo de Ypacaraí de Demetrio Ortiz, Cascada de Digno García, Ka’aguype (en la selva) de Florentín Giménez son obras magistrales que confirman este aserto a los que se suman hermosas creaciones, populares y cultas,de la autoría de Agustín Barboza, Emigdio Ayala Báez, Juan Carlos Moreno González, Emilio Biggi, Juan Max Boettner, Remberto Giménez, Prudencio Giménez, Emiliano R. Fernández. 
        p El paraguayo expresa sus sentimientos a través de la música. Su alegría se refleja en el ritmo permanente sincopado y vivaz de la polca paraguaya; su melan-colía y nostalgia en la guarania, género musical creado en 1925por José Asunción Flores y sus penas y lamentos en el purahei jahe’ó (canto triste). 
        p Instrumentos tradicionales para la interpretación de la música folclórica paraguaya lo constituyen el arpa, introducida por los jesuitas en el siglo XVII, diatónica, con treinta y ocho cuerdas, en cuya ejecución se destacaron, entre muchos otros, Félix Pérez Cardozo, Digno García, Luís Bordón, Nicolás Caballero y la gui-tarra, que acompañaba ya a los conquistadores, cuyo máximo exponente y uno de los compositores más importantes de América, es Agustín Pio Barrios-Man-goré, destacándose entre sus cultores Sila Godoy, Felipe Sosa, Berta Rojas y otros tantos. 
        p Estrechamente unida a la música folclórica está la danza, manifestación grupal cuyas dos vertientes provienen de las tradiciona les europeas como el londón karape, la golondriana, el cielito y de otra, la autóctona, como las danzas de lasgaloperas y de la botella, conocidas mundialm ente.Destaca en el baile tradicion-al paraguayo la armónica coreografía, la belleza de la vestimenta que incluye prendas que lucen delicados tejidos como el aho poi y el ñanduti. 
        p Literatura 
          br
          | Una mayor producción literaria del Paraguay se inicia en la época del Gobierno de Carlos Antonio López en el siglo XIX, en la que se produjo una revitalización de esta expresión cultural debida a la influencia de maestros europeos. En ese período aparecen El Semanario y El Paraguayo Independiente, órganos de prensa en los que publican sus obras los precursores del romanticismo en el Paraguay. Al finalizar la guerra de la Triple Alianza destacan escritores tales como Cecilio Báez, Manuel Domínguez, Juan E. O’Leary. También el modernismo tuvo sus representantes en Herib Campos Cervera, Eloy Fariña Núñez, Alejandro Guanes, Natalicio González, Manuel Ortiz Guerrero. Aportes muy valiosos que enriquecieron la literatura paraguaya brindaron el poeta Elvio Romero, los nov-elistas Gabriel Casaccia, y Augusto Roa Bastos, este último ganador en 1989 del Premio Cervantes de España. José María Sanjurjo, José Luis Appleyard, Ramiro Domínguez. Rubén Bareiro Saguier, Josefina Pla, Mario Halley Mora son otros destacados exponentes de la literatura paraguaya. 
        strong Artes plásticas
        p En cuanto a las artes plásticas, muchas manifestaciones del arte paraguayo tienen sus raíces en la tradición religiosa, muestra de ello es la abundante iconografía, resultado de la combinación del estilo barroco español con el arte indígena, que procede de las misiones franciscanas o de las reducciones jesuíti-cas. En pintura se han destacado Pablo Alborno, Juan Samundio, Roberto Holden Jara, Ignacio Núñez Soler, Pablo Delgado Rodas, Guillermo Da Re, Guido Boggiani. Entre los contemporáneos, Carlos Colombino, Ricardo Migliorisi, Félix Toranzos, Olga Blinder, Edith Giménez y en escultura Herman Guggiari, Hugo Pistilli y Javier Báez Rolón. 
        strong Artesanía 
        p Al igual que las otras expresiones culturales, la artesanía en general es también mestiza. Sin embargo, los indígenas fueron hábiles en cestería, arte plumífero, cerámica y tejidos entre los que se destaca el ahopoi y el ñanduti. Los españoles aportaron las técnicas del hierro forjado, orfebrería, joyería, talla de madera, trabajos sobre cueros, los bordados y encajes.
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
