doctype html
html
  include components/head
  body
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      include components/cover_banner
      .content.container.my-5
        h1 DIRECCION
        p Dirección: 7th. Floor No. 9-1 Lane 62 Tien Mu West Rd. Taipei, Taiwan 
        p Teléfono: (02) 2873-6310 2873-6311 
        p FAX: (02) 2873-6312 
        p Correo electrónico: embapartaiwan@embapartwroc.com.tw 
        p Teléfono de emergencia: (+886) 0928-391-360 
        p *Este número es sólo para casos de emergencia. 
        p 
        p TRANSPORTE PÚBLICO (大眾交通) 
        p 1. Estación de Metro más cercana: Shipai, Línea Danshui (roja). 
        p 2. Se puede tomar taxi o bus al salir de la estación Shipai (aprox. 10 mins.) 
        p 3. Para tomar bus: Saliendo de la estación MRT girar hacia la derecha, delante de KFC hay paradas de buses. 
        p Los buses que llegan son: 
        p Red 12 (紅12) 
        p Red 19 (紅19)
        p 645
        p 902
      include components/google_map          
      include components/footer
      include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
