include mixin/cover-banner

doctype html
html
  include components/head
  body.page-mission
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      #banner
        +cover-banner('./images/embassy_mision_banner.png', '343px')
      .content.container.my-5
        h1.mb-3 JEFE DE MISION
        h4 CURRICULUM VITAE
        h4 MARCIAL BOBADILLA GUILLÉN
        
        .row
          .image.col-auto.mb-5
            img(src='./images/mission.png', alt='')
          .wrap.col
            .wrap.mb-5
              h4 INFORMACIÓN PERSONAL
              .row.mt-3
                div.col-4
                  p Apellidos：
                div.col
                  p Bobadilla Guillén
              .row.mt-2
                div.col-4
                  p Nomres:
                div.col
                  p Marcial
              .row.mt-2
                div.col-4
                  p Fecha de Nacimiento:
                div.col
                  p 23 de agosto de 1951
              .row.mt-2
                div.col-4
                  p Esposa: 
                div.col
                  p Norma Días de Bobadilla
              .row.mt-2
                div.col-4
                  p Hijo: 
                div.col
                  p Luis Enrique Bobadilla Días
                  
            .wrap.mb-5
                h4 ESTUDIOS CURSADOS
                div.wrap
                p 1976 Universidad Nacional de Asunción – Facultad de Derecho y Ciencias Sociales Título obtenido: Abogado
                
        h4 CARRERA DIPLOMÁTICA
        div.p-3.mb-3
          ul.timeline
            li.pb-5
              h4 2013
              p Embajador Extraordinario y Plenipotenciario de la República del Paraguay en la República de China (Taiwán). – 2013 hasta la fecha.
            li.pb-5
              h4 2012
              p 2012 Director General de Asuntos Especiales. Punto de Contacto Nacional ante: el Comité Interamericano contra el Terrorismo (CICTE-OEA), la Comisión Interamericana para el Control del Abuso de Drogas (CICAD-OEA), la Oficina de las Nacionales Unidas contra la Droga y el Delito (UNODC) para los asuntos de Lucha contra el Terrorismo, Seguridad, Lucha contra el Narcotráfico, Lavado de Dinero, tráfico de armas, Lucha contra la Corrupción, Delincuencia Organizada Transnacional y conexo.
            li.pb-5
              h4 2008 - 2011
              p Embajador Extraordinario y Plenipotenciario de la República del Paraguay ante la Federación de Rusia. Concurrente igualmente con los siguientes países: Armenia, Azerbaiyán, Bielorrusia, Kazajistán y Uzbekistán.
            li.pb-5
              h4 2008 - 2009
              p Decano del Grupo de Países de Latinoamérica y del Caribe GRULAC en Moscú.
            li.pb-5
              h4 2004 a 2005
              p Viceministro de Administración y Asuntos Técnicos. Cancillería Nacional. 
            li.pb-5
              h4 2003
              p Director General de Gabinete. Cancillería Nacional. Promovido al rango de Embajador. 
            li.pb-5
              h4 2003
              p Ministro de la Embajada del Paraguay ante los Estados Unidos de América. Encargado de Negocios.
            li.pb-5
              h4 1999
              p Ministro de la Embajada del Paraguay en Alemania.
            li.pb-5
              h4 1997
              p Ministro Encargado de Negocios, con Cartas de Gabinete, Embajada de la República del Paraguay en Federación de Rusia
            li.pb-5
              h4 Director del Departamento de Política - Ministerio de Relaciones Exteriores.
              p Director del Departamento de Política - Ministerio de Relaciones Exteriores.
            li.pb-5
              h4 1991- 1993
              p Representante Interino. Encargado de Negocios a.i. de la Misión Permanente del Paraguay ante la Organización de los Estados Americanos OEA. Habiendo depositado en dicho carácter el instrumento por medio del cual el Gobierno paraguayo aceptó la competencia de la Corte Interamericana de Derechos Humanos.
            li.pb-5
              h4 1988 – 1990
              p Representante Alterno del Paraguay ante la Organización de los Estados Americanos OEA.
            li.pb-5
              h4 1986
              p Primer Secretario de la Embajada del Paraguay en los Estados Unidos de América.
            li.pb-5
              h4 1980
              p Segundo Secretario en la Embajada del Paraguay en los Estados Unidos de América.
            li.pb-5
              h4 1979
              p Representante Alterno del Paraguay ante la Organización de los Estados Americanos OEA. 
                
              
        h4.mb-4 IDIOMAS
        ul
          li.pb-3 Castellano
          li.pb-3 Guaraní
          li.pb-3 Inglés
          li.pb-3 Portugués
          li.pb-3 Ruso (Básico)


        
      include components/footer
      //- include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
