doctype html
html
  head
    title demo
    link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Work+Sans:300,700,800%7COswald:300,400,500')
    link(rel='stylesheet', href='http://tones-design.com/pr2/css/bootstrap.css')
    link(rel='stylesheet', href='http://tones-design.com/pr2/css/fonts.css')
    link(rel='stylesheet', href='http://tones-design.com/pr2/css/style.css')
  body
    include components/header
    include components/masonry
    include components/HomeBanner.pug
    include components/news
    include components/welcome_bar.pug
    include components/google_map
    include components/footer
    // Javascript
    script(src='http://tones-design.com/pr2/js/core.min.js')
    script(src='http://tones-design.com/pr2/js/script.js')
    script new WOW().init();
