doctype html
html
  include components/head
  body
    include components/header
    include components/HomeBanner.pug
    include components/masonry
    include components/welcome_bar
    include components/news
    include components/google_map
    include components/footer
    include components/preload
    include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
