doctype html
html
  include components/head
  body.front
    #page(style="overflow: hidden;")
      header.section.page-header
        .container
          include components/header_top
          include components/menu
      include components/HomeBanner
      include components/weather
      include components/masonry
      include components/welcome_bar
      include components/news
      include components/google_map
      include components/footer
      // include components/preload
      include components/backtotop
    // Javascript
    script(src='./js/core.min.js')
    script(src='./js/script.js')
    script new WOW().init();
