doctype html
html
  include components/head
  body
    include components/header
    include components/HomeBanner.pug
    include components/masonry
    include components/welcome_bar
    include components/news
    include components/google_map
    include components/footer
    // Javascript
    script(src='http://tones-design.com/pr2/js/core.min.js')
    script(src='http://tones-design.com/pr2/js/script.js')
    script new WOW().init();
