footer.section.footer-standard.bg-gray-700
  .footer-standard-main
    .container
      .row.row-50
        .col-lg-4
          .inset-right-1
            h4 CONTACTO
            ul.list-sm
              li.object-inline
                i.fas.fa-map-marker-alt.fa-lg.text-gray-700
                a.link-default(href='#')
                  | 7th. Floor No. 9-1 Lane 62 Tien Mu
                  br
                  | West Rd. Taipei, Taiwan
              li.object-inline
                i.fas.fa-phone.fa-lg.text-gray-700(data-fa-transform='flip-h')
                a.link-default(href='tel:#') (02) 2873-6310    2873-6311
              li.object-inline
                .fas.fa-envelope.fa-lg.text-gray-700
                a.link-default(href='mailto:#') embapartaiwan@embapartwroc.com.tw
        .col-sm-6.col-md-5.col-lg-4
          h4 TELEFONO DE EMERGENCIA
          ul.list-sm
            li.object-inline
              i.fas.fa-phone.fa-lg.text-gray-700(data-fa-transform='flip-h')
              a.link-default(href='tel:#')  (+886) 928-391-360
            p <span>*</span>Este número es sólo para casos de emergencia.
        .col-sm-6.col-md-7.col-lg-4
          h4 TRANSPORTE PÚBLICO
          ol
            li Estación de Metro más cercana: Shipai, LíneaDanshui (roja).
            li Se puede tomar taxi o bus al salir de la estación Shipai (aprox. 10 mins.)
            li Para tomar bus: Saliendo de la estación MRT girar hacia la derecha, delante de KFC hay paradas de buses. Los buses que llegan son: Red 12 (紅12)、 Red 19 (紅19)、645 Se baja en la parada Zhengxing Park (una parada después del Hospital Veterano) o en la parada Qixian Mainsion.
 
  .container
    .footer-standard-aside
      div.img_wrapper
        .imgs
          img(src='./images/balagui.png', alt='')
          img(src='./images/republic_of_china.png', alt='')
        div Embajada de la República del Paraguay en la República de China (Taiwán)
      .copyright © 2018 Todos los derechos reservados. Términos de uso y política de privacidad
      .other_words Imagen provista por SENATUR
