footer.section.footer-standard.bg-gray-700
  .footer-standard-main
    .container
      .row.row-50
        .col-lg-4
          .inset-right-1
            h4 CONTACT
            ul.list-sm
              li.object-inline
                i.fas.fa-map-marker-alt.fa-lg.text-gray-700
                a.link-default(href='#')
                  | 7th. Floor No. 9-1 Lane 62 Tien Mu
                  br
                  | West Rd. Taipei, Taiwan
              li.object-inline
                i.fas.fa-phone.fa-lg.text-gray-700(data-fa-transform='flip-h')
                a.link-default(href='tel:#') (02) 2873-6310    2873-6311
              li.object-inline
                .fas.fa-envelope.fa-lg.text-gray-700
                a.link-default(href='mailto:#') embapartaiwan@embapartwroc.com.tw
        .col-sm-6.col-md-5.col-lg-4
          .box-1
            h4 Emergency Telephone Numbe
            ul.list-sm
              li.object-inline
                i.fas.fa-phone.fa-lg.text-gray-700(data-fa-transform='flip-h')
                a.link-default(href='tel:#')  (+886) 928-391-360
              p *This number is only for emergency cases.
        .col-sm-6.col-md-7.col-lg-4
          h4 大眾交通
          | 1.最近捷運站：石牌，淡水線 (紅)
          br
          | 2.出捷運站可轉搭公車或搭乘計程車 (約十分鐘車程)
          br
          | 3.轉公車：出捷運站右轉，於肯德基前的公車站牌搭乘：紅12, 紅19, 645
          br
          | 4.於齊賢華廈站下車 (榮總下一站)
  .container
    .footer-standard-aside
      a.brand(href='index.html')
        img(src='./images/logo-light-141x21.png', alt='', width='141', height='21', srcset='images/logo-light-281x45.png 2x')
      // Rights
      p.rights
        span © 
        span.copyright-year
        span  
        span All Rights Reserved.
        span  
        br.d-sm-none
        a(href='#') Terms of Use
        span  and
        span  
        a(href='privacy-policy.html') Privacy Policy
      p Picture provided by SENATUR
