footer.section.footer-standard.bg-gray-700
  .footer-standard-main
    .container
      .row.row-50
        .col-lg-4
          .inset-right-1
            h4 聯絡我們
            ul.list-sm
              li.object-inline
                i.fas.fa-map-marker-alt.fa-lg.text-gray-700
                a.link-default(href='#')
                  | 台北市天母西路62巷9-1號7樓
              li.object-inline
                i.fas.fa-phone.fa-lg.text-gray-700(data-fa-transform='flip-h')
                a.link-default(href='tel:(02) 2873-6310') (02) 2873-6310 2873-6311
              li.object-inline
                .fas.fa-envelope.fa-lg.text-gray-700
                a.link-default(href='mailto:embapartaiwan@embapartwroc.com.tw') embapartaiwan@embapartwroc.com.tw
        .col-sm-6.col-md-5.col-lg-4
          h4 緊急電話
          ul.list-sm
            li.object-inline
              i.fas.fa-phone.fa-lg.text-gray-700(data-fa-transform='flip-h')
              a.link-default(href='tel:(+886) 928-391-360')  (+886) 928-391-360
            p <span>*</span>此號碼僅用於緊急情況
        .col-sm-6.col-md-7.col-lg-4
          h4 公共交通
          ol
            li.mb-2 最近捷運站：石牌，淡水線 (紅)
            li.mb-2 出捷運站可轉搭公車或搭乘計程車 (約十分鐘車程)
            li.mb-2 轉公車：出捷運站右轉，於肯德基前的公車站牌搭乘：紅12, 紅19, 645
            li.mb-2 於振興公園 (榮總下一站) 或齊賢華廈下車
 
  .container
    .footer-standard-aside
      div.img_wrapper
        .imgs
          img(src='./images/balagui.png', alt='')
          img(src='./images/republic_of_china.png', alt='')
        div 巴拉圭駐中華民國大使館
      .copyright 
        div 圖片由SENATUR提供。本網站內容享有著作權，禁止侵害，違者必究。 
        div 本網站由晶綵設計有限公司創設。©2018 Corporation All Rights Reserved. 
