.header_top.row.mb-3
    .col-sm-6.logo
      img.img-responsive(src="images/header_logo.png")
    .col-sm-4.col-sm-offset-2
      ul.header_top_menu_list
        li.header_top_menu_item
          a(href="") Español
        span /
        li.header_top_menu_item
          a(href="") 中文
        span /
        li.header_top_menu_item
          a(href="") English
