// Overlapping Screen
section.section.bg-gray-100(style='background-image: url(./images/index01.jpg); background-size: cover; min-height: 300px;')
 img(src="./images/index01.jpg" style="visibility:hidden;")
//- section
//-   div(style="width: 100%;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e00000+0,f9f9f9+50,0200a8+100 */\
//-   background: rgb(224,0,0); /* Old browsers */\
//-   background: -moz-linear-gradient(left, rgba(224,0,0,1) 0%, rgba(249,249,249,1) 50%, rgba(2,0,168,1) 100%); /* FF3.6-15 */\
//-   background: -webkit-linear-gradient(left, rgba(224,0,0,1) 0%,rgba(249,249,249,1) 50%,rgba(2,0,168,1) 100%); /* Chrome10-25,Safari5.1-6 */\
//-   background: linear-gradient(to right, rgba(224,0,0,1) 0%,rgba(249,249,249,1) 50%,rgba(2,0,168,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */\
//-   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e00000', endColorstr='#0200a8',GradientType=1 ); /* IE6-9 */; height: 50px")
