section.section.text-center.paraguay
  .container
    h3.wow-outer
      span.wow.slideInUp(style='visibility: visible; animation-name: slideInUp;') 巴拉圭 

section.section.isotope_wrap
  .container
    .isotope.isotope-condensed.row(data-isotope-layout='masonry')
      .col-12.col-sm-6.col-lg-4.isotope-item.wow-outer
        // Thumbnail Classic
        a.thumbnail-classic.thumbnail-classic-lg.wow.slideInDown(href='./01-direccion.html')
          img.thumbnail-classic-image(src='images/pic01.jpg', alt='', width='390', height='576')
          .thumbnail-classic-caption
            p.thumbnail-classic-title 聯絡地址
            p.thumbnail-classic-text 
          .thumbnail-classic-dummy
      .col-12.col-sm-6.col-lg-4.isotope-item.wow-outer
        // Thumbnail Classic
        a.thumbnail-classic.wow.slideInDown(href='./03-cuerpos.html')
          img.thumbnail-classic-image(src='images/pic04.jpg', alt='', width='390', height='288')
          .thumbnail-classic-caption
            p.thumbnail-classic-title 旅遊
          .thumbnail-classic-dummy
      .col-12.col-sm-6.col-lg-4.isotope-item.wow-outer
        // Thumbnail Classic
        a.thumbnail-classic.thumbnail-classic-lg.wow.slideInUp(href='./05-area_consular.html')
          img.thumbnail-classic-image(src='images/pic02.jpg', alt='', width='390', height='576')
          .thumbnail-classic-caption
            p.thumbnail-classic-title 領事事務
            p.thumbnail-classic-text 
          .thumbnail-classic-dummy
      .col-12.col-sm-6.col-lg-4.isotope-item.wow-outer
        // Thumbnail Classic
        a.thumbnail-classic.thumbnail-classic-lg.wow.slideInUp(href='./03-indicadores_economicos.html')
          img.thumbnail-classic-image(src='images/pic03.jpg', alt='', width='390', height='576')
          .thumbnail-classic-caption
            p.thumbnail-classic-title 經濟指數
          .thumbnail-classic-dummy
      .col-12.col-sm-6.col-lg-4.isotope-item.wow-outer
        // Thumbnail Classic
        a.thumbnail-classic.wow.slideInDown(href='./02-geografia.html')
          img.thumbnail-classic-image(src='images/pic05.jpg', alt='', width='390', height='288')
          .thumbnail-classic-caption
            p.thumbnail-classic-title 地理資訊
            p.thumbnail-classic-text 
          .thumbnail-classic-dummy
      .col-12.col-sm-6.col-lg-4.isotope-item.wow-outer
        // Thumbnail Classic
        a.thumbnail-classic.wow.slideInDown(href='./06-breve_resena.html')
          img.thumbnail-classic-image(src='images/pic06.jpg', alt='', width='390', height='288')
          .thumbnail-classic-caption
            p.thumbnail-classic-title 沿革
            p.thumbnail-classic-text 
          .thumbnail-classic-dummy
