.rd-navbar-wrap
  nav.rd-navbar.rd-navbar-minimal(data-layout='rd-navbar-fixed', data-sm-layout='rd-navbar-fixed', data-md-layout='rd-navbar-fixed', data-md-device-layout='rd-navbar-fixed', data-lg-layout='rd-navbar-static', data-lg-device-layout='rd-navbar-fixed', data-xl-layout='rd-navbar-static', data-xl-device-layout='rd-navbar-fixed', data-lg-stick-up-offset='46px', data-xl-stick-up-offset='46px', data-xxl-stick-up-offset='46px', data-lg-stick-up='true', data-xl-stick-up='true', data-xxl-stick-up='true')
    div
      .rd-navbar-main.d-block
        // RD Navbar Panel
        .rd-navbar-panel.hidden-md
          // RD Navbar Toggle
          button.rd-navbar-toggle(data-rd-navbar-toggle='#rd-navbar-nav-wrap-1')
            span
          // RD Navbar Brand
          a.rd-navbar-brand(href='index.html')
            img(src='./images/logo-default-281x45.png', alt='', width='141', height='21', srcset='./images/logo-default-281x45.png 2x')
          ul.header_top_menu_list
            li.header_top_menu_item
              a(href="https://embapartwroc.com.tw/") Español
            span /
            li.header_top_menu_item
              a(href="https://zh.embapartwroc.com.tw/") 中文
            span /
            li.header_top_menu_item
              a(href="https://en.embapartwroc.com.tw/") English
        .rd-navbar-main-element.d-block
          #rd-navbar-nav-wrap-1.rd-navbar-nav-wrap
            // RD Navbar Nav
            ul.rd-navbar-nav.d-lg-flex.justify-content-between.align-items-end
              li.rd-nav-item
                a.rd-nav-link(href='#')
                  | EMBASSY
                  br
                  | OF PARAGUAY
                // RD Navbar Megamenu
                ul.rd-menu.rd-navbar-megamenu
                  li.rd-megamenu-item
                    .banner(style='background-image: url(images/banner.jpg);')
                  li.rd-megamenu-item
                    ul.rd-megamenu-list
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./01-direccion.html') ADDRESS
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./01-service_time.html') OPEN TO THE PUBLIC
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./01-staff.html') DIPLOMATIC AND ADMINISTRATIVE OFFICERS
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./01-embassy_mision.html') HEAD OF MISSION
              li.rd-nav-item
                a.rd-nav-link(href='#')
                  | INFORMATION
                  br
                  | GENERAL
                // RD Navbar Megamenu
                ul.rd-menu.rd-navbar-megamenu
                  li.rd-megamenu-item
                    .banner(style='background-image: url(images/banner2.jpg);')
                  li.rd-megamenu-item
                    ul.rd-megamenu-list
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./02-geografia.html') 簡介
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./02-historia.html') 	歷史
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./02-organizacion_politica.html') 政治組織
                  li.rd-megamenu-item
                    ul.rd-megamenu-list
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./02-cultura.html') 	文化
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./02-economia.html') 經濟
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./02-other_links.html') 相關連結
              li.rd-nav-item
                a.rd-nav-link(href='#')
                  | INVESTMENTS
                // RD Navbar Megamenu
                ul.rd-menu.rd-navbar-megamenu
                  li.rd-megamenu-item
                    .banner(style='background-image: url(./images/banner4.jpg);')
                  li.rd-megamenu-item
                    ul.rd-megamenu-list
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./03-indicadores_economicos.html') 經濟指數
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./03-inversion.html') 商業投資
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./03-comercio_bilateral.html') 雙邊貿易
                        li.rd-megamenu-list-item
                            a.rd-megamenu-list-link(href='./03-incentivos_fiscales.html') 投資貿易法規
                    li.rd-megamenu-item
                        ul.rd-megamenu-list
                          li.rd-megamenu-list-item
                            a.rd-megamenu-list-link(href='./03-Acuerdo_de_Cooperacion_Economica.html') 經濟合作協議
              li.rd-nav-item
                a.rd-nav-link(href='./03-cuerpos.html') TOURISM
                // RD Navbar Megamenu
              li.rd-nav-item
                a.rd-nav-link(href='#')
                  | CONSULAR
                  br
                  | SECTION
                // RD Navbar Megamenu
                ul.rd-menu.rd-navbar-megamenu
                  li.rd-megamenu-item
                    .banner(style='background-image: url(./images/banner3.jpg);')
                  li.rd-megamenu-item
                    ul.rd-megamenu-list
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./05-area_consular.html') 領事事務
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./05-consul_visa.html') 簽證
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./05-la_expendicion.html') 護照
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./05-salvoconducto.html') 通行證
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./05-pasaporte_emergencia.html') 緊急護照
                  li.rd-megamenu-item
                    ul.rd-megamenu-list
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='http://embapartwroc.com.tw/05-repatriaci%C3%B3n.html')  歸國
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./05-legalizaciones.html') 文件認證
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./05-aranceles_consulares.html') 領事關稅表
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./05-migración.html') 移民
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./05-inscripcion_en_los_libros_de_nacimiento.html') 出生登記
              
              
              li.rd-nav-item
                a.rd-nav-link(href='#')
                  | RELATIONS
                  br
                  | DIPLOMATIC
                // RD Navbar Megamenu
                ul.rd-menu.rd-navbar-megamenu
                  li.rd-megamenu-item
                    .banner(style='background-image: url(images/banner3.jpg);')
                  li.rd-megamenu-item
                    ul.rd-megamenu-list
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./06-breve_resena.html') 沿革
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./06-convenios_bilaterales.html') 雙邊協定
              li.rd-nav-item
                a.rd-nav-link(href='./07-noticias.html') NEWS
          // RD Navbar Search
          #rd-navbar-search-1.rd-navbar-search.d-none
            button.rd-navbar-search-toggle.rd-navbar-fixed-element-2(data-rd-navbar-toggle='#rd-navbar-search-1')
              span
            form.rd-search(action='search-results.html', data-search-live='rd-search-results-live-1', method='GET')
              .form-wrap
                label.form-label(for='rd-navbar-search-form-input-1') search...
                input#rd-navbar-search-form-input-1.form-input.rd-navbar-search-form-input(type='text', name='s', autocomplete='off')
                #rd-search-results-live-1.rd-search-results-live
              button.rd-search-form-submit.fa-search(type='submit')
