.rd-navbar-wrap
  nav.rd-navbar.rd-navbar-minimal(data-layout='rd-navbar-fixed', data-sm-layout='rd-navbar-fixed', data-md-layout='rd-navbar-fixed', data-md-device-layout='rd-navbar-fixed', data-lg-layout='rd-navbar-static', data-lg-device-layout='rd-navbar-fixed', data-xl-layout='rd-navbar-static', data-xl-device-layout='rd-navbar-fixed', data-lg-stick-up-offset='46px', data-xl-stick-up-offset='46px', data-xxl-stick-up-offset='46px', data-lg-stick-up='true', data-xl-stick-up='true', data-xxl-stick-up='true')
    div
      .rd-navbar-main.d-block
        // RD Navbar Panel
        .rd-navbar-panel.hidden-md
          // RD Navbar Toggle
          button.rd-navbar-toggle(data-rd-navbar-toggle='#rd-navbar-nav-wrap-1')
            span
          // RD Navbar Brand
          a.rd-navbar-brand(href='index.html')
            img(src='./images/logo-default-281x45.png', alt='', width='141', height='21', srcset='./images/logo-default-281x45.png 2x')
          ul.header_top_menu_list
            li.header_top_menu_item
              a(href="") Español
            span /
            li.header_top_menu_item
              a(href="") 中文
            span /
            li.header_top_menu_item
              a(href="") English
        .rd-navbar-main-element.d-block
          #rd-navbar-nav-wrap-1.rd-navbar-nav-wrap
            // RD Navbar Nav
            ul.rd-navbar-nav.d-lg-flex.justify-content-between.align-items-end
              li.rd-nav-item
                a.rd-nav-link(href='#')
                  | EMBAJADA
                  br
                  | DEL PARAGUAY
                // RD Navbar Megamenu
                ul.rd-menu.rd-navbar-megamenu
                  li.rd-megamenu-item
                    .banner(style='background-image: url(images/banner.jpg);')
                      a.button.button-sm.button-primary.button-winona(href='#get-template')
                        | Embajada de
                        br
                        | Paraguay
                  li.rd-megamenu-item
                    ul.rd-megamenu-list
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./01-direccion.html') DIRECCIÓN
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./01-service_time.html') ATENCIÓN AL PÚBLICO
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./01-staff.html') PERSONAL
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./01-embassy_mision.html') JEFE DE MISION
              li.rd-nav-item
                a.rd-nav-link(href='#')
                  | INFORMACION
                  br
                  | GENERAL 
                // RD Navbar Megamenu
                ul.rd-menu.rd-navbar-megamenu
                  li.rd-megamenu-item
                    .banner(style='background-image: url(images/banner2.jpg);')
                      a.button.button-sm.button-primary.button-winona(href='major_2.html') 	General
                  li.rd-megamenu-item
                    ul.rd-megamenu-list
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./02-geografia.html') GEOGRAFÍA
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./02-historia.html') 	HISTORIA
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./02-organizacion_politica.html') ORGANIZACIÓN POLÍTICA
                  li.rd-megamenu-item
                    ul.rd-megamenu-list
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./02-cultura.html') 	CULTURA
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./02-economia.html') ECONOMÍA
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./02-other_links.html') ENLACES
              li.rd-nav-item
                a.rd-nav-link(href='#')
                  | COMERCIO
                // RD Navbar Megamenu
                ul.rd-menu.rd-navbar-megamenu
                  li.rd-megamenu-item
                    .banner(style='background-image: url(./images/banner4.jpg);')
                      a.button.button-sm.button-primary.button-winona(href='major_3.html') INVERSIÓNES · COMERCIO
                  li.rd-megamenu-item
                    ul.rd-megamenu-list
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./03-indicadores_economicos.html') INDICADORES ECONÓMICOS
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./03-inversion.html') INVERSIONES
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./03-comercio_bilateral.html') COMERCIO BILATERAL
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./03-incentivos_fiscales.html') INCENTIVOS FISCALES
                  li.rd-megamenu-item
                    ul.rd-megamenu-list
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./03-leyes_y_decretos_de_promocionL_de_inversiones.html') LEYES Y DECRETOS
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./03-Acuerdo_de_Cooperacion_Economica.html') Acuerdo de Cooperación Económica
              li.rd-nav-item
                a.rd-nav-link(href='./03-cuerpos.html') TURISMO
                // RD Navbar Megamenu
              li.rd-nav-item
                a.rd-nav-link(href='#')
                  | ASUNTOS
                  br
                  | CONSULARES
                // RD Navbar Megamenu
                ul.rd-menu.rd-navbar-megamenu
                  li.rd-megamenu-item
                    .banner(style='background-image: url(./images/banner3.jpg);')
                      a.button.button-sm.button-primary.button-winona(href='#get-template') Asuntos Consulares
                  li.rd-megamenu-item
                    ul.rd-megamenu-list
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./05-area_consular.html') AREA CONSULAR
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./05-consul_visa.html') VISAS
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./05-la_expendicion.html') PASAPORTE
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./05-salvoconducto.html') PASAPORTE PROVISORIO
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./05-pasaporte_emergencia.html') PASAPORTE DE EMERGENCIA
                  li.rd-megamenu-item
                    ul.rd-megamenu-list
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./05-repatriación.html')  REPATRIACIÓN
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./05-legalizaciones.html') LEGALIZACIÓN
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./05-aranceles_consulares.html') ARANCELES CONSULARES
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./05-migración.html') MIGRACIÓN
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./05-inscripcion_en_los_libros_de_nacimiento.html') INSCRIPCION
              
              
              li.rd-nav-item
                a.rd-nav-link(href='#')
                  | RELACIONES
                  br
                  | DIPLOMATICAS
                // RD Navbar Megamenu
                ul.rd-menu.rd-navbar-megamenu
                  li.rd-megamenu-item
                    .banner(style='background-image: url(images/banner3.jpg);')
                      a.button.button-sm.button-primary.button-winona(href='major_3.html') INVERSIONES · COMERCIO
                  li.rd-megamenu-item
                    ul.rd-megamenu-list
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./06-breve_resena.html') BREVE RESEÑA
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./06-convenios_bilaterales.html') CONVENIOS BILATERALES
              li.rd-nav-item
                a.rd-nav-link(href='./07-noticias.html') NOTICIAS
          // RD Navbar Search
          #rd-navbar-search-1.rd-navbar-search.d-none
            button.rd-navbar-search-toggle.rd-navbar-fixed-element-2(data-rd-navbar-toggle='#rd-navbar-search-1')
              span
            form.rd-search(action='search-results.html', data-search-live='rd-search-results-live-1', method='GET')
              .form-wrap
                label.form-label(for='rd-navbar-search-form-input-1') search...
                input#rd-navbar-search-form-input-1.form-input.rd-navbar-search-form-input(type='text', name='s', autocomplete='off')
                #rd-search-results-live-1.rd-search-results-live
              button.rd-search-form-submit.fa-search(type='submit')
