.rd-navbar-wrap
  nav.rd-navbar.rd-navbar-minimal(data-layout='rd-navbar-fixed', data-sm-layout='rd-navbar-fixed', data-md-layout='rd-navbar-fixed', data-md-device-layout='rd-navbar-fixed', data-lg-layout='rd-navbar-static', data-lg-device-layout='rd-navbar-fixed', data-xl-layout='rd-navbar-static', data-xl-device-layout='rd-navbar-fixed', data-lg-stick-up-offset='46px', data-xl-stick-up-offset='46px', data-xxl-stick-up-offset='46px', data-lg-stick-up='true', data-xl-stick-up='true', data-xxl-stick-up='true')
    div
      .rd-navbar-main.d-block
        // RD Navbar Panel
        .rd-navbar-panel.hidden-md
          // RD Navbar Toggle
          button.rd-navbar-toggle(data-rd-navbar-toggle='#rd-navbar-nav-wrap-1')
            span
          // RD Navbar Brand
          a.rd-navbar-brand(href='index.html')
            img(src='images/logo-default-281x45.png', alt='', width='141', height='21', srcset='images/logo-default-281x45.png 2x')
          ul.header_top_menu_list
            li.header_top_menu_item
              a(href="") Español
            span /
            li.header_top_menu_item
              a(href="") 中文
            span /
            li.header_top_menu_item
              a(href="") English
        .rd-navbar-main-element.d-block
          #rd-navbar-nav-wrap-1.rd-navbar-nav-wrap
            // RD Navbar Nav
            ul.rd-navbar-nav.d-lg-flex.justify-content-between.align-items-end
              li.rd-nav-item
                a.rd-nav-link(href='#')
                  | EMBAJADA
                  br
                  | DEL PARAGUAY
                // RD Navbar Megamenu
                ul.rd-menu.rd-navbar-megamenu
                  li.rd-megamenu-item
                    .banner(style='background-image: url(images/banner.jpg);')
                      a.button.button-sm.button-primary.button-winona(href='#get-template')
                        | Embajada de
                        br
                        | Paraguay
                  li.rd-megamenu-item
                    ul.rd-megamenu-list
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./01-direccion.html') DIRECCIÓN
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./01-service_time.html') ABIERTO AL PÚBLICO
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./01-staff.html') PERSONAL
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./01-embassy_mision.html') CABEZA DE LA MISIÓN

              li.rd-nav-item
                a.rd-nav-link(href='#')
                  | INFORMACION
                  br
                  | GENERAL 
                // RD Navbar Megamenu
                ul.rd-menu.rd-navbar-megamenu
                  li.rd-megamenu-item
                    .banner(style='background-image: url(images/banner2.jpg);')
                      a.button.button-sm.button-primary.button-winona(href='major_2.html') 	General
                  li.rd-megamenu-item
                    ul.rd-megamenu-list
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./02-geografia.html') | GEOGRÁFICO
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./02-historia.html') 	HISTÓRICO
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./02-organizacion_politica.html') | ORGANIZACIÓN POLÍTICA
                  li.rd-megamenu-item
                    ul.rd-megamenu-list
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./02-cultura.html') 	CULTURA
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./02-economia.html') ECONOMÍA
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./02-other_links.html') CAMPO DE GOLF
              li.rd-nav-item
                a.rd-nav-link(href='#')
                  | COMERCIALES
                // RD Navbar Megamenu
                ul.rd-menu.rd-navbar-megamenu
                  li.rd-megamenu-item
                    .banner(style='background-image: url(images/banner4.jpg);')
                      a.button.button-sm.button-primary.button-winona(href='major_3.html') Inversiones · Comercio
                  li.rd-megamenu-item
                    ul.rd-megamenu-list
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./03-indicadores_economicos.html') INDICADORES ECONÓMICOS
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./03-inversion.html') | INVERSIONES
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./03-comercio_bilateral.html') COMERCIO
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./03-incentivos_fiscales.html') OPORTUNIDADES DE INVERSIÓN EN LA REPÚBLICA DE PARAGUAY
                  li.rd-megamenu-item
                    ul.rd-megamenu-list
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./03-cuerpos.html') CUERPOS ESPAÑOL
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='#') | INVERSIONES
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='#') COMERCIO
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='#') OPORTUNIDADES DE INVERSIÓN EN LA REPÚBLICA DE PARAGUAY
                   
                
              li.rd-nav-item
                a.rd-nav-link(href='./04-turismo.html') TURISMO
                // RD Navbar Megamenu
              li.rd-nav-item
                a.rd-nav-link(href='#')
                  | ASUNTOS
                  br
                  | CONSULARES
                // RD Navbar Megamenu
                ul.rd-menu.rd-navbar-megamenu
                  li.rd-megamenu-item
                    .banner(style='background-image: url(images/banner3.jpg);')
                      a.button.button-sm.button-primary.button-winona(href='#get-template') Asuntos Consulares
                  li.rd-megamenu-item
                    ul.rd-megamenu-list
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='#') PASAPORTES
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='#')
                          | VISAS
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='#') DOCUMENTOS DE VIAJE
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='#') REPATRIACIÓN
                  li.rd-megamenu-item
                    ul.rd-megamenu-list
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='#') LEGALIZACIÓN
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='#') TARIFAS
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='#') INMIGRACIÓN
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='#')
                          | Inscripción en los libros de nacimiento              
              
              li.rd-nav-item
                a.rd-nav-link(href='#')
                  | RELACIONES
                  br
                  | DIPLOMATICAS
                // RD Navbar Megamenu
                ul.rd-menu.rd-navbar-megamenu
                  li.rd-megamenu-item
                    .banner(style='background-image: url(images/banner3.jpg);')
                      a.button.button-sm.button-primary.button-winona(href='major_3.html') Inversiones · Comercio
                  li.rd-megamenu-item
                    ul.rd-megamenu-list
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./06-breve_resena.html') Breve Reseña
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./06-exportacion.html') Exportación
                      li.rd-megamenu-list-item
                        a.rd-megamenu-list-link(href='./06-convenios_bilaterales.html') Convenios Bilaterales
              li.rd-nav-item
                a.rd-nav-link(href='./07-noticias.html') NOTICIAS
          // RD Navbar Search
          #rd-navbar-search-1.rd-navbar-search.d-none
            button.rd-navbar-search-toggle.rd-navbar-fixed-element-2(data-rd-navbar-toggle='#rd-navbar-search-1')
              span
            form.rd-search(action='search-results.html', data-search-live='rd-search-results-live-1', method='GET')
              .form-wrap
                label.form-label(for='rd-navbar-search-form-input-1') search...
                input#rd-navbar-search-form-input-1.form-input.rd-navbar-search-form-input(type='text', name='s', autocomplete='off')
                #rd-search-results-live-1.rd-search-results-live
              button.rd-search-form-submit.fa-search(type='submit')
