section.section.section-lg.bg-gray-100.text-center.news_block
    .container
        h3.wow-outer
            span.wow.slideInDown 新聞
        .row.row-50
            .col-sm-6.col-lg-4.wow-outer
                article.post-classic.wow.slideInLeft
                    a.post-classic-media(href="./07-noticias.html")
                        img(src="./images/news01.jpg", alt="", srcset="")
                    ul.post-classic-meta
                        li
                            a.button-winona(href="#") 最新消息
                        li
                            time(datatime="2018")  2018-04-21  12:05 pm
                    h4.post-classic-title
                        a(href="./07-noticias.html") 巴拉圭共和國駐華大使館通知，巴拉圭共和國外交部與智利共和國外交部於2016年08月21日，簽訂領事援助合作。
            .col-sm-6.col-lg-4.wow-outer
                article.post-classic.wow.slideInLeft
                    a.post-classic-media(href="./07-noticias.html")
                        img(src="./images/news03.jpg", alt="", srcset="")
                    ul.post-classic-meta
                        li
                            a.button-winona(href="#") 最新消息
                        li
                            time(datatime="2018") 2018-04-21  12:05 pm
                    h4.post-classic-title
                        a(href="./07-noticias.html") 第三十六屆國際畜牧業，農業，商業暨服務業國際展覽會，第七十二屆全國家畜展覽會以及國際商業網絡會。
            .col-sm-6.col-lg-4.wow-outer
                article.post-classic.wow.slideInLeft
                    a.post-classic-media(href="./07-noticias.html")
                        img(src="./images/news02.jpg", alt="", srcset="")
                    ul.post-classic-meta
                        li
                            a.button-winona(href="#") 最新消息
                        li
                            time(datatime="2018") 2018-04-21  12:05 pm
                    h4.post-classic-title
                        a(href="./07-noticias.html") 巴拉圭共和國駐中華民國大使館領事處公告，依巴拉圭共和國總統府-外交部2017年07月06號第7.423號總統令公布，「中華民國(台灣)有效之普通護照(至少六個月以上之效期)持有。
        .wow-outer.button-outer
            a.button.button-lg.button-primary.button-winona.wow.slideInUp(href="./07-noticias.html") 更多消息
