section.section.section-lg.bg-gray-100.text-center.news_block
    .container
        h3.wow-outer
            span.wow.slideInDown Noticias
        .row.row-50
            .col-sm-6.col-lg-4.wow-outer
                article.post-classic.wow.slideInLeft
                    a.post-classic-media(href="single-blog-post.html")
                        img(src="./images/news01.jpg", alt="", srcset="")
                    ul.post-classic-meta
                        li
                            a.button-winona(href="#") news
                        li
                            time(datatime="2018") Apr 21, 2018 at 12:05 pm
                    h4.post-classic-title
                        a(href="single-blog-post.html") La Embajada de la República del Paraguay en la República de China (Taiwán)
            .col-sm-6.col-lg-4.wow-outer
                article.post-classic.wow.slideInLeft
                    a.post-classic-media(href="single-blog-post.html")
                        img(src="./images/news03.jpg", alt="", srcset="")
                    ul.post-classic-meta
                        li
                            a.button-winona(href="#") news
                        li
                            time(datatime="2018") Apr 21, 2018 at 12:05 pm
                    h4.post-classic-title
                        a(href="single-blog-post.html") the 36th International Fair of Livestock, Industry, Agriculture, Commerce and Services, the 72th National Exhibition of Livestock and International Networking of Business
            .col-sm-6.col-lg-4.wow-outer
                article.post-classic.wow.slideInLeft
                    a.post-classic-media(href="single-blog-post.html")
                        img(src="./images/news02.jpg", alt="", srcset="")
                    ul.post-classic-meta
                        li
                            a.button-winona(href="#") news
                        li
                            time(datatime="2018") Apr 21, 2018 at 12:05 pm
                    h4.post-classic-title
                        a(href="single-blog-post.html") The Consular Section of the Embassy of the Republic of Paraguay in the Republic of China - Taiwan inform that regarding the Decree No. 7.423, date on July 06th, 2017 of the Presidency of the Republic of Paraguay, Ministry of For
        .wow-outer.button-outer
            a.button.button-lg.button-primary.button-winona.wow.slideInUp(href="grid-blog.html") More