ul.news_list.row

  li.post_item.col-md-6
    a.img_wrap(href="./07-noticias-node.html")
      img.img-responsive(src="images/news_1.png") 
    a.title(href="./07-noticias-node.html")
      h2 巴拉圭駐共和國
       br
       | 大使館

    div.date
      span 2018-04-21  12:05 pm
    p 巴拉圭駐中華民國大使館（台灣）高興地宣布，第36屆國際畜牧，工業，農業，貿易和服務博覽會，第72屆全國畜牧業和國際商業展覽會將於8日舉行。到今年7月23日，在巴拉圭的Mariano Roque Alonso。
  
  
  li.post_item.col-md-6
    a.img_wrap(href="./07-noticias-node.html")
      img.img-responsive(src="images/news_2.png") 
    a.title(href="./07-noticias-node.html")
      h2 巴拉圭駐共和國
       br
       | 大使館
    div.date
      span 2018-04-21  12:05 pm
    p 巴拉圭駐中華民國大使館（台灣）高興地宣布，第36屆國際畜牧，工業，農業，貿易和服務博覽會，第72屆全國畜牧業和國際商業展覽會將於8日舉行。到今年7月23日，在巴拉圭的Mariano Roque Alonso。
  
  li.post_item.col-md-6
    a.img_wrap(href="./07-noticias-node.html")
      img.img-responsive(src="images/news_3.png") 
    a.title(href="./07-noticias-node.html")
      h2 巴拉圭駐共和國
       br
       | 大使館
    div.date
      span 2018-04-21  12:05 pm
    p 巴拉圭駐中華民國大使館（台灣）高興地宣布，第36屆國際畜牧，工業，農業，貿易和服務博覽會，第72屆全國畜牧業和國際商業展覽會將於8日舉行。到今年7月23日，在巴拉圭的Mariano Roque Alonso。
  
  li.post_item.col-md-6
    a.img_wrap(href="./07-noticias-node.html")
      img.img-responsive(src="images/news_1.png") 
    a.title(href="./07-noticias-node.html")
      h2 巴拉圭駐共和國
       br
       | 大使館
    div.date
      span 2018-04-21  12:05 pm
    p 巴拉圭駐中華民國大使館（台灣）高興地宣布，第36屆國際畜牧，工業，農業，貿易和服務博覽會，第72屆全國畜牧業和國際商業展覽會將於8日舉行。到今年7月23日，在巴拉圭的Mariano Roque Alonso。
  
  
