section.section.section-lg.bg-gray-100.text-center
    .container
        h3.wow-outer
            span.wow.slideInDown NEWS
        .row.row-50
            .col-sm-6.col-lg-4.wow-outer
                article.post-classic.wow.slideInLeft
                    a.post-classic-media(href="single-blog-post.html")
                        img(src="./images/index/news01.jpg", alt="", srcset="")
                    ul.post-classic-meta
                        li
                            a.button-winona(href="#") news
                        li
                            time(datatime="2018") Apr 21, 2018 at 12:05 pm
                    h4.post-classic-title
                        a(href="single-blog-post.html") The Embassy of the Republic of the Paraguay in the Republic of China (Taiwan)
            .col-sm-6.col-lg-4.wow-outer
                article.post-classic.wow.slideInLeft
                    a.post-classic-media(href="single-blog-post.html")
                        img(src="./images/index/news01.jpg", alt="", srcset="")
                    ul.post-classic-meta
                        li
                            a.button-winona(href="#") news
                        li
                            time(datatime="2018") Apr 21, 2018 at 12:05 pm
                    h4.post-classic-title
                        a(href="single-blog-post.html") The Embassy of the Republic of the Paraguay in the Republic of China (Taiwan)
            .col-sm-6.col-lg-4.wow-outer
                article.post-classic.wow.slideInLeft
                    a.post-classic-media(href="single-blog-post.html")
                        img(src="./images/index/news01.jpg", alt="", srcset="")
                    ul.post-classic-meta
                        li
                            a.button-winona(href="#") news
                        li
                            time(datatime="2018") Apr 21, 2018 at 12:05 pm
                    h4.post-classic-title
                        a(href="single-blog-post.html") The Embassy of the Republic of the Paraguay in the Republic of China (Taiwan)
        .wow-outer.button-outer
            a.button.button-lg.button-primary.button-winona.wow.slideInUp(href="grid-blog.html") More