ul.news_list.row

  li.post_item.col-md-6
    a.img_wrap(href="./07-noticias-node.html")
      img.img-responsive(src="images/news_1.png") 
    a.title(href="./07-noticias-node.html")
      h2 What is Lorem Ipsum?
    div.date
      span Apr 21,2018 at 12:05 pm
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer euismod purus ac eros pellentesque, a dignissim turpis porttitor. Nullam massa mi, luctus in blandit a, laoreet at justo. Etiam nibh sapien, volutpat vitae mollis vitae, vehicula eget nibh. Phasellus consectetur gravida metus eget efficitur. Praesent luctus orci laoreet purus tincidunt vulputate. Integer consectetur augue ac massa auctor, vel luctus arcu sagittis. Fusce faucibus commodo leo sit amet ornare.
  
  
  li.post_item.col-md-6
    a.img_wrap(href="./07-noticias-node.html")
      img.img-responsive(src="images/news_2.png") 
    a.title(href="./07-noticias-node.html")
      h2 What is Lorem Ipsum?
    div.date
      span Apr 21,2018 at 12:05 pm
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer euismod purus ac eros pellentesque, a dignissim turpis porttitor. Nullam massa mi, luctus in blandit a, laoreet at justo. Etiam nibh sapien, volutpat vitae mollis vitae, vehicula eget nibh. Phasellus consectetur gravida metus eget efficitur. Praesent luctus orci laoreet purus tincidunt vulputate. Integer consectetur augue ac massa auctor, vel luctus arcu sagittis. Fusce faucibus commodo leo sit amet ornare.
  
  
  li.post_item.col-md-6
    a.img_wrap(href="./07-noticias-node.html")
      img.img-responsive(src="images/news_3.png") 
    a.title(href="./07-noticias-node.html")
      h2 What is Lorem Ipsum?
    div.date
      span Apr 21,2018 at 12:05 pm
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer euismod purus ac eros pellentesque, a dignissim turpis porttitor. Nullam massa mi, luctus in blandit a, laoreet at justo. Etiam nibh sapien, volutpat vitae mollis vitae, vehicula eget nibh. Phasellus consectetur gravida metus eget efficitur. Praesent luctus orci laoreet purus tincidunt vulputate. Integer consectetur augue ac massa auctor, vel luctus arcu sagittis. Fusce faucibus commodo leo sit amet ornare.
  
  
  li.post_item.col-md-6
    a.img_wrap(href="./07-noticias-node.html")
      img.img-responsive(src="images/news_1.png") 
    a.title(href="./07-noticias-node.html")
      h2 What is Lorem Ipsum?
    div.date
      span Apr 21,2018 at 12:05 pm
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer euismod purus ac eros pellentesque, a dignissim turpis porttitor. Nullam massa mi, luctus in blandit a, laoreet at justo. Etiam nibh sapien, volutpat vitae mollis vitae, vehicula eget nibh. Phasellus consectetur gravida metus eget efficitur. Praesent luctus orci laoreet purus tincidunt vulputate. Integer consectetur augue ac massa auctor, vel luctus arcu sagittis. Fusce faucibus commodo leo sit amet ornare.
  
  
  
