ul.news_list.row

  li.post_item.col-md-6
    a.img_wrap(href="./07-20180807_news.html")
      img.img-responsive(src="images/news_1.png") 
    a.title(href="./07-20180807_news.html")
      h2 The Embassy of Paraguay in the Republic

    div.date
      span Apr 21,2018 at 12:05 pm
    p The Paraguayan Embassy in the Republic of China (Taiwan) is pleased to announce that the 36th International Fair of Livestock, Industry, Agriculture, Trade and Services, the 72nd National Exhibition of Livestock and International Business EXPORUEDA will take place from 8 to July 23 of current year, in Mariano Roque Alonso, Paraguay.
  
  li.post_item.col-md-6
    a.img_wrap(href="./07-noticias-node.html")
      img.img-responsive(src="images/news_2.png") 
    a.title(href="./07-noticias-node.html")
      h2 The Embassy of Paraguay in the Republic
    div.date
      span Apr 21,2018 at 12:05 pm
    p The Paraguayan Embassy in the Republic of China (Taiwan) is pleased to announce that the 36th International Fair of Livestock, Industry, Agriculture, Trade and Services, the 72nd National Exhibition of Livestock and International Business EXPORUEDA will take place from 8 to July 23 of current year, in Mariano Roque Alonso, Paraguay.
  
  li.post_item.col-md-6
    a.img_wrap(href="./07-noticias-node.html")
      img.img-responsive(src="images/news_3.png") 
    a.title(href="./07-noticias-node.html")
      h2 The Embassy of Paraguay in the Republic
    div.date
      span Apr 21,2018 at 12:05 pm
    p The Paraguayan Embassy in the Republic of China (Taiwan) is pleased to announce that the 36th International Fair of Livestock, Industry, Agriculture, Trade and Services, the 72nd National Exhibition of Livestock and International Business EXPORUEDA will take place from 8 to July 23 of current year, in Mariano Roque Alonso, Paraguay.
  
  li.post_item.col-md-6
    a.img_wrap(href="./07-noticias-node.html")
      img.img-responsive(src="images/news_1.png") 
    a.title(href="./07-noticias-node.html")
      h2 The Embassy of Paraguay in the Republic
    div.date
      span Apr 21,2018 at 12:05 pm
    p The Paraguayan Embassy in the Republic of China (Taiwan) is pleased to announce that the 36th International Fair of Livestock, Industry, Agriculture, Trade and Services, the 72nd National Exhibition of Livestock and International Business EXPORUEDA will take place from 8 to July 23 of current year, in Mariano Roque Alonso, Paraguay.
  
  
