#preloader.preloader
  .preloader-logo
    img(src='./EMBASSY OF PARAGUAY_files/logo-default-141x21.png', alt='', width='141', height='21', srcset='images/logo-default-281x45.png 2x')
  .preloader-body
    #loadingProgressG
      #loadingProgressG_1.loadingProgressG
