section.section.section-xs.bg-primary-darker.text-center.welcome_bar_block
    .container
        .row.justify-content-center
            .col-sm-10.col-md-12
                .box-cta-thin
                    h4.wow-outer
                        span.wow.slideInRight
                            | Bienvenido a 
                            span.font-weight-bold LA EMBAJADA DEL PARAGUAY!
                            | !
                    .wow-outer.button-outer
                        a.button.button-primary.button-winona.wow.slideInLeft(href='pricing.html') Contáctenos
