section.section.section-xs.bg-primary-darker.text-center.welcome_bar_block
    .container
        .row.justify-content-center
            .col-sm-10.col-md-12
                .box-cta-thin
                    h4.wow-outer
                        span.wow.slideInRight
                            
                            span.font-weight-bold Welcome to THE EMBASSY OF THE REPUBLIC OF PARAGUAY!
                    .wow-outer.button-outer
                        a.button.button-primary.button-winona.wow.slideInLeft(href="mailto:embapartaiwan@embapartwroc.com.tw") CONTACT US
                    //- .wow-outer.button-outer
                    //-     a.button.button-primary.button-winona.wow.slideInLeft(href="mailto:taiwanembaparsc@mre.gov.py") CONTACTENOS CONSULARES
