mixin head(title="")
  head
      title= `PARAGUAY   ${title}`
      link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Work+Sans:300,700,800%7COswald:300,400,500')
      link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/icon?family=Material+Icons')
      link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
      link(rel='stylesheet', href='./css/app.css')
      link(rel="icon" type="image/png" href="./images/pa.png")
      script(type='text/javascript', src="./js/bundle.js")
      script(defer='', src='https://use.fontawesome.com/releases/v5.0.13/js/all.js', integrity='sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe', crossorigin='anonymous')
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
