footer
    font-size: 17px
    white-space: normal
    .footer-standard-main
        @media (min-width: 1200px)
            padding: 55px 0 30px 0
        h4
            font-size: 25px
        a
            font-size: 17px
        p
            font-size: 17px
        ol
            list-style: decimal
            li
                display: list-item
                margin-left: 20px
    .container
        .footer-standard-aside
            font-size: 16px
            align-items: flex-end
            text-align: left
            flex-wrap: wrap
            .img_wrapper
                flex-basis: 100%
                max-width: 100%
                margin: 0
                margin-bottom: 10px

                @media (min-width:1200px)
                    flex-basis: 30%
                    max-width: 30%
                    margin: 0
                    margin-right: 10px
                .imgs
                    margin-bottom: 10px
            .copyright
                @media (min-width:1200px)
                    flex-basis: 54%
                    max-width: 54%
                margin: 0
            .other_words
                @media (min-width:1200px)
                    flex-basis: 15%
                    max-width: 15%
                margin: 0
            