.content
  li.post_item
    margin: 0
    margin-bottom: 15px
    display: block
    .img_wrap
      img
        opacity: 1
        transition: all 0.5s
        &:hover
          opacity: 0.8
    a.title

      h2
        font-size: 2.5rem
        margin-top: 10px
        margin-bottom: 10px
        color: #5360E2
        font-weight: bold
        &:hover
          color: #000

    .date
      margin-top: 5px
      margin-bottom: 5px
      font-size: 17px
      color: #595757

    p
      margin-top: 0px
