.news_block
    padding: 75px 0
    .button-outer
        @media (min-width: 1200px)
            margin-top: 100px
    .post-classic
        .post-classic-meta
            .button-winona
                color: #5160E0
                font-size: 16px
            time
                font-size: 16px
                color: #959696
        .post-classic-title
            max-width: none
            a
                font-size: 17px
                color: #727171